node-red-config/flows.json
[
    {
        "id": "8e69476215f7ebaf",
        "type": "tab",
        "label": "SinaisSimulados 01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d557e73cbc54abd",
        "type": "tab",
        "label": "Tratamento de Falhas",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "539de8bfcd566b4e",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8bcaafa1e850f05",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b836b91426a78051",
        "type": "group",
        "z": "8e69476215f7ebaf",
        "name": "Temperatura Ambiente",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.55",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "3c6ea4a3e8ab8d08",
            "95d7920f39e71274",
            "6589d8372ef91d24"
        ],
        "x": 34,
        "y": 39,
        "w": 432,
        "h": 122
    },
    {
        "id": "5b5ca10ce118bd5f",
        "type": "group",
        "z": "2d557e73cbc54abd",
        "name": "Exemplo de utilização de Arquivo Config para consultar tabela string",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.55",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "14f60c83feae1c69",
            "e2d4a2ed11022bef",
            "d1dd362437ac9a27",
            "7296116cba18bf7e",
            "71cc17e468d7f3ec",
            "0e50c1ade396568b",
            "d15dfefb3e45518d",
            "91f39940a364c7cf",
            "ecc4a97c448b261e",
            "8de066c95acfe3a1"
        ],
        "x": 34,
        "y": 19,
        "w": 1172,
        "h": 122
    },
    {
        "id": "73f391212dd71f0c",
        "type": "group",
        "z": "2d557e73cbc54abd",
        "name": "Subida de Falhas do Misturador 04",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.55",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [],
        "x": 34,
        "y": 1039,
        "w": 226,
        "h": 40
    },
    {
        "id": "1440970ab54cf8e3",
        "type": "group",
        "z": "2d557e73cbc54abd",
        "name": "Subida de Falhas do Misturador 05",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.55",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [],
        "x": 34,
        "y": 1299,
        "w": 226,
        "h": 40
    },
    {
        "id": "c681a42ffddbb03b",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "Cluster-EasyTek",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://rgustavo32s:Eletrica14@cluster-easytek.eljwyem.mongodb.net/?retryWrites=true&w=majority&appName=Cluster-EasyTek",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "30fe623ac22a217b",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "d97688cddf164314b10b548c2d44208b.s1.eu.hivemq.cloud:8883",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "680a09ce352c8ad7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "d97688cddf164314b10b548c2d44208b.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "30fe623ac22a217b",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "512a2474b41b212f",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "Cluster-EasyTek",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://rgustavo32s:<db_password>@cluster-easytek.eljwyem.mongodb.net/?retryWrites=true&w=majority&appName=Cluster-EasyTek",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "50fc5c2a64d40a1e",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.10",
        "tcpPort": "8899",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 500,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "fc161e80a8dc4243",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "host.docker.internal",
        "port": "27017",
        "dbName": "Cluster-EasyTek",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "3c6ea4a3e8ab8d08",
        "type": "comment",
        "z": "8e69476215f7ebaf",
        "g": "b836b91426a78051",
        "name": "Primeiro SInal Analógico Randômico",
        "info": "Para simulação de Fábrica, foi pensado em\ncriar sinais randomicos a fim de simular\nde forma aleatória algumas indicações\n----------------------\nMas como simular? Que intensidade de \nalteração, janela de oscilação aceitável, \netc.\nEntão essa foi a forma testar isso.\nprovavelmente não sera usado no projeto",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "95d7920f39e71274",
        "type": "inject",
        "z": "8e69476215f7ebaf",
        "g": "b836b91426a78051",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "6589d8372ef91d24"
            ]
        ]
    },
    {
        "id": "6589d8372ef91d24",
        "type": "function",
        "z": "8e69476215f7ebaf",
        "g": "b836b91426a78051",
        "name": "function 1",
        "func": "// Verifica se msg.payload é um número e não é undefined ou null\nif (msg.payload !== undefined && msg.payload !== null) {\n    // Converte msg.payload para número e divide por 10000\n    msg.payload = Number(msg.payload) / 1000;\n    \n    // Obtém a parte decimal do número\n    msg.payload = msg.payload - Math.floor(msg.payload);\n    msg.payload = parseFloat(msg.payload.toFixed(4));\n\n} else {\n    // Emite um aviso se msg.payload for undefined ou null\n    node.warn(\"msg.payload is undefined or null\");\n}\n\n// Retorna a mensagem modificada\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b5a93c116c9a2c3a",
        "type": "comment",
        "z": "8e69476215f7ebaf",
        "name": "Teste Deploy NoderRed",
        "info": "",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "c7045c7b3debb6fd",
        "type": "comment",
        "z": "8e69476215f7ebaf",
        "name": "Teste Deploy NodeRed 2",
        "info": "",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "d34e25e075fa3a74",
        "type": "comment",
        "z": "8e69476215f7ebaf",
        "name": "Teste Deploy NodeRed 2",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "14f60c83feae1c69",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Split dos códigos",
        "func": "// Exemplo de código para o nó function\nlet valor = msg.payload; // Supondo que o valor DINT esteja em msg.payload\nlet tipoMaquina = Math.floor(valor / 1000000);\nlet qualMaquina = Math.floor((valor % 1000000) / 10000);\nlet categoriaFalha = Math.floor((valor % 10000) / 100);\nlet descricaoFalha = valor % 100;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 60,
        "wires": [
            [
                "e2d4a2ed11022bef"
            ]
        ]
    },
    {
        "id": "e2d4a2ed11022bef",
        "type": "file in",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Local do Arquivo config",
        "filename": "\\\\192.168.50.177\\Home\\Gestao de Projetos\\FactorySimulation Config\\config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "d1dd362437ac9a27"
            ]
        ]
    },
    {
        "id": "d1dd362437ac9a27",
        "type": "json",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Converte para JS",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 850,
        "y": 60,
        "wires": [
            [
                "d15dfefb3e45518d"
            ]
        ]
    },
    {
        "id": "7296116cba18bf7e",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('config'); // Supondo que o arquivo JSON foi armazenado em um contexto global\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString().padStart(2, '0')];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(2, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 100,
        "wires": [
            [
                "ecc4a97c448b261e"
            ]
        ]
    },
    {
        "id": "71cc17e468d7f3ec",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Armazenando conteúdo",
        "func": "// Supondo que o conteúdo JSON já foi convertido\nglobal.set('config', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 100,
        "wires": [
            [
                "7296116cba18bf7e"
            ]
        ]
    },
    {
        "id": "0e50c1ade396568b",
        "type": "inject",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01010460",
        "payloadType": "num",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "14f60c83feae1c69"
            ]
        ]
    },
    {
        "id": "d15dfefb3e45518d",
        "type": "link out",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "OutConfig01",
        "mode": "link",
        "links": [
            "91f39940a364c7cf"
        ],
        "x": 1135,
        "y": 60,
        "wires": []
    },
    {
        "id": "91f39940a364c7cf",
        "type": "link in",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "InConfig01",
        "links": [
            "d15dfefb3e45518d"
        ],
        "x": 75,
        "y": 100,
        "wires": [
            [
                "71cc17e468d7f3ec"
            ]
        ]
    },
    {
        "id": "ecc4a97c448b261e",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Obtém o moment do contexto global\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (tipoMaquinaDesc === undefined || qualMaquinaDesc === undefined || \n    categoriaFalhaDesc === undefined || descricaoFalhaDesc === undefined) {\n    // Opcional: Você pode configurar uma mensagem de erro no payload, se desejar informar o erro\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg; // Retorna a mensagem sem executar a inserção no banco\n}\n\n// Ajusta o dateTime para o fuso horário de São Paulo, corrigindo a diferença de horas\nlet dateTime = moment().tz('America/Sao_Paulo').format('YYYY-MM-DD HH:mm:ss');\n\n// Criação da consulta SQL de inserção\nmsg.topic = `INSERT INTO tabela_falhas (tipoMaquinaDesc, qualMaquinaDesc, categoriaFalhaDesc, descricaoFalhaDesc, date_time) VALUES ('${tipoMaquinaDesc}', '${qualMaquinaDesc}', '${categoriaFalhaDesc}', '${descricaoFalhaDesc}', '${dateTime}')`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 100,
        "wires": [
            [
                "8de066c95acfe3a1"
            ]
        ]
    },
    {
        "id": "8de066c95acfe3a1",
        "type": "debug",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 100,
        "wires": []
    },
    {
        "id": "dc42dd6cd223179a",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "name": "Split dos códigos",
        "func": "// Exemplo de código para o nó function\nlet valor = msg.payload; // Supondo que o valor DINT esteja em msg.payload\nlet tipoMaquina = Math.floor(valor / 1000000);\nlet qualMaquina = Math.floor((valor % 1000000) / 10000);\nlet categoriaFalha = Math.floor((valor % 10000) / 100);\nlet descricaoFalha = valor % 100;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "65ad1687a4c0c15e"
            ]
        ]
    },
    {
        "id": "65ad1687a4c0c15e",
        "type": "file in",
        "z": "2d557e73cbc54abd",
        "name": "Local do Arquivo config",
        "filename": "/data/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "dfe34cdc19e1ba6d"
            ]
        ]
    },
    {
        "id": "dfe34cdc19e1ba6d",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "name": "Armazenando conteúdo",
        "func": "// Garante que está salvando como JSON de verdade\nlet config = {};\ntry {\n    config = JSON.parse(msg.payload);\n    global.set('config', config);\n    return msg;\n} catch (e) {\n    msg.payload = \"Erro ao carregar config.json: \" + e;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 180,
        "wires": [
            [
                "2ad524e51892b71d"
            ]
        ]
    },
    {
        "id": "52ef63363b45f938",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('config'); // Supondo que o arquivo JSON foi armazenado em um contexto global\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString().padStart(2, '0')];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(2, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "5d4a72c2423c8fc5"
            ]
        ]
    },
    {
        "id": "5d4a72c2423c8fc5",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Se quiser usar moment pra timezone, mas já vamos gerar o Date padrão\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (\n    tipoMaquinaDesc === undefined ||\n    qualMaquinaDesc === undefined ||\n    categoriaFalhaDesc === undefined ||\n    descricaoFalhaDesc === undefined\n) {\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg;\n}\n\n// Hora de São Paulo, sem milissegundos, no formato Date global (UTC)\nlet agora = new Date();\nagora.setMilliseconds(0); // Zera milissegundos (caso queira precisão só até os segundos)\n\n// Para ajustar para o fuso de São Paulo e exibir a ISO UTC correspondente:\nlet tz = moment().tz('America/Sao_Paulo');\n// Cria um objeto Date em UTC correspondente ao horário de São Paulo\nlet dateTimeSP = new Date(\n    Date.UTC(\n        tz.year(),\n        tz.month(),\n        tz.date(),\n        tz.hour(),\n        tz.minute(),\n        tz.second()\n    )\n);\n\n// Monta o objeto (como desejado para MongoDB ou JSON/API)\nmsg.payload = {\n    tipoMaquinaDesc: tipoMaquinaDesc,\n    qualMaquinaDesc: qualMaquinaDesc,\n    categoriaFalhaDesc: categoriaFalhaDesc,\n    descricaoFalhaDesc: descricaoFalhaDesc,\n    date_time: dateTimeSP // <-- este é um Date! MongoDB salva como ISODate, drivers/API serializam em ISO 8601.\n};\n\n// Opcional: marque a operação, se for para MongoDB no Node-RED\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "e2ec8ade754a23a4"
            ]
        ]
    },
    {
        "id": "e2ec8ade754a23a4",
        "type": "mongodb4",
        "z": "2d557e73cbc54abd",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "MisturadoresFalhas",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 710,
        "y": 240,
        "wires": [
            [
                "fddbb3fba5fdb62a"
            ]
        ]
    },
    {
        "id": "fddbb3fba5fdb62a",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "name": "Zera Tag CodFalha",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "685a3253fa1f6212",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "name": "Verifica se >0",
        "func": "// Esta função será usada dentro de um nó de função no Node-RED\nif (typeof msg.payload === 'number' && msg.payload > 0) {\n    // Retorna a mensagem com apenas o topic e o payload\n    return { topic: msg.topic, payload: msg.payload };\n} else {\n    // Retorna null para interromper o fluxo se a condição não for atendida\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "dc42dd6cd223179a"
            ]
        ]
    },
    {
        "id": "2ad524e51892b71d",
        "type": "link out",
        "z": "2d557e73cbc54abd",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "88e034a39413e23c"
        ],
        "x": 1215,
        "y": 180,
        "wires": []
    },
    {
        "id": "88e034a39413e23c",
        "type": "link in",
        "z": "2d557e73cbc54abd",
        "name": "link in 2",
        "links": [
            "2ad524e51892b71d"
        ],
        "x": 45,
        "y": 240,
        "wires": [
            [
                "52ef63363b45f938"
            ]
        ]
    },
    {
        "id": "0b17e216e3b15a12",
        "type": "mqtt in",
        "z": "539de8bfcd566b4e",
        "name": "",
        "topic": "supervisorio/setpoint01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "680a09ce352c8ad7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "cf7e968728686272"
            ]
        ]
    },
    {
        "id": "cf7e968728686272",
        "type": "debug",
        "z": "539de8bfcd566b4e",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd76f6768882146b",
        "type": "mqtt in",
        "z": "539de8bfcd566b4e",
        "name": "",
        "topic": "supervisorio/setpoint02",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "680a09ce352c8ad7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "0cd2010b9811c672"
            ]
        ]
    },
    {
        "id": "0cd2010b9811c672",
        "type": "debug",
        "z": "539de8bfcd566b4e",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "577cfec5ec5d9117",
        "type": "mqtt in",
        "z": "539de8bfcd566b4e",
        "name": "",
        "topic": "supervisorio/setpoint03",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "680a09ce352c8ad7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "5a98f0888e14193a"
            ]
        ]
    },
    {
        "id": "5a98f0888e14193a",
        "type": "debug",
        "z": "539de8bfcd566b4e",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "7dc34cd22c3bf5dd",
        "type": "mqtt in",
        "z": "539de8bfcd566b4e",
        "name": "",
        "topic": "supervisorio/setpoint04",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "680a09ce352c8ad7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "7ae94d080d7b6620"
            ]
        ]
    },
    {
        "id": "7ae94d080d7b6620",
        "type": "debug",
        "z": "539de8bfcd566b4e",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 440,
        "wires": []
    },
    {
        "id": "c5d25bfb39378cbc",
        "type": "inject",
        "z": "c8bcaafa1e850f05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "596d81e600568a95",
                "3e2f9029716b9ec5"
            ]
        ]
    },
    {
        "id": "9c4ab88bd1983a17",
        "type": "mongodb4",
        "z": "c8bcaafa1e850f05",
        "clientNode": "512a2474b41b212f",
        "mode": "collection",
        "collection": "Node-Red",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8c9593bd26747d04",
        "type": "debug",
        "z": "c8bcaafa1e850f05",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "cf091831c1cd3a1e",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 24",
        "func": "// =================================================================\n// Função \"Cérebro\" com Lógica Dupla (Aprendizagem e Operação)\n// VERSÃO: Monitoramento Trifásico (L1, L2, L3)\n// =================================================================\n\n// --- SEÇÃO DE CONFIGURAÇÃO ---\nconst LIMITE_FP = 0.92;\nconst LIMITE_ZSCORE = 3.0;\n\n// --- SEÇÃO DE FUNÇÕES AUXILIARES ---\nfunction media(arr) {\n    if (!arr || arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr, mediaArr) {\n    if (!arr || arr.length < 2) return null;\n    const m = mediaArr || media(arr);\n    if (m === null) return null;\n    const variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\n// --- LÓGICA PRINCIPAL ---\nconst modoAprendizagem = flow.get('modo_aprendizagem') || false;\nconst fimTimestamp = flow.get('fim_aprendizagem_timestamp');\nconst agora = new Date();\n\n// Recupera e calcula a média das correntes do último intervalo\nlet correntesL1 = flow.get('Corrente_L1') || [];\nlet correntesL2 = flow.get('Corrente_L2') || []; // NOVO\nlet correntesL3 = flow.get('Corrente_L3') || []; // NOVO\nlet mediaCorrenteL1 = media(correntesL1);\nlet mediaCorrenteL2 = media(correntesL2); // NOVO\nlet mediaCorrenteL3 = media(correntesL3); // NOVO\n\n// Limpa os buffers de coleta para o próximo ciclo\nflow.set('Corrente_L1', []);\nflow.set('Corrente_L2', []); // NOVO\nflow.set('Corrente_L3', []); // NOVO\nflow.set('Tensao_L1N', []);\nflow.set('PotAtivaTotal', []);\nflow.set('PotReativaTotal', []);\nflow.set('FatPotTotal', []);\n\n\n// =================================================================\n// COMPORTAMENTO 1: MODO DE APRENDIZAGEM ATIVO\n// =================================================================\nif (modoAprendizagem === true && fimTimestamp && agora.getTime() < fimTimestamp) {\n    // Pega os arrays de aprendizagem ou cria novos\n    let dadosAprendizagemL1 = flow.get('dados_aprendizagem_corrente_l1') || [];\n    let dadosAprendizagemL2 = flow.get('dados_aprendizagem_corrente_l2') || []; // NOVO\n    let dadosAprendizagemL3 = flow.get('dados_aprendizagem_corrente_l3') || []; // NOVO\n\n    // Adiciona as médias do intervalo atual aos arrays de aprendizagem\n    if (mediaCorrenteL1 !== null) dadosAprendizagemL1.push(mediaCorrenteL1);\n    if (mediaCorrenteL2 !== null) dadosAprendizagemL2.push(mediaCorrenteL2); // NOVO\n    if (mediaCorrenteL3 !== null) dadosAprendizagemL3.push(mediaCorrenteL3); // NOVO\n\n    flow.set('dados_aprendizagem_corrente_l1', dadosAprendizagemL1);\n    flow.set('dados_aprendizagem_corrente_l2', dadosAprendizagemL2); // NOVO\n    flow.set('dados_aprendizagem_corrente_l3', dadosAprendizagemL3); // NOVO\n\n    node.status({ fill: \"blue\", shape: \"dot\", text: `Aprendendo... ${dadosAprendizagemL1.length} amostras` });\n    return null;\n\n    // =================================================================\n    // COMPORTAMENTO 2: FIM DO PERÍODO DE APRENDIZAGEM\n    // =================================================================\n} else if (modoAprendizagem === true && fimTimestamp && agora.getTime() >= fimTimestamp) {\n    node.warn(\"Período de aprendizagem CONCLUÍDO!\");\n    // Pega os dados coletados\n    let dadosAprendizagemL1 = flow.get('dados_aprendizagem_corrente_l1') || [];\n    let dadosAprendizagemL2 = flow.get('dados_aprendizagem_corrente_l2') || []; // NOVO\n    let dadosAprendizagemL3 = flow.get('dados_aprendizagem_corrente_l3') || []; // NOVO\n\n    // Calcula e salva a linha de base para CADA FASE\n    // Fase 1\n    let mediaFinalL1 = media(dadosAprendizagemL1);\n    let stdDevFinalL1 = desvioPadrao(dadosAprendizagemL1, mediaFinalL1);\n    if (mediaFinalL1 !== null) global.set('historicoMediaCorrenteL1', mediaFinalL1);\n    if (stdDevFinalL1 !== null) global.set('historicoStdDevCorrenteL1', stdDevFinalL1);\n\n    // Fase 2 (NOVO)\n    let mediaFinalL2 = media(dadosAprendizagemL2);\n    let stdDevFinalL2 = desvioPadrao(dadosAprendizagemL2, mediaFinalL2);\n    if (mediaFinalL2 !== null) global.set('historicoMediaCorrenteL2', mediaFinalL2);\n    if (stdDevFinalL2 !== null) global.set('historicoStdDevCorrenteL2', stdDevFinalL2);\n\n    // Fase 3 (NOVO)\n    let mediaFinalL3 = media(dadosAprendizagemL3);\n    let stdDevFinalL3 = desvioPadrao(dadosAprendizagemL3, mediaFinalL3);\n    if (mediaFinalL3 !== null) global.set('historicoMediaCorrenteL3', mediaFinalL3);\n    if (stdDevFinalL3 !== null) global.set('historicoStdDevCorrenteL3', stdDevFinalL3);\n\n    node.warn(`NOVA LINHA DE BASE L1: Média=${mediaFinalL1.toFixed(2)}, DP=${stdDevFinalL1.toFixed(2)}`);\n    node.warn(`NOVA LINHA DE BASE L2: Média=${mediaFinalL2.toFixed(2)}, DP=${stdDevFinalL2.toFixed(2)}`);\n    node.warn(`NOVA LINHA DE BASE L3: Média=${mediaFinalL3.toFixed(2)}, DP=${stdDevFinalL3.toFixed(2)}`);\n\n    // Desliga o modo de aprendizagem\n    flow.set('modo_aprendizagem', false);\n    flow.set('fim_aprendizagem_timestamp', null);\n\n    node.status({ fill: \"green\", shape: \"ring\", text: \"Aprendizagem finalizada\" });\n    return null;\n\n    // =================================================================\n    // COMPORTAMENTO 3: MODO DE OPERAÇÃO NORMAL\n    // =================================================================\n} else {\n    // Recupera a linha de base aprendida para cada fase\n    const historicoMediaL1 = global.get('historicoMediaCorrenteL1') || 0;\n    const historicoStdDevL1 = global.get('historicoStdDevCorrenteL1') || 1;\n    const historicoMediaL2 = global.get('historicoMediaCorrenteL2') || 0; // NOVO\n    const historicoStdDevL2 = global.get('historicoStdDevCorrenteL2') || 1; // NOVO\n    const historicoMediaL3 = global.get('historicoMediaCorrenteL3') || 0; // NOVO\n    const historicoStdDevL3 = global.get('historicoStdDevCorrenteL3') || 1; // NOVO\n\n    // Calcula o Z-score para cada fase\n    let zScoreL1 = (mediaCorrenteL1 - historicoMediaL1) / historicoStdDevL1;\n    let zScoreL2 = (mediaCorrenteL2 - historicoMediaL2) / historicoStdDevL2; // NOVO\n    let zScoreL3 = (mediaCorrenteL3 - historicoMediaL3) / historicoStdDevL3; // NOVO\n\n    let mediaFatorPotencia = media(flow.get('FatPotTotal') || []);\n\n    // Monta o payload para o MongoDB\n    let novoPayload = {\n        DateTime: agora,\n        Corrente_L1_media: mediaCorrenteL1,\n        Corrente_L2_media: mediaCorrenteL2, // NOVO\n        Corrente_L3_media: mediaCorrenteL3, // NOVO\n        Fator_Potencia_medio: mediaFatorPotencia,\n        ZScore_L1: zScoreL1,\n        ZScore_L2: zScoreL2, // NOVO\n        ZScore_L3: zScoreL3  // NOVO\n    };\n\n    msg.payload = novoPayload;\n    msg.operation = \"insertOne\";\n\n    // Lógica de Alertas\n    let alertas = [];\n    if (mediaFatorPotencia !== null && mediaFatorPotencia < LIMITE_FP) {\n        alertas.push(`ALERTA FP: ${mediaFatorPotencia.toFixed(2)}`);\n    }\n    if (zScoreL1 !== null && Math.abs(zScoreL1) > LIMITE_ZSCORE) {\n        alertas.push(`ALERTA L1 Z-score: ${zScoreL1.toFixed(2)}`);\n    }\n    if (zScoreL2 !== null && Math.abs(zScoreL2) > LIMITE_ZSCORE) { // NOVO\n        alertas.push(`ALERTA L2 Z-score: ${zScoreL2.toFixed(2)}`);\n    }\n    if (zScoreL3 !== null && Math.abs(zScoreL3) > LIMITE_ZSCORE) { // NOVO\n        alertas.push(`ALERTA L3 Z-score: ${zScoreL3.toFixed(2)}`);\n    }\n\n    node.status({ fill: \"green\", shape: \"dot\", text: `Operando. Z1: ${zScoreL1.toFixed(1)}, Z2: ${zScoreL2.toFixed(1)}, Z3: ${zScoreL3.toFixed(1)}` });\n\n    if (alertas.length > 0) {\n        return [msg, { payload: alertas.join(' | ') }];\n    } else {\n        return [msg, null];\n    }\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 140,
        "wires": [
            [
                "9c4ab88bd1983a17",
                "8c9593bd26747d04"
            ],
            [
                "63771ce1b47e30f4"
            ]
        ]
    },
    {
        "id": "7dad0f8b85662c87",
        "type": "inject",
        "z": "c8bcaafa1e850f05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "cf091831c1cd3a1e"
            ]
        ]
    },
    {
        "id": "modbus_read_all_data",
        "type": "modbus-getter",
        "z": "c8bcaafa1e850f05",
        "name": "Tensão L1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "e42d3c7bad12f683"
            ],
            []
        ]
    },
    {
        "id": "e42d3c7bad12f683",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 2",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n    // Create a Buffer object from the raw byte array\n    // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n    const buf = Buffer.from(msg.responseBuffer.buffer);\n\n    // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n    const floatValue = buf.readFloatBE(0);\n\n    // Round to 2 decimal places\n    msg.payload = parseFloat(floatValue.toFixed(2));\n\n    // Optional: Log the result for debugging\n    // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n    // Handle cases where the buffer is missing or too short\n    node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n    // Set payload to null or keep it as is, depending on desired error handling\n    msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "3d5a2c380831b17a"
            ]
        ]
    },
    {
        "id": "d6397bf1cb250a06",
        "type": "modbus-getter",
        "z": "c8bcaafa1e850f05",
        "name": "Tensão L2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "d704c5b479a5a346"
            ],
            []
        ]
    },
    {
        "id": "0bcd3b619655fdcd",
        "type": "modbus-getter",
        "z": "c8bcaafa1e850f05",
        "name": "Tensão L3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "5",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "0f40d2ed5401ee13"
            ],
            []
        ]
    },
    {
        "id": "d704c5b479a5a346",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 3",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n    // Create a Buffer object from the raw byte array\n    // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n    const buf = Buffer.from(msg.responseBuffer.buffer);\n\n    // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n    const floatValue = buf.readFloatBE(0);\n\n    // Round to 2 decimal places\n    msg.payload = parseFloat(floatValue.toFixed(2));\n\n    // Optional: Log the result for debugging\n    // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n    // Handle cases where the buffer is missing or too short\n    node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n    // Set payload to null or keep it as is, depending on desired error handling\n    msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "a9fbf29c5c1778e4"
            ]
        ]
    },
    {
        "id": "0f40d2ed5401ee13",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 4",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n    // Create a Buffer object from the raw byte array\n    // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n    const buf = Buffer.from(msg.responseBuffer.buffer);\n\n    // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n    const floatValue = buf.readFloatBE(0);\n\n    // Round to 2 decimal places\n    msg.payload = parseFloat(floatValue.toFixed(2));\n\n    // Optional: Log the result for debugging\n    // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n    // Handle cases where the buffer is missing or too short\n    node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n    // Set payload to null or keep it as is, depending on desired error handling\n    msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 340,
        "wires": [
            [
                "ea880e2d89b3615c"
            ]
        ]
    },
    {
        "id": "596d81e600568a95",
        "type": "link out",
        "z": "c8bcaafa1e850f05",
        "name": "Varr_1s",
        "mode": "link",
        "links": [
            "82d5a1f20dbd2c7e"
        ],
        "x": 345,
        "y": 80,
        "wires": []
    },
    {
        "id": "82d5a1f20dbd2c7e",
        "type": "link in",
        "z": "c8bcaafa1e850f05",
        "name": "Varr_1s",
        "links": [
            "596d81e600568a95"
        ],
        "x": 105,
        "y": 280,
        "wires": [
            [
                "modbus_read_all_data",
                "d6397bf1cb250a06",
                "0bcd3b619655fdcd"
            ]
        ]
    },
    {
        "id": "c41b656c31555cc3",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 25",
        "func": "// Recupera os arrays do contexto de fluxo (ou inicializa como vazio)\nlet Tensao_L1N = flow.get('Tensao_L1N') || [];\nlet Tensao_L2N = flow.get('Tensao_L2N') || [];\nlet Tensao_L3N = flow.get('Tensao_L3N') || [];\n\n// Função para calcular a média\nfunction media(arr) {\n    if (arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\n// Função para calcular o desvio padrão (opcional, igual ao exemplo original)\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\n// Gera data atual sem milissegundos\nlet agora = new Date();\nagora.setMilliseconds(0);\n\n// Monta o payload, usando a média dos arrays de tensão\nlet novoPayload = {\n    DateTime: agora,               // Data/hora sem milissegundos\n    Tensao_L1N: media(Tensao_L1N), // Média dos valores L1N\n    Tensao_L2N: media(Tensao_L2N), // Média dos valores L2N\n    Tensao_L3N: media(Tensao_L3N)  // Média dos valores L3N\n};\n\n// (Opcional) Para debug, adicione contagens e desvios padrão:\nmsg.L1Ncount = Tensao_L1N.length;\nmsg.L2Ncount = Tensao_L2N.length;\nmsg.L3Ncount = Tensao_L3N.length;\nmsg.L1Ndesvio = desvioPadrao(Tensao_L1N);\nmsg.L2Ndesvio = desvioPadrao(Tensao_L2N);\nmsg.L3Ndesvio = desvioPadrao(Tensao_L3N);\n\n// Limpa os arrays do contexto para próxima coleta\nflow.set('Tensao_L1N', []);\nflow.set('Tensao_L2N', []);\nflow.set('Tensao_L3N', []);\n\nmsg.payload = novoPayload;\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "63771ce1b47e30f4",
        "type": "debug",
        "z": "c8bcaafa1e850f05",
        "name": "Alertas",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "7ff040e890b9a07e",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "Controlador de Aprendizagem.",
        "func": "// Define por quantas horas o sistema deve aprender.\n// Você pode alterar este valor quando quiser.\nconst HORAS_PARA_APRENDER = 24;\n\n// O comando (true ou false) virá de um nó inject.\nconst comando = msg.payload;\n\nif (comando === true) {\n    // Se o comando for LIGAR (true):\n    flow.set('modo_aprendizagem', true);\n    flow.set('dados_aprendizagem_corrente_l1', []); // Limpa dados antigos\n\n    const agora = new Date();\n    const fimTimestamp = agora.getTime() + HORAS_PARA_APRENDER * 60 * 60 * 1000;\n    flow.set('fim_aprendizagem_timestamp', fimTimestamp);\n\n    node.warn(`MODO DE APRENDIZAGEM ATIVADO por ${HORAS_PARA_APRENDER} horas.`);\n\n} else {\n    // Se o comando for DESLIGAR (false):\n    flow.set('modo_aprendizagem', false);\n    flow.set('fim_aprendizagem_timestamp', null);\n    flow.set('dados_aprendizagem_corrente_l1', []);\n\n    node.warn(\"MODO DE APRENDIZAGEM DESATIVADO.\");\n}\n\nreturn null; // Apenas configura o sistema, não passa a mensagem adiante.\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "5a0c7b8a34217f44",
        "type": "inject",
        "z": "c8bcaafa1e850f05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "7ff040e890b9a07e"
            ]
        ]
    },
    {
        "id": "ce61a12106d58b51",
        "type": "inject",
        "z": "c8bcaafa1e850f05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "7ff040e890b9a07e"
            ]
        ]
    },
    {
        "id": "45b8f5ea6288a773",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 26",
        "func": "// =================================================================\n// PASSO 1: RECUPERAR TODOS OS ARRAYS DE DADOS DO CONTEXTO\n// =================================================================\n// Se um array não existir ainda, ele é inicializado como um array vazio [].\nlet tensoesL1 = flow.get('Tensao_L1N') || [];\nlet tensoesL2 = flow.get('Tensao_L2N') || [];\nlet tensoesL3 = flow.get('Tensao_L3N') || [];\nlet correntesL1 = flow.get('Corrente_L1') || [];\nlet correntesL2 = flow.get('Corrente_L2') || [];\nlet correntesL3 = flow.get('Corrente_L3') || [];\nlet potenciasAtivas = flow.get('PotAtivaTotal') || [];\nlet potenciasReativas = flow.get('PotReativaTotal') || [];\nlet fatoresPotencia = flow.get('FatPotTotal') || [];\n\n\n// =================================================================\n// PASSO 2: FUNÇÕES DE CÁLCULO\n// =================================================================\nfunction media(arr) {\n    if (!arr || arr.length === 0) return null;\n    const sum = arr.reduce((a, b) => a + b, 0);\n    return sum / arr.length;\n}\n\nfunction desvioPadrao(arr, mediaArr) {\n    if (!arr || arr.length < 2) return null;\n    const m = mediaArr || media(arr);\n    if (m === null) return null;\n    const variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\n\n// =================================================================\n// PASSO 3: APLICAR AS EQUAÇÕES E GERAR INSIGHTS\n// =================================================================\n// Calcula as médias de todas as variáveis coletadas no período\nlet mediaTensaoL1 = media(tensoesL1);\nlet mediaCorrenteL1 = media(correntesL1);\nlet mediaPotenciaAtiva = media(potenciasAtivas);\nlet mediaPotenciaReativa = media(potenciasReativas);\nlet mediaFatorPotencia = media(fatoresPotencia); // Média do FP lido diretamente\n\n// --- Análise de Manutenção Preditiva: Z-score ---\n// NOTA: Para um Z-score real, a média e o desvio padrão históricos deveriam vir de\n// um contexto global ou de uma consulta ao banco de dados.\n// Por simplicidade, vamos usar valores fixos como exemplo.\n// TODO: Substitua estes valores fixos por valores históricos reais da sua planta.\nconst historicoMediaCorrenteL1 = 10.0; // Ex: Média histórica de corrente da fase 1 é 10A\nconst historicoStdDevCorrenteL1 = 0.5;  // Ex: Desvio padrão histórico é 0.5A\n\nlet zScoreCorrenteL1 = null;\nif (mediaCorrenteL1 !== null) {\n    zScoreCorrenteL1 = (mediaCorrenteL1 - historicoMediaCorrenteL1) / historicoStdDevCorrenteL1;\n}\n\n\n// =================================================================\n// PASSO 4: MONTAR O PAYLOAD PARA O BANCO DE DADOS\n// =================================================================\nlet agora = new Date();\nagora.setMilliseconds(0);\n\nlet novoPayload = {\n    DateTime: agora,\n    // Médias das leituras\n    Tensao_L1N_media: mediaTensaoL1,\n    Corrente_L1_media: mediaCorrenteL1,\n    Potencia_Ativa_media: mediaPotenciaAtiva,\n    Potencia_Reativa_media: mediaPotenciaReativa,\n    Fator_Potencia_medio: mediaFatorPotencia,\n    // Insights calculados\n    ZScore_Corrente_L1: zScoreCorrenteL1\n};\n\n// Prepara a mensagem para o nó do MongoDB\nmsg.payload = novoPayload;\nmsg.operation = \"insertOne\";\n\n\n// =================================================================\n// PASSO 5: CRIAR E ENVIAR ALERTAS (PARA A SEGUNDA SAÍDA)\n// =================================================================\nlet alertas = [];\nconst LIMITE_FP = 0.92;\nconst LIMITE_ZSCORE = 3.0;\n\nif (mediaFatorPotencia !== null && mediaFatorPotencia < LIMITE_FP) {\n    alertas.push(`ALERTA DE ENERGIA: Fator de Potência baixo: ${mediaFatorPotencia.toFixed(2)}`);\n}\n\nif (zScoreCorrenteL1 !== null && Math.abs(zScoreCorrenteL1) > LIMITE_ZSCORE) {\n    alertas.push(`ALERTA DE MANUTENÇÃO: Anomalia de corrente na Fase 1! Z-score: ${zScoreCorrenteL1.toFixed(2)}`);\n}\n\n// Limpa os arrays no contexto para o próximo ciclo de coleta\nflow.set('Tensao_L1N', []);\nflow.set('Corrente_L1', []);\nflow.set('PotAtivaTotal', []);\nflow.set('PotReativaTotal', []);\nflow.set('FatPotTotal', []);\n// Adicione aqui a limpeza para os outros arrays que você criar (Tensão L2, L3, etc.)\n\n\n// Envia as mensagens para as saídas corretas\n// Saída 1 (índice 0): Dados para o MongoDB\n// Saída 2 (índice 1): Alertas\nif (alertas.length > 0) {\n    // Retorna um array com a mensagem para cada saída\n    return [msg, { payload: alertas.join(' | ') }];\n} else {\n    // Se não houver alertas, envia a mensagem para a primeira saída e 'null' para a segunda\n    return [msg, null];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3e2f9029716b9ec5",
        "type": "debug",
        "z": "c8bcaafa1e850f05",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "3d5a2c380831b17a",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 5",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet SE03_MM01_TensaoL1 = flow.get('SE03_MM01_TensaoL1') || [];\nSE03_MM01_TensaoL1.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('SE03_MM01_TensaoL1', SE03_MM01_TensaoL1);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "a9fbf29c5c1778e4",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 6",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet SE03_MM01_TensaoL2 = flow.get('SE03_MM01_TensaoL2') || [];\nSE03_MM01_TensaoL2.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('SE03_MM01_TensaoL2', SE03_MM01_TensaoL2);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "ea880e2d89b3615c",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 7",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet SE03_MM01_TensaoL3 = flow.get('SE03_MM01_TensaoL3') || [];\nSE03_MM01_TensaoL3.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('SE03_MM01_TensaoL3', SE03_MM01_TensaoL3);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "5e37c0c4709b6c23",
        "type": "function",
        "z": "c8bcaafa1e850f05",
        "name": "function 8",
        "func": "let SE03_MM01_TensaoL1 = flow.get('SE03_MM01_TensaoL1') || [];\nlet SE03_MM01_TensaoL2 = flow.get('SE03_MM01_TensaoL2') || [];\nlet SE03_MM01_TensaoL3 = flow.get('SE03_MM01_TensaoL3') || [];\n\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"SE03_MM01\",\n    TensaoL1: media(SE03_MM01_TensaoL1),\n    TensaoL2: media(SE03_MM01_TensaoL2),\n    TensaoL3: media(SE03_MM01_TensaoL3),\n    \n};\n\n// Campos SÓ para debug/monitoramento\nmsg.SE03_MM01_TensaoL1Count = SE03_MM01_TensaoL1.length;\nmsg.SE03_MM01_TensaoL2Count = SE03_MM01_TensaoL2.length;\nmsg.SE03_MM01_TensaoL3Count = SE03_MM01_TensaoL3.length;\n\n\nmsg.SE03_MM01_TensaoL1Desvio = desvioPadrao(SE03_MM01_TensaoL1);\nmsg.SE03_MM01_TensaoL2Desvio = desvioPadrao(SE03_MM01_TensaoL2);\nmsg.SE03_MM01_TensaoL3Desvio = desvioPadrao(SE03_MM01_TensaoL3);\n\n\n// Limpa arrays\nflow.set('SE03_MM01_TensaoL1', []);\nflow.set('SE03_MM01_TensaoL2', []);\nflow.set('SE03_MM01_TensaoL3', []);\n\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "b9c594a220bd248a"
            ]
        ]
    },
    {
        "id": "3a1712bf44618431",
        "type": "inject",
        "z": "c8bcaafa1e850f05",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130.8958282470703,
        "y": 437.90277099609375,
        "wires": [
            [
                "5e37c0c4709b6c23"
            ]
        ]
    },
    {
        "id": "105726385c9afb84",
        "type": "debug",
        "z": "c8bcaafa1e850f05",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "b9c594a220bd248a",
        "type": "mongodb4",
        "z": "c8bcaafa1e850f05",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "105726385c9afb84"
            ]
        ]
    },
    {
        "id": "cd8627ba0409ec85",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mongodb4": "3.1.1",
            "node-red-contrib-modbus": "5.43.0"
        }
    }
]