node-red/.flows.json.backup
[
    {
        "id": "8e69476215f7ebaf",
        "type": "tab",
        "label": "SinaisSimulados 01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d557e73cbc54abd",
        "type": "tab",
        "label": "Tratamento de Falhas",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b6420b8adb5a5b7",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37e6316ce545a469",
        "type": "tab",
        "label": "Fluxo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b17cc635e977db5",
        "type": "tab",
        "label": "Fluxo 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "539de8bfcd566b4e",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b836b91426a78051",
        "type": "group",
        "z": "8e69476215f7ebaf",
        "name": "Temperatura Ambiente",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.55",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "3c6ea4a3e8ab8d08",
            "95d7920f39e71274",
            "ec02628adfedf811",
            "6589d8372ef91d24"
        ],
        "x": 34,
        "y": 39,
        "w": 672,
        "h": 122
    },
    {
        "id": "5b5ca10ce118bd5f",
        "type": "group",
        "z": "2d557e73cbc54abd",
        "name": "Exemplo de utilização de Arquivo Config para consultar tabela string",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.55",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "14f60c83feae1c69",
            "e2d4a2ed11022bef",
            "d1dd362437ac9a27",
            "7296116cba18bf7e",
            "71cc17e468d7f3ec",
            "0e50c1ade396568b",
            "d15dfefb3e45518d",
            "91f39940a364c7cf",
            "ecc4a97c448b261e",
            "8de066c95acfe3a1"
        ],
        "x": 34,
        "y": 19,
        "w": 1172,
        "h": 122
    },
    {
        "id": "73f391212dd71f0c",
        "type": "group",
        "z": "2d557e73cbc54abd",
        "name": "Subida de Falhas do Misturador 04",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.55",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [],
        "x": 34,
        "y": 1039,
        "w": 226,
        "h": 40
    },
    {
        "id": "1440970ab54cf8e3",
        "type": "group",
        "z": "2d557e73cbc54abd",
        "name": "Subida de Falhas do Misturador 05",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.55",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [],
        "x": 34,
        "y": 1299,
        "w": 226,
        "h": 40
    },
    {
        "id": "3c6b59080ecf5485",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "Cluster-EasyTek",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://rgustavo32s:Eletrica14@cluster-easytek.eljwyem.mongodb.net/?retryWrites=true&w=majority&appName=Cluster-EasyTek",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "c681a42ffddbb03b",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "Cluster-EasyTek",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://rgustavo32s:Eletrica14@cluster-easytek.eljwyem.mongodb.net/?retryWrites=true&w=majority&appName=Cluster-EasyTek",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "3b57fe1078701342",
        "type": "eth-ip endpoint",
        "address": "192.168.50.190",
        "slot": "0",
        "cycletime": "1500",
        "timeout": 10000,
        "name": "PLC_SimFactory",
        "connectedMess": false,
        "vartable": {
            "": {
                "SimOEE_Decapado.InDisp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDisp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDisp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDisp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDisp_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDisp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDisp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDisp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDesemp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDesemp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDesemp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDesemp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDesempi_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDesemp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDesemp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Decapado.InDesemp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Decapado.InQuali_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InQuali_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InQuali_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InQuali_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InQuali_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Decapado.InQuali_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Decapado.InQuali_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Decapado.InQuali_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Decapado.Out_OEE": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Decapado.Disp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Decapado.Desemp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Decapado.Quali_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "CorrenteFase_Decapado_SignalR": {
                    "type": "REAL",
                    "mapping": ""
                },
                "CorrenteFase_Decapado_SignalS": {
                    "type": "REAL",
                    "mapping": ""
                },
                "CorrenteFase_Decapado_SignalT": {
                    "type": "REAL",
                    "mapping": ""
                },
                "ConsumoEnergia_Decapado_Signal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "Temp_Decapado_SignalR": {
                    "type": "REAL",
                    "mapping": ""
                },
                "Temp_Decapado_SignalS": {
                    "type": "REAL",
                    "mapping": ""
                },
                "Temp_Decapado_SignalT": {
                    "type": "REAL",
                    "mapping": ""
                },
                "Temp_Decapado_Signal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "Temp_DecapadoR.SP_SimulatedSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "Temp_DecapadoS.SP_SimulatedSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "Temp_DecapadoT.SP_SimulatedSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "Temp_Decapado.SP_SimulatedSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDisp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDisp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDisp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDisp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDisp_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDisp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDisp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDisp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDesemp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDesemp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDesemp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDesemp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDesempi_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDesemp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDesemp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist01.InDesemp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.InQuali_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InQuali_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InQuali_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InQuali_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InQuali_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.InQuali_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist01.InQuali_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist01.InQuali_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.Out_OEE": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.Disp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.Desemp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist01.Quali_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDisp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDisp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDisp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDisp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDisp_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDisp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDisp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDisp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDesemp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDesemp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDesemp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDesemp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDesempi_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDesemp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDesemp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist02.InDesemp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist02.InQuali_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InQuali_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InQuali_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InQuali_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InQuali_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist02.InQuali_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.InQuali_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist02.InQuali_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist02.Out_OEE": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist02.Disp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist02.Desemp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist02.Quali_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDisp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDisp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDisp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDisp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDisp_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDisp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDisp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDisp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDesemp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDesemp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDesemp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDesemp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDesempi_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDesemp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDesemp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist03.InDesemp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.InQuali_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InQuali_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InQuali_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InQuali_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InQuali_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.InQuali_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist03.InQuali_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist03.InQuali_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.Out_OEE": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.Disp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.Desemp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist03.Quali_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDisp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDisp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDisp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDisp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDisp_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDisp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDisp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDisp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDesemp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDesemp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDesemp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDesemp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDesempi_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDesemp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDesemp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist04.InDesemp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.InQuali_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InQuali_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InQuali_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InQuali_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InQuali_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.InQuali_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist04.InQuali_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist04.InQuali_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.Out_OEE": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.Disp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.Desemp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist04.Quali_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDisp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDisp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDisp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDisp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDisp_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDisp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDisp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDisp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDesemp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDesemp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDesemp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDesemp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDesempi_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDesemp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDesemp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist05.InDesemp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.InQuali_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InQuali_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InQuali_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InQuali_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InQuali_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.InQuali_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist05.InQuali_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist05.InQuali_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.Out_OEE": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.Disp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.Desemp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist05.Quali_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDisp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDisp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDisp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDisp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDisp_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDisp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDisp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDisp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDesemp_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDesemp_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDesemp_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDesemp_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDesempi_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDesemp_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDesemp_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist06.InDesemp_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.InQuali_Precisao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InQuali_TPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InQuali_SPJanelaTend": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InQuali_Variacao": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InQuali_SPSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.InQuali_MinAceitavel": {
                    "type": "DINT",
                    "mapping": ""
                },
                "SimOEE_Mist06.InQuali_EventExec": {
                    "type": "BOOL",
                    "mapping": ""
                },
                "SimOEE_Mist06.InQuali_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.Out_OEE": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.Disp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.Desemp_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "SimOEE_Mist06.Quali_OutSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "InNR_TimeStamp": {
                    "type": "REAL",
                    "mapping": ""
                },
                "TempAmbiente_SimulatedSignal": {
                    "type": "REAL",
                    "mapping": ""
                },
                "CodFalha_Mist01": {
                    "type": "DINT",
                    "mapping": ""
                },
                "CodFalha_Mist02": {
                    "type": "DINT",
                    "mapping": ""
                },
                "CodFalha_Mist03": {
                    "type": "DINT",
                    "mapping": ""
                },
                "CodFalha_Mist04": {
                    "type": "DINT",
                    "mapping": ""
                },
                "CodFalha_Mist05": {
                    "type": "DINT",
                    "mapping": ""
                },
                "CodFalha_Mist06": {
                    "type": "DINT",
                    "mapping": ""
                },
                "Trigger_Mist01": {
                    "type": "DINT",
                    "mapping": ""
                },
                "Trigger_Mist02": {
                    "type": "DINT",
                    "mapping": ""
                },
                "Trigger_Mist03": {
                    "type": "DINT",
                    "mapping": ""
                },
                "Trigger_Mist04": {
                    "type": "DINT",
                    "mapping": ""
                },
                "Trigger_Mist05": {
                    "type": "DINT",
                    "mapping": ""
                },
                "Trigger_Mist06": {
                    "type": "DINT",
                    "mapping": ""
                },
                "CodFalha_Decapado": {
                    "type": "DINT",
                    "mapping": ""
                }
            }
        }
    },
    {
        "id": "30fe623ac22a217b",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "d97688cddf164314b10b548c2d44208b.s1.eu.hivemq.cloud:8883",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "b6d0ccbf041c0628",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "Horto",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://rgustavo32:Eletrica14@hortotest.sosbaep.mongodb.net/?retryWrites=true&w=majority&appName=HortoTest",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "680a09ce352c8ad7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "d97688cddf164314b10b548c2d44208b.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "30fe623ac22a217b",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3c6ea4a3e8ab8d08",
        "type": "comment",
        "z": "8e69476215f7ebaf",
        "g": "b836b91426a78051",
        "name": "Primeiro SInal Analógico Randômico",
        "info": "Para simulação de Fábrica, foi pensado em\ncriar sinais randomicos a fim de simular\nde forma aleatória algumas indicações\n----------------------\nMas como simular? Que intensidade de \nalteração, janela de oscilação aceitável, \netc.\nEntão essa foi a forma testar isso.\nprovavelmente não sera usado no projeto",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "95d7920f39e71274",
        "type": "inject",
        "z": "8e69476215f7ebaf",
        "g": "b836b91426a78051",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "6589d8372ef91d24"
            ]
        ]
    },
    {
        "id": "ec02628adfedf811",
        "type": "eth-ip out",
        "z": "8e69476215f7ebaf",
        "g": "b836b91426a78051",
        "endpoint": "3b57fe1078701342",
        "variable": "InNR_TimeStamp",
        "program": "",
        "name": "",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "6589d8372ef91d24",
        "type": "function",
        "z": "8e69476215f7ebaf",
        "g": "b836b91426a78051",
        "name": "function 1",
        "func": "// Verifica se msg.payload é um número e não é undefined ou null\nif (msg.payload !== undefined && msg.payload !== null) {\n    // Converte msg.payload para número e divide por 10000\n    msg.payload = Number(msg.payload) / 1000;\n    \n    // Obtém a parte decimal do número\n    msg.payload = msg.payload - Math.floor(msg.payload);\n    msg.payload = parseFloat(msg.payload.toFixed(4));\n\n} else {\n    // Emite um aviso se msg.payload for undefined ou null\n    node.warn(\"msg.payload is undefined or null\");\n}\n\n// Retorna a mensagem modificada\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "ec02628adfedf811"
            ]
        ]
    },
    {
        "id": "b5a93c116c9a2c3a",
        "type": "comment",
        "z": "8e69476215f7ebaf",
        "name": "Teste Deploy NoderRed",
        "info": "",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "c7045c7b3debb6fd",
        "type": "comment",
        "z": "8e69476215f7ebaf",
        "name": "Teste Deploy NodeRed 2",
        "info": "",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "14f60c83feae1c69",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Split dos códigos",
        "func": "// Exemplo de código para o nó function\nlet valor = msg.payload; // Supondo que o valor DINT esteja em msg.payload\nlet tipoMaquina = Math.floor(valor / 1000000);\nlet qualMaquina = Math.floor((valor % 1000000) / 10000);\nlet categoriaFalha = Math.floor((valor % 10000) / 100);\nlet descricaoFalha = valor % 100;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 60,
        "wires": [
            [
                "e2d4a2ed11022bef"
            ]
        ]
    },
    {
        "id": "e2d4a2ed11022bef",
        "type": "file in",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Local do Arquivo config",
        "filename": "\\\\192.168.50.177\\Home\\Gestao de Projetos\\FactorySimulation Config\\config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "d1dd362437ac9a27"
            ]
        ]
    },
    {
        "id": "d1dd362437ac9a27",
        "type": "json",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Converte para JS",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 850,
        "y": 60,
        "wires": [
            [
                "d15dfefb3e45518d"
            ]
        ]
    },
    {
        "id": "7296116cba18bf7e",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('config'); // Supondo que o arquivo JSON foi armazenado em um contexto global\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString().padStart(2, '0')];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(2, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 100,
        "wires": [
            [
                "ecc4a97c448b261e"
            ]
        ]
    },
    {
        "id": "71cc17e468d7f3ec",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Armazenando conteúdo",
        "func": "// Supondo que o conteúdo JSON já foi convertido\nglobal.set('config', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 100,
        "wires": [
            [
                "7296116cba18bf7e"
            ]
        ]
    },
    {
        "id": "0e50c1ade396568b",
        "type": "inject",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01010460",
        "payloadType": "num",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "14f60c83feae1c69"
            ]
        ]
    },
    {
        "id": "d15dfefb3e45518d",
        "type": "link out",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "OutConfig01",
        "mode": "link",
        "links": [
            "91f39940a364c7cf"
        ],
        "x": 1135,
        "y": 60,
        "wires": []
    },
    {
        "id": "91f39940a364c7cf",
        "type": "link in",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "InConfig01",
        "links": [
            "d15dfefb3e45518d"
        ],
        "x": 75,
        "y": 100,
        "wires": [
            [
                "71cc17e468d7f3ec"
            ]
        ]
    },
    {
        "id": "ecc4a97c448b261e",
        "type": "function",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Obtém o moment do contexto global\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (tipoMaquinaDesc === undefined || qualMaquinaDesc === undefined || \n    categoriaFalhaDesc === undefined || descricaoFalhaDesc === undefined) {\n    // Opcional: Você pode configurar uma mensagem de erro no payload, se desejar informar o erro\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg; // Retorna a mensagem sem executar a inserção no banco\n}\n\n// Ajusta o dateTime para o fuso horário de São Paulo, corrigindo a diferença de horas\nlet dateTime = moment().tz('America/Sao_Paulo').format('YYYY-MM-DD HH:mm:ss');\n\n// Criação da consulta SQL de inserção\nmsg.topic = `INSERT INTO tabela_falhas (tipoMaquinaDesc, qualMaquinaDesc, categoriaFalhaDesc, descricaoFalhaDesc, date_time) VALUES ('${tipoMaquinaDesc}', '${qualMaquinaDesc}', '${categoriaFalhaDesc}', '${descricaoFalhaDesc}', '${dateTime}')`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 100,
        "wires": [
            [
                "8de066c95acfe3a1"
            ]
        ]
    },
    {
        "id": "8de066c95acfe3a1",
        "type": "debug",
        "z": "2d557e73cbc54abd",
        "g": "5b5ca10ce118bd5f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 100,
        "wires": []
    },
    {
        "id": "6a2f0c77bba083d0",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist01.Out_OEE",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "fb0e85aa2fb8449a"
            ]
        ]
    },
    {
        "id": "9e08b4b111eaadfe",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist01.Disp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "f87cec9d97c867b9"
            ]
        ]
    },
    {
        "id": "c4df3856ad6180c7",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist01.Desemp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "f96fa9b0db6dbbe8"
            ]
        ]
    },
    {
        "id": "40658b1c09eec1d4",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist01.Quali_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "d2d90e58b65868b5"
            ]
        ]
    },
    {
        "id": "81a343841322aba1",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "MisturadoresPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "915057118e54e051"
            ]
        ]
    },
    {
        "id": "d4d4b4fe468787e0",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist02.Out_OEE",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "67807f19f7535698"
            ]
        ]
    },
    {
        "id": "a7b402caa20fa8d2",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist02.Disp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 520,
        "wires": [
            [
                "c559548792273c25"
            ]
        ]
    },
    {
        "id": "f3fd92630ff02106",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist02.Desemp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "c58bcd2b66bb09cb"
            ]
        ]
    },
    {
        "id": "477a6ce48a2a37e3",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist02.Quali_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 640,
        "wires": [
            [
                "c639b7146bb090b0"
            ]
        ]
    },
    {
        "id": "f79c3eaba2824365",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "MisturadoresPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 650,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "943f838b78d65f07",
        "type": "debug",
        "z": "1b6420b8adb5a5b7",
        "name": "Delete MongoDB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 20,
        "wires": []
    },
    {
        "id": "8ec8da8ce218259d",
        "type": "inject",
        "z": "1b6420b8adb5a5b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 20,
        "wires": [
            [
                "cbcf3a68bd33891c"
            ]
        ]
    },
    {
        "id": "cbcf3a68bd33891c",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 74",
        "func": "const agora = Date.now();\nconst dezMinAtras = new Date(agora - (1440 * 70) * 60 * 1000);\n\nmsg.payload = [\n  {\n    DateTime: { $lt: dezMinAtras }\n  }\n];\n\nmsg.operation = \"deleteMany\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 20,
        "wires": [
            [
                "47db85a2e17745dd"
            ]
        ]
    },
    {
        "id": "47db85a2e17745dd",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "MisturadoresPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 550,
        "y": 20,
        "wires": [
            [
                "9a50a8595090262c"
            ]
        ]
    },
    {
        "id": "a76cd0db23384278",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist03.Out_OEE",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "fcf72c22d5967ecd"
            ]
        ]
    },
    {
        "id": "47bbc1a7520c9a8d",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist03.Disp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 840,
        "wires": [
            [
                "10331bfcb7eaffd2"
            ]
        ]
    },
    {
        "id": "9bdb1a04a138fccf",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist03.Desemp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 900,
        "wires": [
            [
                "022abedfc670ce98"
            ]
        ]
    },
    {
        "id": "a4bd757e75e8635b",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist03.Quali_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 960,
        "wires": [
            [
                "853761c527217975"
            ]
        ]
    },
    {
        "id": "757124fd03dd8e7e",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "MisturadoresPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 630,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a7d54804a37119",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist04.Out_OEE",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "245722773b23d4d2"
            ]
        ]
    },
    {
        "id": "5e33dff122ac23e2",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist04.Disp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "2f8dcc675c083f70"
            ]
        ]
    },
    {
        "id": "1a3ff9e4f0858185",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist04.Desemp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 1220,
        "wires": [
            [
                "36c3b5518e4cf405"
            ]
        ]
    },
    {
        "id": "5a98527436da23fd",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist04.Quali_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 1280,
        "wires": [
            [
                "70cf7f593aee7c6c"
            ]
        ]
    },
    {
        "id": "0972960337db8ee4",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "MisturadoresPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 630,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "e8e50b619649dbf9",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist05.Out_OEE",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "df6f056161abd0e8"
            ]
        ]
    },
    {
        "id": "f9e2bf79a7db05d3",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist05.Disp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 1480,
        "wires": [
            [
                "c363eed2021c3fc9"
            ]
        ]
    },
    {
        "id": "1f3412b4ddf1b036",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist05.Desemp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 1540,
        "wires": [
            [
                "1ec6275c141986ed"
            ]
        ]
    },
    {
        "id": "6ec2468e39d54d32",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist05.Quali_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 1600,
        "wires": [
            [
                "903932a3e54df6f6"
            ]
        ]
    },
    {
        "id": "b258f6087b80fd7b",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist06.Out_OEE",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "bcba508f81a22314"
            ]
        ]
    },
    {
        "id": "fb351e084cd83f31",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist06.Disp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 1780,
        "wires": [
            [
                "9d10a6322a94759d"
            ]
        ]
    },
    {
        "id": "75f8318967d2c0f2",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist06.Desemp_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 1840,
        "wires": [
            [
                "2af3ffad19f6de9e"
            ]
        ]
    },
    {
        "id": "2b557e8515f96a72",
        "type": "eth-ip in",
        "z": "1b6420b8adb5a5b7",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Mist06.Quali_OutSignal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 150,
        "y": 1900,
        "wires": [
            [
                "3d0588363df76751"
            ]
        ]
    },
    {
        "id": "3409d1a8dece57f5",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "MisturadoresPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 630,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "4c9cb541ed8156ab",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "MisturadoresPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 630,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e6f1b33fb70910",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 79",
        "func": "msg.payload = [{}];\n\nmsg.operation= \"deleteMany\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "8bbde22fcd6681cc"
            ]
        ]
    },
    {
        "id": "053206781e5ffbdf",
        "type": "inject",
        "z": "1b6420b8adb5a5b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "f8e6f1b33fb70910"
            ]
        ]
    },
    {
        "id": "8bbde22fcd6681cc",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "MisturadoresPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "0fdf350374e50f68"
            ]
        ]
    },
    {
        "id": "9a50a8595090262c",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "DecapadoPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 750,
        "y": 20,
        "wires": [
            [
                "51c89666b6eb73b6"
            ]
        ]
    },
    {
        "id": "0fdf350374e50f68",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "DecapadoPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 750,
        "y": 80,
        "wires": [
            [
                "ac92c89823d5910d"
            ]
        ]
    },
    {
        "id": "fb0e85aa2fb8449a",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 87",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist01_dadosOEE = flow.get('Mist01_dadosOEE') || [];\nMist01_dadosOEE.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist01_dadosOEE', Mist01_dadosOEE);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "f87cec9d97c867b9",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 88",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist01_dadosDisp = flow.get('Mist01_dadosDisp') || [];\nMist01_dadosDisp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist01_dadosDisp', Mist01_dadosDisp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "f96fa9b0db6dbbe8",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 89",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist01_dadosDesemp = flow.get('Mist01_dadosDesemp') || [];\nMist01_dadosDesemp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist01_dadosDesemp', Mist01_dadosDesemp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "d2d90e58b65868b5",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 90",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist01_dadosQuali = flow.get('Mist01_dadosQuali') || [];\nMist01_dadosQuali.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist01_dadosQuali', Mist01_dadosQuali);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "486d8bb3fd6c37f2",
        "type": "inject",
        "z": "1b6420b8adb5a5b7",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "024876d5f7a129b7"
            ]
        ]
    },
    {
        "id": "024876d5f7a129b7",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 91",
        "func": "let Mist01_dadosOEE = flow.get('Mist01_dadosOEE') || [];\nlet Mist01_dadosDisp = flow.get('Mist01_dadosDisp') || [];\nlet Mist01_dadosDesemp = flow.get('Mist01_dadosDesemp') || [];\nlet Mist01_dadosQuali = flow.get('Mist01_dadosQuali') || [];\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"Decapado Mecânico\",\n    OEE: media(Mist01_dadosOEE),\n    Disp: media(Mist01_dadosDisp),\n    Desemp: media(Mist01_dadosDesemp),\n    Quali: media(Mist01_dadosQuali)\n};\n\n// Campos SÓ para debug/monitoramento\nmsg.OEEcount = Mist01_dadosOEE.length;\nmsg.Dispcount = Mist01_dadosDisp.length;\nmsg.Desempcount = Mist01_dadosDesemp.length;\nmsg.Qualicount = Mist01_dadosQuali.length;\n\nmsg.OEEDesvio = desvioPadrao(Mist01_dadosOEE);\nmsg.DispDesvio = desvioPadrao(Mist01_dadosDisp);\nmsg.DesempDesvio = desvioPadrao(Mist01_dadosDesemp);\nmsg.QualiDesvio = desvioPadrao(Mist01_dadosQuali);\n\n// Limpa arrays\nflow.set('Mist01_dadosOEE', []);\nflow.set('Mist01_dadosDisp', []);\nflow.set('Mist01_dadosDesemp', []);\nflow.set('Mist01_dadosQuali', []);\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "81a343841322aba1"
            ]
        ]
    },
    {
        "id": "915057118e54e051",
        "type": "debug",
        "z": "1b6420b8adb5a5b7",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "67807f19f7535698",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 92",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist02_dadosOEE = flow.get('Mist02_dadosOEE') || [];\nMist02_dadosOEE.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist02_dadosOEE', Mist02_dadosOEE);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "c559548792273c25",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 93",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist02_dadosDisp = flow.get('Mist02_dadosDisp') || [];\nMist02_dadosDisp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist02_dadosDisp', Mist02_dadosDisp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": []
    },
    {
        "id": "c58bcd2b66bb09cb",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 94",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist02_dadosDesemp = flow.get('Mist02_dadosDesemp') || [];\nMist02_dadosDesemp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist02_dadosDesemp', Mist02_dadosDesemp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "c639b7146bb090b0",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 95",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist02_dadosQuali = flow.get('Mist02_dadosQuali') || [];\nMist02_dadosQuali.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist02_dadosQuali', Mist02_dadosQuali);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 640,
        "wires": []
    },
    {
        "id": "adacd201f3ad7788",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 96",
        "func": "let Mist02_dadosOEE = flow.get('Mist02_dadosOEE') || [];\nlet Mist02_dadosDisp = flow.get('Mist02_dadosDisp') || [];\nlet Mist02_dadosDesemp = flow.get('Mist02_dadosDesemp') || [];\nlet Mist02_dadosQuali = flow.get('Mist02_dadosQuali') || [];\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"Decapado Mecânico\",\n    OEE: media(Mist02_dadosOEE),\n    Disp: media(Mist02_dadosDisp),\n    Desemp: media(Mist02_dadosDesemp),\n    Quali: media(Mist02_dadosQuali)\n};\n\n// Campos SÓ para debug/monitoramento\nmsg.OEEcount = Mist02_dadosOEE.length;\nmsg.Dispcount = Mist02_dadosDisp.length;\nmsg.Desempcount = Mist02_dadosDesemp.length;\nmsg.Qualicount = Mist02_dadosQuali.length;\n\nmsg.OEEDesvio = desvioPadrao(Mist02_dadosOEE);\nmsg.DispDesvio = desvioPadrao(Mist02_dadosDisp);\nmsg.DesempDesvio = desvioPadrao(Mist02_dadosDesemp);\nmsg.QualiDesvio = desvioPadrao(Mist02_dadosQuali);\n\n// Limpa arrays\nflow.set('Mist02_dadosOEE', []);\nflow.set('Mist02_dadosDisp', []);\nflow.set('Mist02_dadosDesemp', []);\nflow.set('Mist02_dadosQuali', []);\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 700,
        "wires": [
            [
                "f79c3eaba2824365"
            ]
        ]
    },
    {
        "id": "d4951f0a89dcdf02",
        "type": "inject",
        "z": "1b6420b8adb5a5b7",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "adacd201f3ad7788"
            ]
        ]
    },
    {
        "id": "fcf72c22d5967ecd",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 97",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist03_dadosOEE = flow.get('Mist03_dadosOEE') || [];\nMist03_dadosOEE.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist03_dadosOEE', Mist03_dadosOEE);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 780,
        "wires": []
    },
    {
        "id": "10331bfcb7eaffd2",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 98",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist03_dadosDisp = flow.get('Mist03_dadosDisp') || [];\nMist03_dadosDisp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist03_dadosDisp', Mist03_dadosDisp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 840,
        "wires": []
    },
    {
        "id": "022abedfc670ce98",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 99",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist03_dadosDesemp = flow.get('Mist03_dadosDesemp') || [];\nMist03_dadosDesemp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist03_dadosDesemp', Mist03_dadosDesemp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 900,
        "wires": []
    },
    {
        "id": "853761c527217975",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 100",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist03_dadosQuali = flow.get('Mist03_dadosQuali') || [];\nMist03_dadosQuali.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist03_dadosQuali', Mist03_dadosQuali);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 960,
        "wires": []
    },
    {
        "id": "8fa30486a2558951",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 101",
        "func": "let Mist03_dadosOEE = flow.get('Mist03_dadosOEE') || [];\nlet Mist03_dadosDisp = flow.get('Mist03_dadosDisp') || [];\nlet Mist03_dadosDesemp = flow.get('Mist03_dadosDesemp') || [];\nlet Mist03_dadosQuali = flow.get('Mist03_dadosQuali') || [];\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"Decapado Mecânico\",\n    OEE: media(Mist03_dadosOEE),\n    Disp: media(Mist03_dadosDisp),\n    Desemp: media(Mist03_dadosDesemp),\n    Quali: media(Mist03_dadosQuali)\n};\n\n// Campos SÓ para debug/monitoramento\nmsg.OEEcount = Mist03_dadosOEE.length;\nmsg.Dispcount = Mist03_dadosDisp.length;\nmsg.Desempcount = Mist03_dadosDesemp.length;\nmsg.Qualicount = Mist03_dadosQuali.length;\n\nmsg.OEEDesvio = desvioPadrao(Mist03_dadosOEE);\nmsg.DispDesvio = desvioPadrao(Mist03_dadosDisp);\nmsg.DesempDesvio = desvioPadrao(Mist03_dadosDesemp);\nmsg.QualiDesvio = desvioPadrao(Mist03_dadosQuali);\n\n// Limpa arrays\nflow.set('Mist03_dadosOEE', []);\nflow.set('Mist03_dadosDisp', []);\nflow.set('Mist03_dadosDesemp', []);\nflow.set('Mist03_dadosQuali', []);\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1020,
        "wires": [
            [
                "757124fd03dd8e7e"
            ]
        ]
    },
    {
        "id": "e32d1ce8d9378a47",
        "type": "inject",
        "z": "1b6420b8adb5a5b7",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "8fa30486a2558951"
            ]
        ]
    },
    {
        "id": "245722773b23d4d2",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 102",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist04_dadosOEE = flow.get('Mist04_dadosOEE') || [];\nMist04_dadosOEE.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist04_dadosOEE', Mist04_dadosOEE);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2f8dcc675c083f70",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 103",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist04_dadosDisp = flow.get('Mist04_dadosDisp') || [];\nMist04_dadosDisp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist04_dadosDisp', Mist04_dadosDisp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1160,
        "wires": []
    },
    {
        "id": "36c3b5518e4cf405",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 104",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist04_dadosDesemp = flow.get('Mist04_dadosDesemp') || [];\nMist04_dadosDesemp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist04_dadosDesemp', Mist04_dadosDesemp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1220,
        "wires": []
    },
    {
        "id": "70cf7f593aee7c6c",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 105",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist04_dadosQuali = flow.get('Mist04_dadosQuali') || [];\nMist04_dadosQuali.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist04_dadosQuali', Mist04_dadosQuali);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1e013a6ac23de88c",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 106",
        "func": "let Mist04_dadosOEE = flow.get('Mist04_dadosOEE') || [];\nlet Mist04_dadosDisp = flow.get('Mist04_dadosDisp') || [];\nlet Mist04_dadosDesemp = flow.get('Mist04_dadosDesemp') || [];\nlet Mist04_dadosQuali = flow.get('Mist04_dadosQuali') || [];\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"Decapado Mecânico\",\n    OEE: media(Mist04_dadosOEE),\n    Disp: media(Mist04_dadosDisp),\n    Desemp: media(Mist04_dadosDesemp),\n    Quali: media(Mist04_dadosQuali)\n};\n\n// Campos SÓ para debug/monitoramento\nmsg.OEEcount = Mist04_dadosOEE.length;\nmsg.Dispcount = Mist04_dadosDisp.length;\nmsg.Desempcount = Mist04_dadosDesemp.length;\nmsg.Qualicount = Mist04_dadosQuali.length;\n\nmsg.OEEDesvio = desvioPadrao(Mist04_dadosOEE);\nmsg.DispDesvio = desvioPadrao(Mist04_dadosDisp);\nmsg.DesempDesvio = desvioPadrao(Mist04_dadosDesemp);\nmsg.QualiDesvio = desvioPadrao(Mist04_dadosQuali);\n\n// Limpa arrays\nflow.set('Mist04_dadosOEE', []);\nflow.set('Mist04_dadosDisp', []);\nflow.set('Mist04_dadosDesemp', []);\nflow.set('Mist04_dadosQuali', []);\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1340,
        "wires": [
            [
                "0972960337db8ee4"
            ]
        ]
    },
    {
        "id": "dbace61b8d33689b",
        "type": "inject",
        "z": "1b6420b8adb5a5b7",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "1e013a6ac23de88c"
            ]
        ]
    },
    {
        "id": "df6f056161abd0e8",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 107",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist05_dadosOEE = flow.get('Mist05_dadosOEE') || [];\nMist05_dadosOEE.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist05_dadosOEE', Mist05_dadosOEE);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1420,
        "wires": []
    },
    {
        "id": "c363eed2021c3fc9",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 108",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist05_dadosDisp = flow.get('Mist05_dadosDisp') || [];\nMist05_dadosDisp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist05_dadosDisp', Mist05_dadosDisp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1480,
        "wires": []
    },
    {
        "id": "1ec6275c141986ed",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 109",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist05_dadosDesemp = flow.get('Mist05_dadosDesemp') || [];\nMist05_dadosDesemp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist05_dadosDesemp', Mist05_dadosDesemp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1540,
        "wires": []
    },
    {
        "id": "903932a3e54df6f6",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 110",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist05_dadosQuali = flow.get('Mist05_dadosQuali') || [];\nMist05_dadosQuali.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist05_dadosQuali', Mist05_dadosQuali);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1600,
        "wires": []
    },
    {
        "id": "7ae705549b8fb70f",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 111",
        "func": "let Mist05_dadosOEE = flow.get('Mist05_dadosOEE') || [];\nlet Mist05_dadosDisp = flow.get('Mist05_dadosDisp') || [];\nlet Mist05_dadosDesemp = flow.get('Mist05_dadosDesemp') || [];\nlet Mist05_dadosQuali = flow.get('Mist05_dadosQuali') || [];\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"Decapado Mecânico\",\n    OEE: media(Mist05_dadosOEE),\n    Disp: media(Mist05_dadosDisp),\n    Desemp: media(Mist05_dadosDesemp),\n    Quali: media(Mist05_dadosQuali)\n};\n\n// Campos SÓ para debug/monitoramento\nmsg.OEEcount = Mist05_dadosOEE.length;\nmsg.Dispcount = Mist05_dadosDisp.length;\nmsg.Desempcount = Mist05_dadosDesemp.length;\nmsg.Qualicount = Mist05_dadosQuali.length;\n\nmsg.OEEDesvio = desvioPadrao(Mist05_dadosOEE);\nmsg.DispDesvio = desvioPadrao(Mist05_dadosDisp);\nmsg.DesempDesvio = desvioPadrao(Mist05_dadosDesemp);\nmsg.QualiDesvio = desvioPadrao(Mist05_dadosQuali);\n\n// Limpa arrays\nflow.set('Mist05_dadosOEE', []);\nflow.set('Mist05_dadosDisp', []);\nflow.set('Mist05_dadosDesemp', []);\nflow.set('Mist05_dadosQuali', []);\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1660,
        "wires": [
            [
                "3409d1a8dece57f5"
            ]
        ]
    },
    {
        "id": "f07c54ddaa5125e0",
        "type": "inject",
        "z": "1b6420b8adb5a5b7",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1660,
        "wires": [
            [
                "7ae705549b8fb70f"
            ]
        ]
    },
    {
        "id": "bcba508f81a22314",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 112",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist06_dadosOEE = flow.get('Mist06_dadosOEE') || [];\nMist06_dadosOEE.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist06_dadosOEE', Mist06_dadosOEE);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1720,
        "wires": []
    },
    {
        "id": "9d10a6322a94759d",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 113",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist06_dadosDisp = flow.get('Mist06_dadosDisp') || [];\nMist06_dadosDisp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist06_dadosDisp', Mist06_dadosDisp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1780,
        "wires": []
    },
    {
        "id": "2af3ffad19f6de9e",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 114",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist06_dadosDesemp = flow.get('Mist06_dadosDesemp') || [];\nMist06_dadosDesemp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist06_dadosDesemp', Mist06_dadosDesemp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1840,
        "wires": []
    },
    {
        "id": "3d0588363df76751",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 115",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet Mist06_dadosQuali = flow.get('Mist06_dadosQuali') || [];\nMist06_dadosQuali.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('Mist06_dadosQuali', Mist06_dadosQuali);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1900,
        "wires": []
    },
    {
        "id": "3f622abe83e2b332",
        "type": "function",
        "z": "1b6420b8adb5a5b7",
        "name": "function 116",
        "func": "let Mist06_dadosOEE = flow.get('Mist06_dadosOEE') || [];\nlet Mist06_dadosDisp = flow.get('Mist06_dadosDisp') || [];\nlet Mist06_dadosDesemp = flow.get('Mist06_dadosDesemp') || [];\nlet Mist06_dadosQuali = flow.get('Mist06_dadosQuali') || [];\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"Decapado Mecânico\",\n    OEE: media(Mist06_dadosOEE),\n    Disp: media(Mist06_dadosDisp),\n    Desemp: media(Mist06_dadosDesemp),\n    Quali: media(Mist06_dadosQuali)\n};\n\n// Campos SÓ para debug/monitoramento\nmsg.OEEcount = Mist06_dadosOEE.length;\nmsg.Dispcount = Mist06_dadosDisp.length;\nmsg.Desempcount = Mist06_dadosDesemp.length;\nmsg.Qualicount = Mist06_dadosQuali.length;\n\nmsg.OEEDesvio = desvioPadrao(Mist06_dadosOEE);\nmsg.DispDesvio = desvioPadrao(Mist06_dadosDisp);\nmsg.DesempDesvio = desvioPadrao(Mist06_dadosDesemp);\nmsg.QualiDesvio = desvioPadrao(Mist06_dadosQuali);\n\n// Limpa arrays\nflow.set('Mist06_dadosOEE', []);\nflow.set('Mist06_dadosDisp', []);\nflow.set('Mist06_dadosDesemp', []);\nflow.set('Mist06_dadosQuali', []);\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1960,
        "wires": [
            [
                "4c9cb541ed8156ab"
            ]
        ]
    },
    {
        "id": "5ddfee189c6d7a42",
        "type": "inject",
        "z": "1b6420b8adb5a5b7",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1960,
        "wires": [
            [
                "3f622abe83e2b332"
            ]
        ]
    },
    {
        "id": "51c89666b6eb73b6",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "DecapadoEnergia",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 930,
        "y": 20,
        "wires": [
            [
                "943f838b78d65f07"
            ]
        ]
    },
    {
        "id": "ac92c89823d5910d",
        "type": "mongodb4",
        "z": "1b6420b8adb5a5b7",
        "clientNode": "3c6b59080ecf5485",
        "mode": "collection",
        "collection": "DecapadoEnergia",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 930,
        "y": 80,
        "wires": [
            [
                "943f838b78d65f07"
            ]
        ]
    },
    {
        "id": "0b8e1d71d2332d50",
        "type": "eth-ip in",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CodFalha_Mist01",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "685a3253fa1f6212"
            ]
        ]
    },
    {
        "id": "4e62af48bbe8f39d",
        "type": "eth-ip in",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CodFalha_Mist02",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "70036c818be64549"
            ]
        ]
    },
    {
        "id": "d5abee1091f8dae1",
        "type": "eth-ip in",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CodFalha_Mist03",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "85cf5dd1ba585a63"
            ]
        ]
    },
    {
        "id": "35813b25a20be761",
        "type": "eth-ip in",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CodFalha_Mist04",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "0949b255e17d0538"
            ]
        ]
    },
    {
        "id": "0437624de1c83b72",
        "type": "eth-ip in",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CodFalha_Mist05",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "6ef58f704f8d2ac1"
            ]
        ]
    },
    {
        "id": "f04a02324e9d2306",
        "type": "eth-ip in",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CodFalha_Mist06",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 120,
        "y": 840,
        "wires": [
            [
                "25dc5a59a6e71eac"
            ]
        ]
    },
    {
        "id": "dc42dd6cd223179a",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Split dos códigos",
        "func": "// Exemplo de código para o nó function\nlet valor = msg.payload; // Supondo que o valor DINT esteja em msg.payload\nlet tipoMaquina = Math.floor(valor / 1000000);\nlet qualMaquina = Math.floor((valor % 1000000) / 10000);\nlet categoriaFalha = Math.floor((valor % 10000) / 100);\nlet descricaoFalha = valor % 100;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 40,
        "wires": [
            [
                "65ad1687a4c0c15e"
            ]
        ]
    },
    {
        "id": "65ad1687a4c0c15e",
        "type": "file in",
        "z": "37e6316ce545a469",
        "name": "Local do Arquivo config",
        "filename": "/data/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 790,
        "y": 40,
        "wires": [
            [
                "dfe34cdc19e1ba6d"
            ]
        ]
    },
    {
        "id": "dfe34cdc19e1ba6d",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Armazenando conteúdo",
        "func": "// Garante que está salvando como JSON de verdade\nlet config = {};\ntry {\n    config = JSON.parse(msg.payload);\n    global.set('config', config);\n    return msg;\n} catch (e) {\n    msg.payload = \"Erro ao carregar config.json: \" + e;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 40,
        "wires": [
            [
                "2ad524e51892b71d"
            ]
        ]
    },
    {
        "id": "52ef63363b45f938",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('config'); // Supondo que o arquivo JSON foi armazenado em um contexto global\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString().padStart(2, '0')];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(2, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [
            [
                "5d4a72c2423c8fc5"
            ]
        ]
    },
    {
        "id": "5d4a72c2423c8fc5",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Se quiser usar moment pra timezone, mas já vamos gerar o Date padrão\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (\n    tipoMaquinaDesc === undefined ||\n    qualMaquinaDesc === undefined ||\n    categoriaFalhaDesc === undefined ||\n    descricaoFalhaDesc === undefined\n) {\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg;\n}\n\n// Hora de São Paulo, sem milissegundos, no formato Date global (UTC)\nlet agora = new Date();\nagora.setMilliseconds(0); // Zera milissegundos (caso queira precisão só até os segundos)\n\n// Para ajustar para o fuso de São Paulo e exibir a ISO UTC correspondente:\nlet tz = moment().tz('America/Sao_Paulo');\n// Cria um objeto Date em UTC correspondente ao horário de São Paulo\nlet dateTimeSP = new Date(\n    Date.UTC(\n        tz.year(),\n        tz.month(),\n        tz.date(),\n        tz.hour(),\n        tz.minute(),\n        tz.second()\n    )\n);\n\n// Monta o objeto (como desejado para MongoDB ou JSON/API)\nmsg.payload = {\n    tipoMaquinaDesc: tipoMaquinaDesc,\n    qualMaquinaDesc: qualMaquinaDesc,\n    categoriaFalhaDesc: categoriaFalhaDesc,\n    descricaoFalhaDesc: descricaoFalhaDesc,\n    date_time: dateTimeSP // <-- este é um Date! MongoDB salva como ISODate, drivers/API serializam em ISO 8601.\n};\n\n// Opcional: marque a operação, se for para MongoDB no Node-RED\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "e2ec8ade754a23a4",
                "b8cab616118fb80e"
            ]
        ]
    },
    {
        "id": "e2ec8ade754a23a4",
        "type": "mongodb4",
        "z": "37e6316ce545a469",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "MisturadoresFalhas",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "fddbb3fba5fdb62a"
            ]
        ]
    },
    {
        "id": "fddbb3fba5fdb62a",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Zera Tag CodFalha",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 100,
        "wires": [
            [
                "eb7091552ce7594e"
            ]
        ]
    },
    {
        "id": "eb7091552ce7594e",
        "type": "eth-ip out",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "variable": "CodFalha_Mist01",
        "program": "",
        "name": "",
        "x": 1330,
        "y": 100,
        "wires": []
    },
    {
        "id": "685a3253fa1f6212",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Verifica se >0",
        "func": "// Esta função será usada dentro de um nó de função no Node-RED\nif (typeof msg.payload === 'number' && msg.payload > 0) {\n    // Retorna a mensagem com apenas o topic e o payload\n    return { topic: msg.topic, payload: msg.payload };\n} else {\n    // Retorna null para interromper o fluxo se a condição não for atendida\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 40,
        "wires": [
            [
                "dc42dd6cd223179a"
            ]
        ]
    },
    {
        "id": "2ad524e51892b71d",
        "type": "link out",
        "z": "37e6316ce545a469",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "88e034a39413e23c"
        ],
        "x": 1255,
        "y": 40,
        "wires": []
    },
    {
        "id": "88e034a39413e23c",
        "type": "link in",
        "z": "37e6316ce545a469",
        "name": "link in 2",
        "links": [
            "2ad524e51892b71d"
        ],
        "x": 85,
        "y": 100,
        "wires": [
            [
                "52ef63363b45f938"
            ]
        ]
    },
    {
        "id": "986b58275a4dd21d",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Split dos códigos",
        "func": "// Exemplo de código para o nó function\nlet valor = msg.payload; // Supondo que o valor DINT esteja em msg.payload\nlet tipoMaquina = Math.floor(valor / 1000000);\nlet qualMaquina = Math.floor((valor % 1000000) / 10000);\nlet categoriaFalha = Math.floor((valor % 10000) / 100);\nlet descricaoFalha = valor % 100;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 200,
        "wires": [
            [
                "c2c610bf4bcaefbd"
            ]
        ]
    },
    {
        "id": "c2c610bf4bcaefbd",
        "type": "file in",
        "z": "37e6316ce545a469",
        "name": "Local do Arquivo config",
        "filename": "/data/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 790,
        "y": 200,
        "wires": [
            [
                "7e87672b39de8a06"
            ]
        ]
    },
    {
        "id": "7e87672b39de8a06",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Armazenando conteúdo",
        "func": "// Garante que está salvando como JSON de verdade\nlet config = {};\ntry {\n    config = JSON.parse(msg.payload);\n    global.set('config', config);\n    return msg;\n} catch(e) {\n    msg.payload = \"Erro ao carregar config.json: \" + e;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "1e342f93c98260df"
            ]
        ]
    },
    {
        "id": "f2ea659f1db427e2",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('config'); // Supondo que o arquivo JSON foi armazenado em um contexto global\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString().padStart(2, '0')];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(2, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "abe661a4bc9165dc"
            ]
        ]
    },
    {
        "id": "abe661a4bc9165dc",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Se quiser usar moment pra timezone, mas já vamos gerar o Date padrão\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (\n    tipoMaquinaDesc === undefined ||\n    qualMaquinaDesc === undefined ||\n    categoriaFalhaDesc === undefined ||\n    descricaoFalhaDesc === undefined\n) {\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg;\n}\n\n// Hora de São Paulo, sem milissegundos, no formato Date global (UTC)\nlet agora = new Date();\nagora.setMilliseconds(0); // Zera milissegundos (caso queira precisão só até os segundos)\n\n// Para ajustar para o fuso de São Paulo e exibir a ISO UTC correspondente:\nlet tz = moment().tz('America/Sao_Paulo');\n// Cria um objeto Date em UTC correspondente ao horário de São Paulo\nlet dateTimeSP = new Date(\n    Date.UTC(\n        tz.year(),\n        tz.month(),\n        tz.date(),\n        tz.hour(),\n        tz.minute(),\n        tz.second()\n    )\n);\n\n// Monta o objeto (como desejado para MongoDB ou JSON/API)\nmsg.payload = {\n    tipoMaquinaDesc: tipoMaquinaDesc,\n    qualMaquinaDesc: qualMaquinaDesc,\n    categoriaFalhaDesc: categoriaFalhaDesc,\n    descricaoFalhaDesc: descricaoFalhaDesc,\n    date_time: dateTimeSP // <-- este é um Date! MongoDB salva como ISODate, drivers/API serializam em ISO 8601.\n};\n\n// Opcional: marque a operação, se for para MongoDB no Node-RED\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "0976c94bd0f8ce3a",
                "2b500104bc5acca3"
            ]
        ]
    },
    {
        "id": "0976c94bd0f8ce3a",
        "type": "mongodb4",
        "z": "37e6316ce545a469",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "MisturadoresFalhas",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 750,
        "y": 260,
        "wires": [
            [
                "90cf8b668ec00f79"
            ]
        ]
    },
    {
        "id": "90cf8b668ec00f79",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Zera Tag CodFalha",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 260,
        "wires": [
            [
                "c21d15185643f32a"
            ]
        ]
    },
    {
        "id": "70036c818be64549",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Verifica se >0",
        "func": "// Esta função será usada dentro de um nó de função no Node-RED\nif (typeof msg.payload === 'number' && msg.payload > 0) {\n    // Retorna a mensagem com apenas o topic e o payload\n    return { topic: msg.topic, payload: msg.payload };\n} else {\n    // Retorna null para interromper o fluxo se a condição não for atendida\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "986b58275a4dd21d"
            ]
        ]
    },
    {
        "id": "1e342f93c98260df",
        "type": "link out",
        "z": "37e6316ce545a469",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "e4db15ec2ba05e3a"
        ],
        "x": 1255,
        "y": 200,
        "wires": []
    },
    {
        "id": "e4db15ec2ba05e3a",
        "type": "link in",
        "z": "37e6316ce545a469",
        "name": "link in 3",
        "links": [
            "1e342f93c98260df"
        ],
        "x": 85,
        "y": 260,
        "wires": [
            [
                "f2ea659f1db427e2"
            ]
        ]
    },
    {
        "id": "c21d15185643f32a",
        "type": "eth-ip out",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "variable": "CodFalha_Mist02",
        "program": "",
        "name": "",
        "x": 1330,
        "y": 260,
        "wires": []
    },
    {
        "id": "b52f96efaff6edd3",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Split dos códigos",
        "func": "// Exemplo de código para o nó function\nlet valor = msg.payload; // Supondo que o valor DINT esteja em msg.payload\nlet tipoMaquina = Math.floor(valor / 1000000);\nlet qualMaquina = Math.floor((valor % 1000000) / 10000);\nlet categoriaFalha = Math.floor((valor % 10000) / 100);\nlet descricaoFalha = valor % 100;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "9ae230d12ef8adce"
            ]
        ]
    },
    {
        "id": "9ae230d12ef8adce",
        "type": "file in",
        "z": "37e6316ce545a469",
        "name": "Local do Arquivo config",
        "filename": "/data/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 790,
        "y": 360,
        "wires": [
            [
                "b44b29806dc2bad6"
            ]
        ]
    },
    {
        "id": "b44b29806dc2bad6",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Armazenando conteúdo",
        "func": "// Garante que está salvando como JSON de verdade\nlet config = {};\ntry {\n    config = JSON.parse(msg.payload);\n    global.set('config', config);\n    return msg;\n} catch(e) {\n    msg.payload = \"Erro ao carregar config.json: \" + e;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 360,
        "wires": [
            [
                "3a19b2b6c45ab8c2"
            ]
        ]
    },
    {
        "id": "482b59dddf132613",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('config'); // Supondo que o arquivo JSON foi armazenado em um contexto global\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString().padStart(2, '0')];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(2, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 420,
        "wires": [
            [
                "7d80a83d92022445"
            ]
        ]
    },
    {
        "id": "7d80a83d92022445",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Se quiser usar moment pra timezone, mas já vamos gerar o Date padrão\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (\n    tipoMaquinaDesc === undefined ||\n    qualMaquinaDesc === undefined ||\n    categoriaFalhaDesc === undefined ||\n    descricaoFalhaDesc === undefined\n) {\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg;\n}\n\n// Hora de São Paulo, sem milissegundos, no formato Date global (UTC)\nlet agora = new Date();\nagora.setMilliseconds(0); // Zera milissegundos (caso queira precisão só até os segundos)\n\n// Para ajustar para o fuso de São Paulo e exibir a ISO UTC correspondente:\nlet tz = moment().tz('America/Sao_Paulo');\n// Cria um objeto Date em UTC correspondente ao horário de São Paulo\nlet dateTimeSP = new Date(\n    Date.UTC(\n        tz.year(),\n        tz.month(),\n        tz.date(),\n        tz.hour(),\n        tz.minute(),\n        tz.second()\n    )\n);\n\n// Monta o objeto (como desejado para MongoDB ou JSON/API)\nmsg.payload = {\n    tipoMaquinaDesc: tipoMaquinaDesc,\n    qualMaquinaDesc: qualMaquinaDesc,\n    categoriaFalhaDesc: categoriaFalhaDesc,\n    descricaoFalhaDesc: descricaoFalhaDesc,\n    date_time: dateTimeSP // <-- este é um Date! MongoDB salva como ISODate, drivers/API serializam em ISO 8601.\n};\n\n// Opcional: marque a operação, se for para MongoDB no Node-RED\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 420,
        "wires": [
            [
                "7f76be9a6838c605",
                "cee41b5aa50e2679"
            ]
        ]
    },
    {
        "id": "7f76be9a6838c605",
        "type": "mongodb4",
        "z": "37e6316ce545a469",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "MisturadoresFalhas",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 750,
        "y": 420,
        "wires": [
            [
                "4050f21dc2f1fdd1"
            ]
        ]
    },
    {
        "id": "4050f21dc2f1fdd1",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Zera Tag CodFalha",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 420,
        "wires": [
            [
                "e009598052602c52"
            ]
        ]
    },
    {
        "id": "85cf5dd1ba585a63",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Verifica se >0",
        "func": "// Esta função será usada dentro de um nó de função no Node-RED\nif (typeof msg.payload === 'number' && msg.payload > 0) {\n    // Retorna a mensagem com apenas o topic e o payload\n    return { topic: msg.topic, payload: msg.payload };\n} else {\n    // Retorna null para interromper o fluxo se a condição não for atendida\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "b52f96efaff6edd3"
            ]
        ]
    },
    {
        "id": "3a19b2b6c45ab8c2",
        "type": "link out",
        "z": "37e6316ce545a469",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "5f7b3156e1698efa"
        ],
        "x": 1255,
        "y": 360,
        "wires": []
    },
    {
        "id": "5f7b3156e1698efa",
        "type": "link in",
        "z": "37e6316ce545a469",
        "name": "link in 4",
        "links": [
            "3a19b2b6c45ab8c2"
        ],
        "x": 85,
        "y": 420,
        "wires": [
            [
                "482b59dddf132613"
            ]
        ]
    },
    {
        "id": "e009598052602c52",
        "type": "eth-ip out",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "variable": "CodFalha_Mist03",
        "program": "",
        "name": "",
        "x": 1330,
        "y": 420,
        "wires": []
    },
    {
        "id": "b72bd9e51ee05bb7",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Split dos códigos",
        "func": "// Exemplo de código para o nó function\nlet valor = msg.payload; // Supondo que o valor DINT esteja em msg.payload\nlet tipoMaquina = Math.floor(valor / 1000000);\nlet qualMaquina = Math.floor((valor % 1000000) / 10000);\nlet categoriaFalha = Math.floor((valor % 10000) / 100);\nlet descricaoFalha = valor % 100;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 520,
        "wires": [
            [
                "0ede696cc08aa0dd"
            ]
        ]
    },
    {
        "id": "0ede696cc08aa0dd",
        "type": "file in",
        "z": "37e6316ce545a469",
        "name": "Local do Arquivo config",
        "filename": "/data/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 790,
        "y": 520,
        "wires": [
            [
                "a3f11472c7dd3ce7"
            ]
        ]
    },
    {
        "id": "a3f11472c7dd3ce7",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Armazenando conteúdo",
        "func": "// Garante que está salvando como JSON de verdade\nlet config = {};\ntry {\n    config = JSON.parse(msg.payload);\n    global.set('config', config);\n    return msg;\n} catch(e) {\n    msg.payload = \"Erro ao carregar config.json: \" + e;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "6bb7957adb63ea5f"
            ]
        ]
    },
    {
        "id": "87ff82631111c2e4",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('config'); // Supondo que o arquivo JSON foi armazenado em um contexto global\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString().padStart(2, '0')];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(2, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 580,
        "wires": [
            [
                "b891aa9742756d39"
            ]
        ]
    },
    {
        "id": "b891aa9742756d39",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Se quiser usar moment pra timezone, mas já vamos gerar o Date padrão\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (\n    tipoMaquinaDesc === undefined ||\n    qualMaquinaDesc === undefined ||\n    categoriaFalhaDesc === undefined ||\n    descricaoFalhaDesc === undefined\n) {\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg;\n}\n\n// Hora de São Paulo, sem milissegundos, no formato Date global (UTC)\nlet agora = new Date();\nagora.setMilliseconds(0); // Zera milissegundos (caso queira precisão só até os segundos)\n\n// Para ajustar para o fuso de São Paulo e exibir a ISO UTC correspondente:\nlet tz = moment().tz('America/Sao_Paulo');\n// Cria um objeto Date em UTC correspondente ao horário de São Paulo\nlet dateTimeSP = new Date(\n    Date.UTC(\n        tz.year(),\n        tz.month(),\n        tz.date(),\n        tz.hour(),\n        tz.minute(),\n        tz.second()\n    )\n);\n\n// Monta o objeto (como desejado para MongoDB ou JSON/API)\nmsg.payload = {\n    tipoMaquinaDesc: tipoMaquinaDesc,\n    qualMaquinaDesc: qualMaquinaDesc,\n    categoriaFalhaDesc: categoriaFalhaDesc,\n    descricaoFalhaDesc: descricaoFalhaDesc,\n    date_time: dateTimeSP // <-- este é um Date! MongoDB salva como ISODate, drivers/API serializam em ISO 8601.\n};\n\n// Opcional: marque a operação, se for para MongoDB no Node-RED\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "a060f8527649e746",
                "8fb7b9c048cfee89"
            ]
        ]
    },
    {
        "id": "a060f8527649e746",
        "type": "mongodb4",
        "z": "37e6316ce545a469",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "MisturadoresFalhas",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 750,
        "y": 580,
        "wires": [
            [
                "f7e365f692f4d05d"
            ]
        ]
    },
    {
        "id": "f7e365f692f4d05d",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Zera Tag CodFalha",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 580,
        "wires": [
            [
                "ca28621c4b6d0fba"
            ]
        ]
    },
    {
        "id": "0949b255e17d0538",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Verifica se >0",
        "func": "// Esta função será usada dentro de um nó de função no Node-RED\nif (typeof msg.payload === 'number' && msg.payload > 0) {\n    // Retorna a mensagem com apenas o topic e o payload\n    return { topic: msg.topic, payload: msg.payload };\n} else {\n    // Retorna null para interromper o fluxo se a condição não for atendida\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "b72bd9e51ee05bb7"
            ]
        ]
    },
    {
        "id": "6bb7957adb63ea5f",
        "type": "link out",
        "z": "37e6316ce545a469",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "c9f64ffd60618908"
        ],
        "x": 1255,
        "y": 520,
        "wires": []
    },
    {
        "id": "c9f64ffd60618908",
        "type": "link in",
        "z": "37e6316ce545a469",
        "name": "link in 5",
        "links": [
            "6bb7957adb63ea5f"
        ],
        "x": 85,
        "y": 580,
        "wires": [
            [
                "87ff82631111c2e4"
            ]
        ]
    },
    {
        "id": "ca28621c4b6d0fba",
        "type": "eth-ip out",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "variable": "CodFalha_Mist04",
        "program": "",
        "name": "",
        "x": 1330,
        "y": 580,
        "wires": []
    },
    {
        "id": "4382ec5796b11bf7",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Split dos códigos",
        "func": "// Exemplo de código para o nó function\nlet valor = msg.payload; // Supondo que o valor DINT esteja em msg.payload\nlet tipoMaquina = Math.floor(valor / 1000000);\nlet qualMaquina = Math.floor((valor % 1000000) / 10000);\nlet categoriaFalha = Math.floor((valor % 10000) / 100);\nlet descricaoFalha = valor % 100;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 680,
        "wires": [
            [
                "e03e9cbfceb0f2d1"
            ]
        ]
    },
    {
        "id": "e03e9cbfceb0f2d1",
        "type": "file in",
        "z": "37e6316ce545a469",
        "name": "Local do Arquivo config",
        "filename": "/data/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 790,
        "y": 680,
        "wires": [
            [
                "415ac7da69269696"
            ]
        ]
    },
    {
        "id": "415ac7da69269696",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Armazenando conteúdo",
        "func": "// Garante que está salvando como JSON de verdade\nlet config = {};\ntry {\n    config = JSON.parse(msg.payload);\n    global.set('config', config);\n    return msg;\n} catch(e) {\n    msg.payload = \"Erro ao carregar config.json: \" + e;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 680,
        "wires": [
            [
                "0a218e7b72ee3c53"
            ]
        ]
    },
    {
        "id": "400dd57d4c6e1c12",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('config'); // Supondo que o arquivo JSON foi armazenado em um contexto global\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString().padStart(2, '0')];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(2, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 740,
        "wires": [
            [
                "2dd263378a31ad25"
            ]
        ]
    },
    {
        "id": "2dd263378a31ad25",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Se quiser usar moment pra timezone, mas já vamos gerar o Date padrão\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (\n    tipoMaquinaDesc === undefined ||\n    qualMaquinaDesc === undefined ||\n    categoriaFalhaDesc === undefined ||\n    descricaoFalhaDesc === undefined\n) {\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg;\n}\n\n// Hora de São Paulo, sem milissegundos, no formato Date global (UTC)\nlet agora = new Date();\nagora.setMilliseconds(0); // Zera milissegundos (caso queira precisão só até os segundos)\n\n// Para ajustar para o fuso de São Paulo e exibir a ISO UTC correspondente:\nlet tz = moment().tz('America/Sao_Paulo');\n// Cria um objeto Date em UTC correspondente ao horário de São Paulo\nlet dateTimeSP = new Date(\n    Date.UTC(\n        tz.year(),\n        tz.month(),\n        tz.date(),\n        tz.hour(),\n        tz.minute(),\n        tz.second()\n    )\n);\n\n// Monta o objeto (como desejado para MongoDB ou JSON/API)\nmsg.payload = {\n    tipoMaquinaDesc: tipoMaquinaDesc,\n    qualMaquinaDesc: qualMaquinaDesc,\n    categoriaFalhaDesc: categoriaFalhaDesc,\n    descricaoFalhaDesc: descricaoFalhaDesc,\n    date_time: dateTimeSP // <-- este é um Date! MongoDB salva como ISODate, drivers/API serializam em ISO 8601.\n};\n\n// Opcional: marque a operação, se for para MongoDB no Node-RED\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 740,
        "wires": [
            [
                "dd7fa59219da06c8",
                "cebb2f6990acd702"
            ]
        ]
    },
    {
        "id": "dd7fa59219da06c8",
        "type": "mongodb4",
        "z": "37e6316ce545a469",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "MisturadoresFalhas",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 750,
        "y": 740,
        "wires": [
            [
                "60cd41446729736c"
            ]
        ]
    },
    {
        "id": "60cd41446729736c",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Zera Tag CodFalha",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 740,
        "wires": [
            [
                "3a9b6c66e27c4d4f"
            ]
        ]
    },
    {
        "id": "6ef58f704f8d2ac1",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Verifica se >0",
        "func": "// Esta função será usada dentro de um nó de função no Node-RED\nif (typeof msg.payload === 'number' && msg.payload > 0) {\n    // Retorna a mensagem com apenas o topic e o payload\n    return { topic: msg.topic, payload: msg.payload };\n} else {\n    // Retorna null para interromper o fluxo se a condição não for atendida\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 680,
        "wires": [
            [
                "4382ec5796b11bf7"
            ]
        ]
    },
    {
        "id": "0a218e7b72ee3c53",
        "type": "link out",
        "z": "37e6316ce545a469",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "e8ec1977516c5955"
        ],
        "x": 1255,
        "y": 680,
        "wires": []
    },
    {
        "id": "e8ec1977516c5955",
        "type": "link in",
        "z": "37e6316ce545a469",
        "name": "link in 6",
        "links": [
            "0a218e7b72ee3c53"
        ],
        "x": 85,
        "y": 740,
        "wires": [
            [
                "400dd57d4c6e1c12"
            ]
        ]
    },
    {
        "id": "7c1f04bf2775d404",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Split dos códigos",
        "func": "// Exemplo de código para o nó function\nlet valor = msg.payload; // Supondo que o valor DINT esteja em msg.payload\nlet tipoMaquina = Math.floor(valor / 1000000);\nlet qualMaquina = Math.floor((valor % 1000000) / 10000);\nlet categoriaFalha = Math.floor((valor % 10000) / 100);\nlet descricaoFalha = valor % 100;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 840,
        "wires": [
            [
                "6e09f6f097208d5b"
            ]
        ]
    },
    {
        "id": "6e09f6f097208d5b",
        "type": "file in",
        "z": "37e6316ce545a469",
        "name": "Local do Arquivo config",
        "filename": "/data/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 790,
        "y": 840,
        "wires": [
            [
                "bacf9a383b1f5ee7"
            ]
        ]
    },
    {
        "id": "bacf9a383b1f5ee7",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Armazenando conteúdo",
        "func": "// Garante que está salvando como JSON de verdade\nlet config = {};\ntry {\n    config = JSON.parse(msg.payload);\n    global.set('config', config);\n    return msg;\n} catch(e) {\n    msg.payload = \"Erro ao carregar config.json: \" + e;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "0e6973cbe4319f41"
            ]
        ]
    },
    {
        "id": "32eaf86499380e33",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('config'); // Supondo que o arquivo JSON foi armazenado em um contexto global\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString().padStart(2, '0')];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(2, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 900,
        "wires": [
            [
                "96f1810f47a00b5a"
            ]
        ]
    },
    {
        "id": "96f1810f47a00b5a",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Se quiser usar moment pra timezone, mas já vamos gerar o Date padrão\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (\n    tipoMaquinaDesc === undefined ||\n    qualMaquinaDesc === undefined ||\n    categoriaFalhaDesc === undefined ||\n    descricaoFalhaDesc === undefined\n) {\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg;\n}\n\n// Hora de São Paulo, sem milissegundos, no formato Date global (UTC)\nlet agora = new Date();\nagora.setMilliseconds(0); // Zera milissegundos (caso queira precisão só até os segundos)\n\n// Para ajustar para o fuso de São Paulo e exibir a ISO UTC correspondente:\nlet tz = moment().tz('America/Sao_Paulo');\n// Cria um objeto Date em UTC correspondente ao horário de São Paulo\nlet dateTimeSP = new Date(\n    Date.UTC(\n        tz.year(),\n        tz.month(),\n        tz.date(),\n        tz.hour(),\n        tz.minute(),\n        tz.second()\n    )\n);\n\n// Monta o objeto (como desejado para MongoDB ou JSON/API)\nmsg.payload = {\n    tipoMaquinaDesc: tipoMaquinaDesc,\n    qualMaquinaDesc: qualMaquinaDesc,\n    categoriaFalhaDesc: categoriaFalhaDesc,\n    descricaoFalhaDesc: descricaoFalhaDesc,\n    date_time: dateTimeSP // <-- este é um Date! MongoDB salva como ISODate, drivers/API serializam em ISO 8601.\n};\n\n// Opcional: marque a operação, se for para MongoDB no Node-RED\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 900,
        "wires": [
            [
                "4bccf718bb05efb3"
            ]
        ]
    },
    {
        "id": "4bccf718bb05efb3",
        "type": "mongodb4",
        "z": "37e6316ce545a469",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "MisturadoresFalhas",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 750,
        "y": 900,
        "wires": [
            [
                "5b1c6cfd0cacab31"
            ]
        ]
    },
    {
        "id": "5b1c6cfd0cacab31",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Zera Tag CodFalha",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 900,
        "wires": [
            [
                "3c289a119c9352ff"
            ]
        ]
    },
    {
        "id": "25dc5a59a6e71eac",
        "type": "function",
        "z": "37e6316ce545a469",
        "name": "Verifica se >0",
        "func": "// Esta função será usada dentro de um nó de função no Node-RED\nif (typeof msg.payload === 'number' && msg.payload > 0) {\n    // Retorna a mensagem com apenas o topic e o payload\n    return { topic: msg.topic, payload: msg.payload };\n} else {\n    // Retorna null para interromper o fluxo se a condição não for atendida\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 840,
        "wires": [
            [
                "7c1f04bf2775d404"
            ]
        ]
    },
    {
        "id": "0e6973cbe4319f41",
        "type": "link out",
        "z": "37e6316ce545a469",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "a4c4652bc3e9dba2"
        ],
        "x": 1255,
        "y": 840,
        "wires": []
    },
    {
        "id": "a4c4652bc3e9dba2",
        "type": "link in",
        "z": "37e6316ce545a469",
        "name": "link in 7",
        "links": [
            "0e6973cbe4319f41"
        ],
        "x": 65,
        "y": 900,
        "wires": [
            [
                "32eaf86499380e33"
            ]
        ]
    },
    {
        "id": "3a9b6c66e27c4d4f",
        "type": "eth-ip out",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "variable": "CodFalha_Mist05",
        "program": "",
        "name": "",
        "x": 1330,
        "y": 740,
        "wires": []
    },
    {
        "id": "3c289a119c9352ff",
        "type": "eth-ip out",
        "z": "37e6316ce545a469",
        "endpoint": "3b57fe1078701342",
        "variable": "CodFalha_Mist06",
        "program": "",
        "name": "",
        "x": 1330,
        "y": 900,
        "wires": []
    },
    {
        "id": "b8cab616118fb80e",
        "type": "debug",
        "z": "37e6316ce545a469",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "2b500104bc5acca3",
        "type": "debug",
        "z": "37e6316ce545a469",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "cee41b5aa50e2679",
        "type": "debug",
        "z": "37e6316ce545a469",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "8fb7b9c048cfee89",
        "type": "debug",
        "z": "37e6316ce545a469",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "cebb2f6990acd702",
        "type": "debug",
        "z": "37e6316ce545a469",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "631ba67d45f072a8",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CodFalha_Decapado",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "7751d910730949fe"
            ]
        ]
    },
    {
        "id": "791de4e65be811d0",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "Split dos códigos",
        "func": "let valor = msg.payload; // Exemplo: 10704157\n\nlet tipoMaquina = Math.floor(valor / 10000000);\nlet qualMaquina = Math.floor((valor % 10000000) / 100000);\nlet categoriaFalha = Math.floor((valor % 100000) / 1000);\nlet descricaoFalha = valor % 1000;\n\nmsg.tipoMaquina = tipoMaquina;\nmsg.qualMaquina = qualMaquina;\nmsg.categoriaFalha = categoriaFalha;\nmsg.descricaoFalha = descricaoFalha;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "cdca464d6e0226b8"
            ]
        ]
    },
    {
        "id": "cdca464d6e0226b8",
        "type": "file in",
        "z": "2b17cc635e977db5",
        "name": "Local do Arquivo config",
        "filename": "/data/configAreaDecapado.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "205871afdfd952ec"
            ]
        ]
    },
    {
        "id": "205871afdfd952ec",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "Armazenando conteúdo",
        "func": "// Garante que está salvando como JSON de verdade\nlet config = {};\ntry {\n    config = JSON.parse(msg.payload);\n    global.set('configAreaDecapado', config);\n    return msg;\n} catch(e) {\n    msg.payload = \"Erro ao carregar config.json: \" + e;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 400,
        "wires": [
            [
                "5cc85fc63cbf5aeb"
            ]
        ]
    },
    {
        "id": "1646884d0f1d728f",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "Carregando descrição de cada código",
        "func": "let config = global.get('configAreaDecapado');\n\nmsg.tipoMaquinaDesc = config.tipoMaquina[msg.tipoMaquina.toString()];\nmsg.qualMaquinaDesc = config.qualMaquina[msg.qualMaquina.toString().padStart(2, '0')];\nmsg.categoriaFalhaDesc = config.categoriaFalha[msg.categoriaFalha.toString().padStart(2, '0')];\nmsg.descricaoFalhaDesc = config.descricaoFalha[msg.descricaoFalha.toString().padStart(3, '0')];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 460,
        "wires": [
            [
                "609afeba1b0e8d76"
            ]
        ]
    },
    {
        "id": "609afeba1b0e8d76",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "Gera String SQL",
        "func": "let moment = global.get('moment'); // Se quiser usar moment pra timezone, mas já vamos gerar o Date padrão\n\nlet tipoMaquinaDesc = msg.tipoMaquinaDesc;\nlet qualMaquinaDesc = msg.qualMaquinaDesc;\nlet categoriaFalhaDesc = msg.categoriaFalhaDesc;\nlet descricaoFalhaDesc = msg.descricaoFalhaDesc;\n\n// Verifica se alguma das variáveis é undefined\nif (\n    tipoMaquinaDesc === undefined ||\n    qualMaquinaDesc === undefined ||\n    categoriaFalhaDesc === undefined ||\n    descricaoFalhaDesc === undefined\n) {\n    msg.payload = \"Erro: Uma ou mais variáveis são undefined. Inserção no banco de dados cancelada.\";\n    return msg;\n}\n\n// Hora de São Paulo, sem milissegundos, no formato Date global (UTC)\nlet agora = new Date();\nagora.setMilliseconds(0); // Zera milissegundos (caso queira precisão só até os segundos)\n\n// Para ajustar para o fuso de São Paulo e exibir a ISO UTC correspondente:\nlet tz = moment().tz('America/Sao_Paulo');\n// Cria um objeto Date em UTC correspondente ao horário de São Paulo\nlet dateTimeSP = new Date(\n    Date.UTC(\n        tz.year(),\n        tz.month(),\n        tz.date(),\n        tz.hour(),\n        tz.minute(),\n        tz.second()\n    )\n);\n\n// Monta o objeto (como desejado para MongoDB ou JSON/API)\nmsg.payload = {\n    tipoMaquinaDesc: tipoMaquinaDesc,\n    qualMaquinaDesc: qualMaquinaDesc,\n    categoriaFalhaDesc: categoriaFalhaDesc,\n    descricaoFalhaDesc: descricaoFalhaDesc,\n    date_time: dateTimeSP // <-- este é um Date! MongoDB salva como ISODate, drivers/API serializam em ISO 8601.\n};\n\n// Opcional: marque a operação, se for para MongoDB no Node-RED\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 460,
        "wires": [
            [
                "54c63104822311d2",
                "d21147d0d4ef5c76"
            ]
        ]
    },
    {
        "id": "54c63104822311d2",
        "type": "mongodb4",
        "z": "2b17cc635e977db5",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "DecapadoFalhas",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Instancia Banco de Dados",
        "x": 770,
        "y": 460,
        "wires": [
            [
                "15e053a3f5e105db"
            ]
        ]
    },
    {
        "id": "15e053a3f5e105db",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "Zera Tag CodFalha",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 460,
        "wires": [
            [
                "bf944cb3b41c98b2"
            ]
        ]
    },
    {
        "id": "7751d910730949fe",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "Verifica se >0",
        "func": "// Esta função será usada dentro de um nó de função no Node-RED\nif (typeof msg.payload === 'number' && msg.payload > 0) {\n    // Retorna a mensagem com apenas o topic e o payload\n    return { topic: msg.topic, payload: msg.payload };\n} else {\n    // Retorna null para interromper o fluxo se a condição não for atendida\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "791de4e65be811d0"
            ]
        ]
    },
    {
        "id": "5cc85fc63cbf5aeb",
        "type": "link out",
        "z": "2b17cc635e977db5",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "d4726f40e8558faa"
        ],
        "x": 1235,
        "y": 400,
        "wires": []
    },
    {
        "id": "bf944cb3b41c98b2",
        "type": "eth-ip out",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "variable": "CodFalha_Decapado",
        "program": "",
        "name": "",
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "d4726f40e8558faa",
        "type": "link in",
        "z": "2b17cc635e977db5",
        "name": "link in 8",
        "links": [
            "5cc85fc63cbf5aeb"
        ],
        "x": 65,
        "y": 460,
        "wires": [
            [
                "1646884d0f1d728f"
            ]
        ]
    },
    {
        "id": "6c8d4abe12278c75",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Decapado.Out_OEE",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "7e54409365fd6920"
            ]
        ]
    },
    {
        "id": "89e0d02cf815ad94",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Decapado.Disp_OutSignal",
        "program": "",
        "name": "",
        "outputs": 1,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "1c342e5198dd8e43"
            ]
        ]
    },
    {
        "id": "15e6e85bb55b48e3",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Decapado.Desemp_OutSignal",
        "program": "",
        "name": "",
        "outputs": 1,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "5931f2f6c1b94db7"
            ]
        ]
    },
    {
        "id": "273fa9a0b7c15430",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "SimOEE_Decapado.Quali_OutSignal",
        "program": "",
        "name": "",
        "outputs": 1,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "3b617807ce3a9d32"
            ]
        ]
    },
    {
        "id": "46b894bb01a591ef",
        "type": "mongodb4",
        "z": "2b17cc635e977db5",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "DecapadoPerformance",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Instancia Banco de Dados",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "8fdfeb27a6a0bce2"
            ]
        ]
    },
    {
        "id": "ec8e6e345fafd9eb",
        "type": "inject",
        "z": "2b17cc635e977db5",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "2b5766b293201a72"
            ]
        ]
    },
    {
        "id": "8fdfeb27a6a0bce2",
        "type": "debug",
        "z": "2b17cc635e977db5",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "7e54409365fd6920",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 82",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet dadosOEE = flow.get('dadosOEE') || [];\ndadosOEE.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('dadosOEE', dadosOEE);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "1c342e5198dd8e43",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 83",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet dadosDisp = flow.get('dadosDisp') || [];\ndadosDisp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('dadosDisp', dadosDisp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "5931f2f6c1b94db7",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 84",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet dadosDesemp = flow.get('dadosDesemp') || [];\ndadosDesemp.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('dadosDesemp', dadosDesemp);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "3b617807ce3a9d32",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 85",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet dadosQuali = flow.get('dadosQuali') || [];\ndadosQuali.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('dadosQuali', dadosQuali);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "2b5766b293201a72",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 86",
        "func": "let dadosOEE = flow.get('dadosOEE') || [];\nlet dadosDisp = flow.get('dadosDisp') || [];\nlet dadosDesemp = flow.get('dadosDesemp') || [];\nlet dadosQuali = flow.get('dadosQuali') || [];\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"Decapado Mecânico\",\n    OEE: media(dadosOEE),\n    Disp: media(dadosDisp),\n    Desemp: media(dadosDesemp),\n    Quali: media(dadosQuali)\n};\n\n// Campos SÓ para debug/monitoramento\nmsg.OEEcount = dadosOEE.length;\nmsg.Dispcount = dadosDisp.length;\nmsg.Desempcount = dadosDesemp.length;\nmsg.Qualicount = dadosQuali.length;\n\nmsg.OEEDesvio = desvioPadrao(dadosOEE);\nmsg.DispDesvio = desvioPadrao(dadosDisp);\nmsg.DesempDesvio = desvioPadrao(dadosDesemp);\nmsg.QualiDesvio = desvioPadrao(dadosQuali);\n\n// Limpa arrays\nflow.set('dadosOEE', []);\nflow.set('dadosDisp', []);\nflow.set('dadosDesemp', []);\nflow.set('dadosQuali', []);\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "46b894bb01a591ef"
            ]
        ]
    },
    {
        "id": "d19a89a86f40fe63",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CorrenteFase_Decapado_SignalR",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 560,
        "wires": [
            [
                "05d789d1363e365a"
            ]
        ]
    },
    {
        "id": "8272b2abe3e30664",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CorrenteFase_Decapado_SignalT",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "ffd4dfc630073191"
            ]
        ]
    },
    {
        "id": "ee66630f8aaed5e5",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "ConsumoEnergia_Decapado_Signal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 740,
        "wires": [
            [
                "111add4e5635472e"
            ]
        ]
    },
    {
        "id": "736cddb48b5109ad",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "CorrenteFase_Decapado_SignalS",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "43d5e15e0fb6a00d"
            ]
        ]
    },
    {
        "id": "05d789d1363e365a",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 117",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet CorrenteR = flow.get('CorrenteR') || [];\nCorrenteR.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('CorrenteR', CorrenteR);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 560,
        "wires": []
    },
    {
        "id": "43d5e15e0fb6a00d",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 118",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet CorrenteS = flow.get('CorrenteS') || [];\nCorrenteS.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('CorrenteS', CorrenteS);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 620,
        "wires": []
    },
    {
        "id": "ffd4dfc630073191",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 119",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet CorrenteT = flow.get('CorrenteT') || [];\nCorrenteT.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('CorrenteT', CorrenteT);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 680,
        "wires": []
    },
    {
        "id": "111add4e5635472e",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 120",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet ConsumoKW = flow.get('ConsumoKW') || [];\nConsumoKW.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('ConsumoKW', ConsumoKW);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 740,
        "wires": []
    },
    {
        "id": "96f8a188a92b099a",
        "type": "inject",
        "z": "2b17cc635e977db5",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "0e87cebff72453ed"
            ]
        ]
    },
    {
        "id": "0e87cebff72453ed",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 121",
        "func": "let CorrenteR = flow.get('CorrenteR') || [];\nlet CorrenteS = flow.get('CorrenteS') || [];\nlet CorrenteT = flow.get('CorrenteT') || [];\nlet ConsumoKW = flow.get('ConsumoKW') || [];\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"Decapado Mecânico\",\n    CorrenteR: media(CorrenteR),\n    CorrenteS: media(CorrenteS),\n    CorrenteT: media(CorrenteT),\n    ConsumoKW: media(ConsumoKW)\n};\n\n// Campos SÓ para debug/monitoramento\nmsg.CorrenteRcount = CorrenteR.length;\nmsg.CorrenteScount = CorrenteS.length;\nmsg.CorrenteTcount = CorrenteT.length;\nmsg.ConsumoKWcount = ConsumoKW.length;\n\nmsg.CorrenteRDesvio = desvioPadrao(CorrenteR);\nmsg.CorrenteSDesvio = desvioPadrao(CorrenteS);\nmsg.CorrenteTDesvio = desvioPadrao(CorrenteT);\nmsg.ConsumoKWDesvio = desvioPadrao(ConsumoKW);\n\n// Limpa arrays\nflow.set('CorrenteR', []);\nflow.set('CorrenteS', []);\nflow.set('CorrenteT', []);\nflow.set('ConsumoKW', []);\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 800,
        "wires": [
            [
                "726a312ab8ec788e"
            ]
        ]
    },
    {
        "id": "5fe642627f254ba3",
        "type": "debug",
        "z": "2b17cc635e977db5",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 800,
        "wires": []
    },
    {
        "id": "726a312ab8ec788e",
        "type": "mongodb4",
        "z": "2b17cc635e977db5",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "DecapadoEnergia",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Instancia Banco de Dados",
        "x": 750,
        "y": 800,
        "wires": [
            [
                "5fe642627f254ba3"
            ]
        ]
    },
    {
        "id": "c0a940d8e45a14c2",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "Temp_Decapado_SignalR",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 860,
        "wires": [
            [
                "643ca6b959d5445b"
            ]
        ]
    },
    {
        "id": "b6b733f1e7d37048",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "Temp_Decapado_SignalT",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 980,
        "wires": [
            [
                "fc71457d3bdac265"
            ]
        ]
    },
    {
        "id": "107aab8d6ac2b917",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "Temp_Decapado_Signal",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "3e644093277017db"
            ]
        ]
    },
    {
        "id": "86abc8d1500de2ae",
        "type": "eth-ip in",
        "z": "2b17cc635e977db5",
        "endpoint": "3b57fe1078701342",
        "mode": "single",
        "variable": "Temp_Decapado_SignalS",
        "program": "",
        "name": "",
        "gatherMetrics": false,
        "includeTimestamp": false,
        "addErrorOutput": false,
        "outputs": 1,
        "x": 130,
        "y": 920,
        "wires": [
            [
                "864363c4a2901d1b"
            ]
        ]
    },
    {
        "id": "643ca6b959d5445b",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 122",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet TempR = flow.get('TempR') || [];\nTempR.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('TempR', TempR);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 860,
        "wires": []
    },
    {
        "id": "864363c4a2901d1b",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 123",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet TempS = flow.get('TempS') || [];\nTempS.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('TempS', TempS);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 920,
        "wires": []
    },
    {
        "id": "fc71457d3bdac265",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 124",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet TempT = flow.get('TempT') || [];\nTempT.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('TempT', TempT);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 980,
        "wires": []
    },
    {
        "id": "3e644093277017db",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 125",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet TempKW = flow.get('TempKW') || [];\nTempKW.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('TempKW', TempKW);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1040,
        "wires": []
    },
    {
        "id": "aefaec5651f54cb3",
        "type": "inject",
        "z": "2b17cc635e977db5",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1100,
        "wires": [
            [
                "35451cb15ad703f8"
            ]
        ]
    },
    {
        "id": "35451cb15ad703f8",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 126",
        "func": "let TempR = flow.get('TempR') || [];\nlet TempS = flow.get('TempS') || [];\nlet TempT = flow.get('TempT') || [];\nlet TempKW = flow.get('TempKW') || [];\n\nfunction media(arr) {\n    if(arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n    if (arr.length === 0) return null;\n    let m = media(arr);\n    let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n    return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n    DateTime: agora,\n    IDMaq: \"Decapado Mecânico\",\n    TempR: media(TempR),\n    TempS: media(TempS),\n    TempT: media(TempT),\n    TempKW: media(TempKW)\n};\n\n// Campos SÓ para debug/monitoramento\nmsg.TempRcount = TempR.length;\nmsg.TempScount = TempS.length;\nmsg.TempTcount = TempT.length;\nmsg.TempKWcount = TempKW.length;\n\nmsg.TempRDesvio = desvioPadrao(TempR);\nmsg.TempSDesvio = desvioPadrao(TempS);\nmsg.TempTDesvio = desvioPadrao(TempT);\nmsg.TempKWDesvio = desvioPadrao(TempKW);\n\n// Limpa arrays\nflow.set('TempR', []);\nflow.set('TempS', []);\nflow.set('TempT', []);\nflow.set('TempKW', []);\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1100,
        "wires": [
            [
                "9b82ab26df43f01c"
            ]
        ]
    },
    {
        "id": "8801c0c667e5b719",
        "type": "debug",
        "z": "2b17cc635e977db5",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9b82ab26df43f01c",
        "type": "mongodb4",
        "z": "2b17cc635e977db5",
        "clientNode": "c681a42ffddbb03b",
        "mode": "collection",
        "collection": "DecapadoTemp",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Instancia Banco de Dados",
        "x": 750,
        "y": 1100,
        "wires": [
            [
                "8801c0c667e5b719"
            ]
        ]
    },
    {
        "id": "a29159544071de5e",
        "type": "inject",
        "z": "2b17cc635e977db5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1010460",
        "payloadType": "num",
        "x": 80,
        "y": 360,
        "wires": [
            [
                "7751d910730949fe"
            ]
        ]
    },
    {
        "id": "d21147d0d4ef5c76",
        "type": "debug",
        "z": "2b17cc635e977db5",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "998ff6fa59428732",
        "type": "inject",
        "z": "2b17cc635e977db5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1220,
        "wires": [
            [
                "a3122fc599936faa"
            ]
        ]
    },
    {
        "id": "a3122fc599936faa",
        "type": "function",
        "z": "2b17cc635e977db5",
        "name": "function 127",
        "func": "// Lista de possíveis valores para o campo de status (string)\nconst statusPossiveis = [\"ATIVO\", \"INATIVO\", \"EM_MANUTENCAO\", \"FALHA\", \"OCIOSO\"];\n\n// --- Funções para gerar valores aleatórios ---\n\n// Gera um número inteiro aleatório entre um valor mínimo e máximo\nfunction getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n// Gera um número de ponto flutuante (decimal) aleatório entre um mínimo e máximo\nfunction getRandomFloat(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\n// --- Montagem do payload ---\n\n// O objeto msg.payload será o documento a ser inserido no MongoDB\nmsg.payload = {\n    // 1. Gera o timestamp. new Date() cria o objeto de data que o MongoDB entende.\n    \"timestamp\": new Date(),\n\n    // 2. Gera 5 valores numéricos aleatórios\n    \"leitura_sensor_1\": getRandomInt(0, 1000),\n    \"temperatura\": getRandomFloat(20.0, 95.5),\n    \"vibracao\": getRandomInt(10, 50),\n    \"pressao\": getRandomInt(1000, 9999),\n    \"consumo_energia\": getRandomFloat(50.0, 150.0),\n\n    // 3. Gera 1 valor string aleatório, escolhido da lista\n    \"status\": statusPossiveis[Math.floor(Math.random() * statusPossiveis.length)]\n};\n\n// Opcional: Se você estiver usando o nó do MongoDB, pode definir a operação.\n// Isso é útil se o mesmo nó de função for usado para diferentes operações.\n// msg.operation = \"insertOne\";\nmsg.operation = \"insertOne\";\n// Retorna a mensagem com o payload modificado para o próximo nó do fluxo.\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1220,
        "wires": [
            [
                "07f9fcc6667e4f24"
            ]
        ]
    },
    {
        "id": "07f9fcc6667e4f24",
        "type": "mongodb4",
        "z": "2b17cc635e977db5",
        "clientNode": "b6d0ccbf041c0628",
        "mode": "collection",
        "collection": "HortoData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Instancia Banco de Dados",
        "x": 750,
        "y": 1220,
        "wires": [
            [
                "8801c0c667e5b719"
            ]
        ]
    },
    {
        "id": "0b17e216e3b15a12",
        "type": "mqtt in",
        "z": "539de8bfcd566b4e",
        "name": "",
        "topic": "supervisorio/setpoint01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "680a09ce352c8ad7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "cf7e968728686272",
                "b8c6132405ab8d46"
            ]
        ]
    },
    {
        "id": "cf7e968728686272",
        "type": "debug",
        "z": "539de8bfcd566b4e",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd76f6768882146b",
        "type": "mqtt in",
        "z": "539de8bfcd566b4e",
        "name": "",
        "topic": "supervisorio/setpoint02",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "680a09ce352c8ad7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "0cd2010b9811c672",
                "409c4753087b8ef9"
            ]
        ]
    },
    {
        "id": "0cd2010b9811c672",
        "type": "debug",
        "z": "539de8bfcd566b4e",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "577cfec5ec5d9117",
        "type": "mqtt in",
        "z": "539de8bfcd566b4e",
        "name": "",
        "topic": "supervisorio/setpoint03",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "680a09ce352c8ad7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "5a98f0888e14193a",
                "3f413c167b44aea8"
            ]
        ]
    },
    {
        "id": "5a98f0888e14193a",
        "type": "debug",
        "z": "539de8bfcd566b4e",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "7dc34cd22c3bf5dd",
        "type": "mqtt in",
        "z": "539de8bfcd566b4e",
        "name": "",
        "topic": "supervisorio/setpoint04",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "680a09ce352c8ad7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "7ae94d080d7b6620",
                "6def6d725d83d635"
            ]
        ]
    },
    {
        "id": "7ae94d080d7b6620",
        "type": "debug",
        "z": "539de8bfcd566b4e",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 440,
        "wires": []
    },
    {
        "id": "b8c6132405ab8d46",
        "type": "eth-ip out",
        "z": "539de8bfcd566b4e",
        "endpoint": "3b57fe1078701342",
        "variable": "Temp_DecapadoR.SP_SimulatedSignal",
        "program": "",
        "name": "",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "409c4753087b8ef9",
        "type": "eth-ip out",
        "z": "539de8bfcd566b4e",
        "endpoint": "3b57fe1078701342",
        "variable": "Temp_DecapadoS.SP_SimulatedSignal",
        "program": "",
        "name": "",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "3f413c167b44aea8",
        "type": "eth-ip out",
        "z": "539de8bfcd566b4e",
        "endpoint": "3b57fe1078701342",
        "variable": "Temp_DecapadoT.SP_SimulatedSignal",
        "program": "",
        "name": "",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "6def6d725d83d635",
        "type": "eth-ip out",
        "z": "539de8bfcd566b4e",
        "endpoint": "3b57fe1078701342",
        "variable": "Temp_Decapado.SP_SimulatedSignal",
        "program": "",
        "name": "",
        "x": 470,
        "y": 540,
        "wires": []
    }
]