node-red/flows.json
[
    {
        "id": "d1bf4eba69c8e4a1",
        "type": "tab",
        "label": "Scanner SE03",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d3490b53bdd7579",
        "type": "tab",
        "label": "Telemetria SE03",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f890b2a13d7c7afc",
        "type": "group",
        "z": "d1bf4eba69c8e4a1",
        "name": "Scheduler Modbus",
        "style": {
            "stroke": "#08137C",
            "fill": "#17E0B9",
            "label": true,
            "color": "#08137C"
        },
        "nodes": [
            "c8883a0a12e25412",
            "76e7c6cc1e3a299c",
            "596d3d48f4a20beb",
            "9d9586cdeb02602d",
            "56dd6f9168e02e62",
            "92b5700bb1cf6000",
            "f0c3ef7c2c3fa6ab",
            "7ef4915cfad038a6",
            "f24cd8d2caf629dd",
            "e8ef9985174635d9",
            "f4923a7b47cedfed",
            "2a89758d931ded46",
            "9c5e6af61cf0bc71",
            "71f112d72c703691",
            "771da888a3a00159",
            "c216011114f81e95",
            "ed86f61597c7587e",
            "43c2da9fc26d6b81",
            "16964d531b6799f7",
            "f29036046131df80",
            "09cbabc980168ffe",
            "f90f4cf1a4497b0c"
        ],
        "x": 25,
        "y": 19,
        "w": 1321,
        "h": 442
    },
    {
        "id": "8c80cf9b9d418bd5",
        "type": "group",
        "z": "d1bf4eba69c8e4a1",
        "name": "",
        "style": {
            "stroke": "#08137C",
            "fill": "#17E0B9",
            "label": true
        },
        "nodes": [
            "3266da2cdfca0641",
            "18ae503034b9d813",
            "77189bff61803ea2",
            "6157e2bcfce35637",
            "4f4a0b15d7cb5720",
            "b50bb4ed51239516",
            "8453268458ce2c3b",
            "a5a2785916b1dbc9",
            "eaebfcde82552287",
            "80d34264007ccf42"
        ],
        "x": 25,
        "y": 499,
        "w": 432,
        "h": 242
    },
    {
        "id": "44eba1dffb9728df",
        "type": "group",
        "z": "d1bf4eba69c8e4a1",
        "name": "",
        "style": {
            "stroke": "#08137C",
            "fill": "#17E0B9",
            "label": true
        },
        "nodes": [
            "6479cff1625cbc9e",
            "c56698e9025ddde1",
            "842a98f406c73e24",
            "951d478a6d914340",
            "8123a904778d9ee7",
            "37170a1d5a50e158",
            "e680fc6c3c93d506",
            "788ed819867a9056",
            "bfb6866c79ee8b0d",
            "b067ef33db608c08",
            "a51bd408a4c4b667",
            "9c2d9e756ebd46ae",
            "92eb024427e06746",
            "999021acaed2dadb",
            "f9c2269e4c724bdd",
            "f4008b8a32a213ef",
            "07b44a72b0bb8b78",
            "1cd7d3513c127be9",
            "b0f86398cc3b4e53",
            "566ec76c880454ae",
            "6b45a6cd031b7224",
            "b95ebc108b5cd6bc",
            "cde3b8dd2e2ce392",
            "70e6f4407cf7b582",
            "61b749bfcbbe1697",
            "14d6052370d30a6e",
            "d638418eb7c813a3",
            "7f3f3c8fbde3fb5c",
            "a6756d61b077ecb9",
            "3033b2061c59af5d"
        ],
        "x": 25,
        "y": 799,
        "w": 1381,
        "h": 322
    },
    {
        "id": "729a66a87346ee1a",
        "type": "group",
        "z": "d1bf4eba69c8e4a1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8bce4495f2f918cb",
            "9bd1d3dff1cb9a36",
            "4b2a36b2d2087328",
            "feb76e329a0a559f",
            "74c306c8cf9caf48",
            "3861997ef1422027",
            "bd6e2bb1daaa0dc2",
            "0dc10d1508d72edc",
            "336c79125ddf2647",
            "743eabc5599546b9",
            "a6fd12923d3a12e3",
            "899b03584b1df00f",
            "a01b5922e837f5a2",
            "2b3b8f73dbc5b403",
            "41fb79882f149ca6",
            "038c87d709c657dd",
            "159a46d0fedfca88",
            "9746b8d4cd4476cc",
            "182b3f2851f96e95",
            "b6736df876d79b79",
            "14329ef4eafdc817",
            "abd21e758f53b6f9",
            "0f114eef3f890b59",
            "c36a0bd2ed2c1f92",
            "c9a0e36aa6440b5d",
            "e9b90c2207dfb9b1",
            "821e3a3fcf161ccf",
            "a4d0a743280c6935",
            "692a64c079bc0ef4",
            "7fd3ae625f0277d0",
            "d226d7348e6c8c45",
            "f5e737f5bdf2f899",
            "6ef4618985f09bd7",
            "62b653a50290ba17",
            "479e97e1ed41dcbe",
            "9d369d0d78f0f1da",
            "63b624397fdf5ca4",
            "66726584e4e2a16f",
            "14650894e50745e1",
            "40d462c60c7403a9",
            "e9f14d71474564a6",
            "5671954b5ed966d0",
            "4ed43dd1cee249aa",
            "f8dae90c184ce6a2",
            "3d21f40f4609999f",
            "345e85b89a98b997",
            "95291cf5ad12ac08",
            "bdabe01e5b09266d",
            "0344b4db4472560f",
            "262c6567da758366",
            "90a70f6f3f235385",
            "2d8b8607e2640356",
            "935ae5494b7d8356"
        ],
        "x": 25,
        "y": 1139,
        "w": 1002,
        "h": 562
    },
    {
        "id": "92833ee5c723c6a4",
        "type": "group",
        "z": "d1bf4eba69c8e4a1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "68e39a8e77f389f8",
            "8ebf2b6ef44ab5f8",
            "fa77ec89453091c4",
            "b92925925aea1116",
            "129511a36e64ddbe",
            "3e449e66ed204ff7",
            "3c8ba28ce43aa19d",
            "e3e38e99c72629eb",
            "4bd947f6733616df",
            "8ca4c937566065c9",
            "66c797b5e3425261"
        ],
        "x": 24,
        "y": 1959,
        "w": 1102,
        "h": 222
    },
    {
        "id": "e19b5d6a2ebcbfcc",
        "type": "group",
        "z": "d1bf4eba69c8e4a1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "39a15af04fb88333",
            "e16ab8109a42b3f1",
            "7f92a7f3018e38b4",
            "30676d044517a167",
            "9c4efd3906ded466",
            "389c4dde734940c1",
            "1592fbea31d3e842",
            "e8e7e53a0a5fa81f",
            "7c8449dbcd93d94f",
            "db10c0cad5edf9da",
            "999ad0401e09495b",
            "833755e61bf34d44",
            "7dd21d40a849e535",
            "94781b6d825b754e",
            "11e6fed703a961be",
            "1f7518fef0b2291e",
            "e513b3f61345d51f",
            "70a9c00d7c244ff4",
            "b987d18444c1f0aa",
            "1eec55ab1189b668",
            "da73aaea23a429b4"
        ],
        "x": 54,
        "y": 2579,
        "w": 832,
        "h": 322
    },
    {
        "id": "abe60f6b1d88892c",
        "type": "group",
        "z": "d1bf4eba69c8e4a1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ad10bc2b17254bb7",
            "768beda8aced84b2",
            "4b57b389f5e737e5",
            "38f773a5867513b5",
            "2ee857f133377866",
            "cf5778d65febe403",
            "5babdcc9bc053c78",
            "d387a7f381aba54c",
            "107f84c57038c3fc",
            "67f4d0699d722484"
        ],
        "x": 24,
        "y": 1739,
        "w": 1102,
        "h": 202
    },
    {
        "id": "50fc5c2a64d40a1e",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.10",
        "tcpPort": "8899",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": "5000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": 500,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "fc161e80a8dc4243",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "host.docker.internal",
        "port": "27017",
        "dbName": "Cluster-EasyTek",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "25c987d53afcf33c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.43.0",
            "node-red-contrib-mongodb4": "3.1.1",
            "@flowfuse/node-red-dashboard": "1.19.1"
        }
    },
    {
        "id": "b2596a0e88f80a96",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "05c7b6b7ca602e02",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "76d56ec9d200e677",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "b2596a0e88f80a96",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "05c7b6b7ca602e02",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ef28c17f046038e6",
        "type": "ui-group",
        "name": "Group 1",
        "page": "76d56ec9d200e677",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "c8883a0a12e25412",
        "type": "modbus-flex-getter",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "PAC3100 Flex",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 611,
        "y": 140,
        "wires": [
            [
                "771da888a3a00159"
            ],
            [
                "596d3d48f4a20beb"
            ]
        ]
    },
    {
        "id": "76e7c6cc1e3a299c",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Release Busy (OK)",
        "func": "// Libera a trava de busy quando a leitura Modbus completou com sucesso\n// Aqui você também pode enviar msg para um decoder genérico de PAC3100\n\nflow.set('pac_busy', false);\n\n// Se quiser, pode apenas repassar a msg para um outro nó (decode)\n// por enquanto vamos só devolver a msg para seguir no fluxo\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "43c2da9fc26d6b81"
            ]
        ]
    },
    {
        "id": "596d3d48f4a20beb",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Handle Error (ERR)",
        "func": "// Esse nó trata a SAÍDA 2 do modbus-flex-getter\n// que na verdade é mais \"status\" do que \"erro\"\n\n// Se houver info de erro de verdade:\nif (msg.error || (msg.payload && msg.payload.error)) {\n    node.warn(\n        'Erro Modbus PAC3100: ' + (msg.error || msg.payload.error)\n    );\n}\n\n// De qualquer forma, libera o \"busy\"\nflow.set('pac_busy', false);\n\n// Não precisa mandar nada adiante\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 821,
        "y": 160,
        "wires": [
            [
                "9d9586cdeb02602d"
            ]
        ]
    },
    {
        "id": "9d9586cdeb02602d",
        "type": "debug",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "DBG PAC ERR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1011,
        "y": 160,
        "wires": []
    },
    {
        "id": "56dd6f9168e02e62",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "",
        "scope": [
            "92b5700bb1cf6000"
        ],
        "uncaught": false,
        "x": 121,
        "y": 120,
        "wires": [
            [
                "71f112d72c703691"
            ]
        ]
    },
    {
        "id": "92b5700bb1cf6000",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "HB — Último dado coletado",
        "func": "// HB — Último dado coletado (versão simples pro scanner PAC3100)\n// Qualquer resposta OK do Modbus atualiza o timestamp\n\nflow.set('last_modbus_sample_ts', Date.now());\nflow.set('last_modbus_sample', msg); // guarda a msg inteira pra diagnóstico se quiser\n\n// Devolve a msg pra seguir para o debug_ok\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f0c3ef7c2c3fa6ab",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Se >8 s sem dado ⇒ SHOT",
        "func": "const THRESH = 10000; // 8 s\nconst COOLDOWN = 10000; // evita tiros em sequência\n\nconst now = Date.now();\nconst last = flow.get('last_modbus_sample_ts') || 0;\nconst lastKick = flow.get('last_modbus_kick_ts') || 0;\nconst idle = now - last;\n\nnode.status({\n  fill: idle > THRESH ? 'red' : 'green',\n  shape: 'dot',\n  text: `idle ${Math.round(idle / 1000)}s`\n});\n\nif (idle > THRESH && (now - lastKick) > COOLDOWN) {\n  flow.set('last_modbus_kick_ts', now);\n  // dispara o início da cadeia (seu delay de 200 ms leva até Corrente L1)\n  return { payload: 'watchdog-kick' };\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 391,
        "y": 60,
        "wires": [
            [
                "f24cd8d2caf629dd"
            ]
        ]
    },
    {
        "id": "7ef4915cfad038a6",
        "type": "inject",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Watchdog 1 s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 151,
        "y": 60,
        "wires": [
            [
                "f0c3ef7c2c3fa6ab"
            ]
        ]
    },
    {
        "id": "3266da2cdfca0641",
        "type": "inject",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "123",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 121,
        "y": 540,
        "wires": [
            [
                "18ae503034b9d813"
            ]
        ]
    },
    {
        "id": "f24cd8d2caf629dd",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Out Watchdog",
        "mode": "link",
        "links": [
            "e8ef9985174635d9"
        ],
        "x": 616,
        "y": 60,
        "wires": []
    },
    {
        "id": "e8ef9985174635d9",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "In Watchdog",
        "links": [
            "f24cd8d2caf629dd"
        ],
        "x": 535,
        "y": 240,
        "wires": [
            [
                "43c2da9fc26d6b81"
            ]
        ]
    },
    {
        "id": "f4923a7b47cedfed",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Out Delay01",
        "mode": "link",
        "links": [
            "2a89758d931ded46"
        ],
        "x": 956,
        "y": 120,
        "wires": []
    },
    {
        "id": "2a89758d931ded46",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "link in 3",
        "links": [
            "f4923a7b47cedfed"
        ],
        "x": 95,
        "y": 280,
        "wires": [
            [
                "9c5e6af61cf0bc71"
            ]
        ]
    },
    {
        "id": "6479cff1625cbc9e",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "AllData_MM01",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (1) ou string (\"1\")\nconst pac1 = all[1] || all[\"1\"];\n\nif (!pac1) {\n    // Ainda não tem nada do PAC 1\n    msg.payload = {\n        info: \"Sem dados para PAC 1 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 1\n    msg.payload = pac1;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 351,
        "y": 840,
        "wires": [
            [
                "788ed819867a9056"
            ]
        ]
    },
    {
        "id": "c56698e9025ddde1",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "AllData_MM02",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (1) ou string (\"1\")\nconst pac2 = all[2] || all[\"2\"];\n\nif (!pac2) {\n    // Ainda não tem nada do PAC 1\n    msg.payload = {\n        info: \"Sem dados para PAC 1 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 1\n    msg.payload = pac2;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 351,
        "y": 880,
        "wires": [
            [
                "bfb6866c79ee8b0d"
            ]
        ]
    },
    {
        "id": "842a98f406c73e24",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "AllData_MM03",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (1) ou string (\"1\")\nconst pac1 = all[3] || all[\"3\"];\n\nif (!pac1) {\n    // Ainda não tem nada do PAC 1\n    msg.payload = {\n        info: \"Sem dados para PAC 1 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 1\n    msg.payload = pac1;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 351,
        "y": 920,
        "wires": [
            [
                "b067ef33db608c08"
            ]
        ]
    },
    {
        "id": "951d478a6d914340",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "AllData_MM04",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (1) ou string (\"1\")\nconst pac1 = all[4] || all[\"4\"];\n\nif (!pac1) {\n    // Ainda não tem nada do PAC 1\n    msg.payload = {\n        info: \"Sem dados para PAC 1 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 1\n    msg.payload = pac1;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 351,
        "y": 960,
        "wires": [
            [
                "a51bd408a4c4b667"
            ]
        ]
    },
    {
        "id": "8123a904778d9ee7",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "AllData_MM05",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (1) ou string (\"1\")\nconst pac1 = all[5] || all[\"5\"];\n\nif (!pac1) {\n    // Ainda não tem nada do PAC 1\n    msg.payload = {\n        info: \"Sem dados para PAC 1 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 1\n    msg.payload = pac1;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 351,
        "y": 1000,
        "wires": [
            [
                "9c2d9e756ebd46ae"
            ]
        ]
    },
    {
        "id": "37170a1d5a50e158",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "AllData_MM06",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (1) ou string (\"1\")\nconst pac1 = all[6] || all[\"6\"];\n\nif (!pac1) {\n    // Ainda não tem nada do PAC 1\n    msg.payload = {\n        info: \"Sem dados para PAC 1 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 1\n    msg.payload = pac1;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 351,
        "y": 1040,
        "wires": [
            [
                "92eb024427e06746"
            ]
        ]
    },
    {
        "id": "e680fc6c3c93d506",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "AllData_MM07",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (1) ou string (\"1\")\nconst pac1 = all[7] || all[\"7\"];\n\nif (!pac1) {\n    // Ainda não tem nada do PAC 1\n    msg.payload = {\n        info: \"Sem dados para PAC 1 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 1\n    msg.payload = pac1;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 351,
        "y": 1080,
        "wires": [
            [
                "999021acaed2dadb"
            ]
        ]
    },
    {
        "id": "788ed819867a9056",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "Filtro MM01",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"TensaoL1\",\n    \"TensaoL2\",\n    \"TensaoL3\", \n\n    \"TensaoL1Min\",\n    \"TensaoL2Min\",\n    \"TensaoL3Min\",\n\n    \"TensaoL1Max\",\n    \"TensaoL2Max\",\n    \"TensaoL3Max\",\n\n    \"TensaoL1L2\",\n    \"TensaoL2L3\",\n    \"TensaoL3L1\",\n\n    \"TensaoL1L2Min\",\n    \"TensaoL2L3Min\",\n    \"TensaoL3L1Min\",\n\n    \"TensaoL1L2Max\",\n    \"TensaoL2L3Max\",\n    \"TensaoL3L1Max\",\n\n    \"CorrenteL1\",\n    \"CorrenteL2\",\n    \"CorrenteL3\",\n\n    \"CorrenteL1Min\",\n    \"CorrenteL2Min\",\n    \"CorrenteL3Min\",\n   \n    \"CorrenteL1Max\",\n    \"CorrenteL2Max\",\n    \"CorrenteL3Max\",\n\n    \"PotenciaAtivaTotal\",\n    \"PotenciaAtivaTotalMax\",\n    \"PotenciaAtivaTotalMin\",\n    \"FatorPotenciaTotal\",\n    \"PotenciaAtivaMaxPeriodo\"\n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM01\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 661,
        "y": 840,
        "wires": [
            [
                "f4008b8a32a213ef"
            ]
        ]
    },
    {
        "id": "bfb6866c79ee8b0d",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "Filtro MM02",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"TensaoL1\",\n    \"TensaoL2\",\n    \"TensaoL3\",\n\n    \"TensaoL1Min\",\n    \"TensaoL2Min\",\n    \"TensaoL3Min\",\n\n    \"TensaoL1Max\",\n    \"TensaoL2Max\",\n    \"TensaoL3Max\",\n\n    \"TensaoL1L2\",\n    \"TensaoL2L3\",\n    \"TensaoL3L1\",\n\n    \"TensaoL1L2Min\",\n    \"TensaoL2L3Min\",\n    \"TensaoL3L1Min\",\n\n    \"TensaoL1L2Max\",\n    \"TensaoL2L3Max\",\n    \"TensaoL3L1Max\",\n\n    \"CorrenteL1\",\n    \"CorrenteL2\",\n    \"CorrenteL3\",\n\n    \"CorrenteL1Min\",\n    \"CorrenteL2Min\",\n    \"CorrenteL3Min\",\n\n    \"CorrenteL1Max\",\n    \"CorrenteL2Max\",\n    \"CorrenteL3Max\",\n\n    \"PotenciaAtivaTotal\",\n    \"PotenciaAtivaTotalMax\",\n    \"PotenciaAtivaTotalMin\",\n    \"FatorPotenciaTotal\"\n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM02\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 661,
        "y": 880,
        "wires": [
            [
                "07b44a72b0bb8b78"
            ]
        ]
    },
    {
        "id": "b067ef33db608c08",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "Filtro MM03",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"TensaoL1\",\n    \"TensaoL2\",\n    \"TensaoL3\",\n\n    \"TensaoL1Min\",\n    \"TensaoL2Min\",\n    \"TensaoL3Min\",\n\n    \"TensaoL1Max\",\n    \"TensaoL2Max\",\n    \"TensaoL3Max\",\n\n    \"TensaoL1L2\",\n    \"TensaoL2L3\",\n    \"TensaoL3L1\",\n\n    \"TensaoL1L2Min\",\n    \"TensaoL2L3Min\",\n    \"TensaoL3L1Min\",\n\n    \"TensaoL1L2Max\",\n    \"TensaoL2L3Max\",\n    \"TensaoL3L1Max\",\n\n    \"CorrenteL1\",\n    \"CorrenteL2\",\n    \"CorrenteL3\",\n\n    \"CorrenteL1Min\",\n    \"CorrenteL2Min\",\n    \"CorrenteL3Min\",\n\n    \"CorrenteL1Max\",\n    \"CorrenteL2Max\",\n    \"CorrenteL3Max\",\n\n    \"PotenciaAtivaTotal\",\n    \"PotenciaAtivaTotalMax\",\n    \"PotenciaAtivaTotalMin\",\n    \"FatorPotenciaTotal\"\n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM03\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 661,
        "y": 920,
        "wires": [
            [
                "1cd7d3513c127be9"
            ]
        ]
    },
    {
        "id": "a51bd408a4c4b667",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "Filtro MM04",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"TensaoL1\",\n    \"TensaoL2\",\n    \"TensaoL3\",\n\n    \"TensaoL1Min\",\n    \"TensaoL2Min\",\n    \"TensaoL3Min\",\n\n    \"TensaoL1Max\",\n    \"TensaoL2Max\",\n    \"TensaoL3Max\",\n\n    \"TensaoL1L2\",\n    \"TensaoL2L3\",\n    \"TensaoL3L1\",\n\n    \"TensaoL1L2Min\",\n    \"TensaoL2L3Min\",\n    \"TensaoL3L1Min\",\n\n    \"TensaoL1L2Max\",\n    \"TensaoL2L3Max\",\n    \"TensaoL3L1Max\",\n\n    \"CorrenteL1\",\n    \"CorrenteL2\",\n    \"CorrenteL3\",\n\n    \"CorrenteL1Min\",\n    \"CorrenteL2Min\",\n    \"CorrenteL3Min\",\n\n    \"CorrenteL1Max\",\n    \"CorrenteL2Max\",\n    \"CorrenteL3Max\",\n\n    \"PotenciaAtivaTotal\",\n    \"PotenciaAtivaTotalMax\",\n    \"PotenciaAtivaTotalMin\",\n    \"FatorPotenciaTotal\"\n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM04\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 661,
        "y": 960,
        "wires": [
            [
                "b0f86398cc3b4e53"
            ]
        ]
    },
    {
        "id": "9c2d9e756ebd46ae",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "Filtro MM05",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"TensaoL1\",\n    \"TensaoL2\",\n    \"TensaoL3\",\n\n    \"TensaoL1Min\",\n    \"TensaoL2Min\",\n    \"TensaoL3Min\",\n\n    \"TensaoL1Max\",\n    \"TensaoL2Max\",\n    \"TensaoL3Max\",\n\n    \"TensaoL1L2\",\n    \"TensaoL2L3\",\n    \"TensaoL3L1\",\n\n    \"TensaoL1L2Min\",\n    \"TensaoL2L3Min\",\n    \"TensaoL3L1Min\",\n\n    \"TensaoL1L2Max\",\n    \"TensaoL2L3Max\",\n    \"TensaoL3L1Max\",\n\n    \"CorrenteL1\",\n    \"CorrenteL2\",\n    \"CorrenteL3\",\n\n    \"CorrenteL1Min\",\n    \"CorrenteL2Min\",\n    \"CorrenteL3Min\",\n\n    \"CorrenteL1Max\",\n    \"CorrenteL2Max\",\n    \"CorrenteL3Max\",\n\n    \"PotenciaAtivaTotal\",\n    \"PotenciaAtivaTotalMax\",\n    \"PotenciaAtivaTotalMin\",\n    \"FatorPotenciaTotal\"\n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM05\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 661,
        "y": 1000,
        "wires": [
            [
                "566ec76c880454ae"
            ]
        ]
    },
    {
        "id": "92eb024427e06746",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "Filtro MM06",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"TensaoL1\",\n    \"TensaoL2\",\n    \"TensaoL3\",\n\n    \"TensaoL1Min\",\n    \"TensaoL2Min\",\n    \"TensaoL3Min\",\n\n    \"TensaoL1Max\",\n    \"TensaoL2Max\",\n    \"TensaoL3Max\",\n\n    \"TensaoL1L2\",\n    \"TensaoL2L3\",\n    \"TensaoL3L1\",\n\n    \"TensaoL1L2Min\",\n    \"TensaoL2L3Min\",\n    \"TensaoL3L1Min\",\n\n    \"TensaoL1L2Max\",\n    \"TensaoL2L3Max\",\n    \"TensaoL3L1Max\",\n\n    \"CorrenteL1\",\n    \"CorrenteL2\",\n    \"CorrenteL3\",\n\n    \"CorrenteL1Min\",\n    \"CorrenteL2Min\",\n    \"CorrenteL3Min\",\n\n    \"CorrenteL1Max\",\n    \"CorrenteL2Max\",\n    \"CorrenteL3Max\",\n\n    \"PotenciaAtivaTotal\",\n    \"PotenciaAtivaTotalMax\",\n    \"PotenciaAtivaTotalMin\",\n    \"FatorPotenciaTotal\"\n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM06\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 661,
        "y": 1040,
        "wires": [
            [
                "6b45a6cd031b7224"
            ]
        ]
    },
    {
        "id": "999021acaed2dadb",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "Filtro MM07",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"TensaoL1\",\n    \"TensaoL2\",\n    \"TensaoL3\",\n\n    \"TensaoL1Min\",\n    \"TensaoL2Min\",\n    \"TensaoL3Min\",\n\n    \"TensaoL1Max\",\n    \"TensaoL2Max\",\n    \"TensaoL3Max\",\n\n    \"TensaoL1L2\",\n    \"TensaoL2L3\",\n    \"TensaoL3L1\",\n\n    \"TensaoL1L2Min\",\n    \"TensaoL2L3Min\",\n    \"TensaoL3L1Min\",\n\n    \"TensaoL1L2Max\",\n    \"TensaoL2L3Max\",\n    \"TensaoL3L1Max\",\n\n    \"CorrenteL1\",\n    \"CorrenteL2\",\n    \"CorrenteL3\",\n\n    \"CorrenteL1Min\",\n    \"CorrenteL2Min\",\n    \"CorrenteL3Min\",\n\n    \"CorrenteL1Max\",\n    \"CorrenteL2Max\",\n    \"CorrenteL3Max\",\n\n    \"PotenciaAtivaTotal\",\n    \"PotenciaAtivaTotalMax\",\n    \"PotenciaAtivaTotalMin\",\n    \"FatorPotenciaTotal\"\n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM07\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 661,
        "y": 1080,
        "wires": [
            [
                "b95ebc108b5cd6bc"
            ]
        ]
    },
    {
        "id": "9c5e6af61cf0bc71",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Decode dos Dados [ON]",
        "func": "// PAC3100 decode – inst., máximos, mínimos e energia\n// Usa o mapa de registradores do manual (tabela A.2.5)\n// - floats: 2 words (32 bits, big-endian)\n// - doubles de energia: 4 words (64 bits, big-endian)\n\n\"use strict\";\n\n// 1) Pega o array de words (16 bits) vindo do Modbus\nlet words = null;\n\nif (msg.responseBuffer && Array.isArray(msg.responseBuffer.data)) {\n    words = msg.responseBuffer.data;\n} else if (Array.isArray(msg.payload)) {\n    words = msg.payload;\n}\n\nif (!words) {\n    node.warn(\"PAC3100 decode: nenhum array de words encontrado em msg.responseBuffer.data ou msg.payload\");\n    return msg;\n}\n\nconst startAddr = (msg.modbusRequest && Number.isInteger(msg.modbusRequest.address))\n    ? msg.modbusRequest.address\n    : 1;\n\nconst qty = words.length;\nconst endAddr = startAddr + qty - 1;\n\n// 2) Helpers para leitura dos tipos\n\nfunction readFloat(offset) {\n    // offset = número de registrador Modbus (1, 3, 5, ..., 127, 801, etc)\n    const idx = offset - startAddr; // posição relativa no array de words\n    if (idx < 0 || (idx + 1) >= qty) return null;\n\n    const buf = Buffer.alloc(4);\n    buf.writeUInt16BE(words[idx], 0);\n    buf.writeUInt16BE(words[idx + 1], 2);\n    return buf.readFloatBE(0);\n}\n\nfunction readDouble(offset) {\n    const idx = offset - startAddr;\n    if (idx < 0 || (idx + 3) >= qty) return null;\n\n    const buf = Buffer.alloc(8);\n    buf.writeUInt16BE(words[idx], 0);\n    buf.writeUInt16BE(words[idx + 1], 2);\n    buf.writeUInt16BE(words[idx + 2], 4);\n    buf.writeUInt16BE(words[idx + 3], 6);\n    return buf.readDoubleBE(0);\n}\n\n// 3) Mapa de registradores (resumido do manual)\n//  - offset = número do registrador Modbus (coluna \"Offset\" da tabela)\n//  - words  = quantidade de registradores (2 = float, 4 = double de energia)\n\nconst PAC3100_REGS = {\n    // --- Grandezas instantâneas (bloco 1: 1..54) ---\n    TensaoL1: { offset: 1, words: 2, type: \"float\", name: \"Tensão L1-N\", unit: \"V\" },\n    TensaoL2: { offset: 3, words: 2, type: \"float\", name: \"Tensão L2-N\", unit: \"V\" },\n    TensaoL3: { offset: 5, words: 2, type: \"float\", name: \"Tensão L3-N\", unit: \"V\" },\n    TensaoL1L2: { offset: 7, words: 2, type: \"float\", name: \"Tensão L1-L2\", unit: \"V\" },\n    TensaoL2L3: { offset: 9, words: 2, type: \"float\", name: \"Tensão L2-L3\", unit: \"V\" },\n    TensaoL3L1: { offset: 11, words: 2, type: \"float\", name: \"Tensão L3-L1\", unit: \"V\" },\n\n    CorrenteL1: { offset: 13, words: 2, type: \"float\", name: \"Corrente L1\", unit: \"A\" },\n    CorrenteL2: { offset: 15, words: 2, type: \"float\", name: \"Corrente L2\", unit: \"A\" },\n    CorrenteL3: { offset: 17, words: 2, type: \"float\", name: \"Corrente L3\", unit: \"A\" },\n\n    PotenciaAparenteL1: { offset: 19, words: 2, type: \"float\", name: \"Potência aparente L1\", unit: \"VA\" },\n    PotenciaAparenteL2: { offset: 21, words: 2, type: \"float\", name: \"Potência aparente L2\", unit: \"VA\" },\n    PotenciaAparenteL3: { offset: 23, words: 2, type: \"float\", name: \"Potência aparente L3\", unit: \"VA\" },\n\n    PotenciaAtivaL1: { offset: 25, words: 2, type: \"float\", name: \"Potência ativa L1\", unit: \"W\" },\n    PotenciaAtivaL2: { offset: 27, words: 2, type: \"float\", name: \"Potência ativa L2\", unit: \"W\" },\n    PotenciaAtivaL3: { offset: 29, words: 2, type: \"float\", name: \"Potência ativa L3\", unit: \"W\" },\n\n    PotenciaReativaL1: { offset: 31, words: 2, type: \"float\", name: \"Potência reativa L1 (Q1)\", unit: \"var\" },\n    PotenciaReativaL2: { offset: 33, words: 2, type: \"float\", name: \"Potência reativa L2 (Q1)\", unit: \"var\" },\n    PotenciaReativaL3: { offset: 35, words: 2, type: \"float\", name: \"Potência reativa L3 (Q1)\", unit: \"var\" },\n\n    CorrenteN: { offset: 37, words: 2, type: \"float\", name: \"Corrente do neutro\", unit: \"A\" },\n    Frequencia: { offset: 39, words: 2, type: \"float\", name: \"Frequência\", unit: \"Hz\" },\n\n    PotenciaAparenteTotal: { offset: 47, words: 2, type: \"float\", name: \"Potência aparente total\", unit: \"VA\" },\n    PotenciaAtivaTotal: { offset: 49, words: 2, type: \"float\", name: \"Potência ativa total\", unit: \"W\" },\n    PotenciaReativaTotal: { offset: 51, words: 2, type: \"float\", name: \"Potência reativa total (Q1)\", unit: \"var\" },\n    FatorPotenciaTotal: { offset: 53, words: 2, type: \"float\", name: \"Fator de potência total\", unit: \"\" },\n\n    // --- Máximos (bloco 2: 55..108) ---\n    TensaoL1Max: { offset: 55, words: 2, type: \"float\", name: \"Tensão máx. L1-N\", unit: \"V\" },\n    TensaoL2Max: { offset: 57, words: 2, type: \"float\", name: \"Tensão máx. L2-N\", unit: \"V\" },\n    TensaoL3Max: { offset: 59, words: 2, type: \"float\", name: \"Tensão máx. L3-N\", unit: \"V\" },\n    TensaoL1L2Max: { offset: 61, words: 2, type: \"float\", name: \"Tensão máx. L1-L2\", unit: \"V\" },\n    TensaoL2L3Max: { offset: 63, words: 2, type: \"float\", name: \"Tensão máx. L2-L3\", unit: \"V\" },\n    TensaoL3L1Max: { offset: 65, words: 2, type: \"float\", name: \"Tensão máx. L3-L1\", unit: \"V\" },\n\n    CorrenteL1Max: { offset: 67, words: 2, type: \"float\", name: \"Corrente máx. L1\", unit: \"A\" },\n    CorrenteL2Max: { offset: 69, words: 2, type: \"float\", name: \"Corrente máx. L2\", unit: \"A\" },\n    CorrenteL3Max: { offset: 71, words: 2, type: \"float\", name: \"Corrente máx. L3\", unit: \"A\" },\n\n    PotenciaAparenteL1Max: { offset: 73, words: 2, type: \"float\", name: \"Potência aparente máx. L1\", unit: \"VA\" },\n    PotenciaAparenteL2Max: { offset: 75, words: 2, type: \"float\", name: \"Potência aparente máx. L2\", unit: \"VA\" },\n    PotenciaAparenteL3Max: { offset: 77, words: 2, type: \"float\", name: \"Potência aparente máx. L3\", unit: \"VA\" },\n\n    PotenciaAtivaL1Max: { offset: 79, words: 2, type: \"float\", name: \"Potência ativa máx. L1\", unit: \"W\" },\n    PotenciaAtivaL2Max: { offset: 81, words: 2, type: \"float\", name: \"Potência ativa máx. L2\", unit: \"W\" },\n    PotenciaAtivaL3Max: { offset: 83, words: 2, type: \"float\", name: \"Potência ativa máx. L3\", unit: \"W\" },\n\n    PotenciaReativaL1Max: { offset: 85, words: 2, type: \"float\", name: \"Potência reativa máx. L1\", unit: \"var\" },\n    PotenciaReativaL2Max: { offset: 87, words: 2, type: \"float\", name: \"Potência reativa máx. L2\", unit: \"var\" },\n    PotenciaReativaL3Max: { offset: 89, words: 2, type: \"float\", name: \"Potência reativa máx. L3\", unit: \"var\" },\n\n    CorrenteNMax: { offset: 91, words: 2, type: \"float\", name: \"Corrente máx. do neutro\", unit: \"A\" },\n    FrequenciaMax: { offset: 93, words: 2, type: \"float\", name: \"Frequência máxima\", unit: \"Hz\" },\n\n    PotenciaAparenteTotalMax: { offset: 101, words: 2, type: \"float\", name: \"Potência aparente total máx.\", unit: \"VA\" },\n    PotenciaAtivaTotalMax: { offset: 103, words: 2, type: \"float\", name: \"Potência ativa total máx.\", unit: \"W\" },\n    PotenciaReativaTotalMax: { offset: 105, words: 2, type: \"float\", name: \"Potência reativa total máx.\", unit: \"var\" },\n    FatorPotenciaTotalMax: { offset: 107, words: 2, type: \"float\", name: \"Fator de potência total máx.\", unit: \"\" },\n\n    // --- Mínimos (bloco 3: 109..162) – mesmas grandezas, mín. ---\n    TensaoL1Min: { offset: 109, words: 2, type: \"float\", name: \"Tensão mín. L1-N\", unit: \"V\" },\n    TensaoL2Min: { offset: 111, words: 2, type: \"float\", name: \"Tensão mín. L2-N\", unit: \"V\" },\n    TensaoL3Min: { offset: 113, words: 2, type: \"float\", name: \"Tensão mín. L3-N\", unit: \"V\" },\n    TensaoL1L2Min: { offset: 115, words: 2, type: \"float\", name: \"Tensão mín. L1-L2\", unit: \"V\" },\n    TensaoL2L3Min: { offset: 117, words: 2, type: \"float\", name: \"Tensão mín. L2-L3\", unit: \"V\" },\n    TensaoL3L1Min: { offset: 119, words: 2, type: \"float\", name: \"Tensão mín. L3-L1\", unit: \"V\" },\n\n    CorrenteL1Min: { offset: 121, words: 2, type: \"float\", name: \"Corrente mín. L1\", unit: \"A\" },\n    CorrenteL2Min: { offset: 123, words: 2, type: \"float\", name: \"Corrente mín. L2\", unit: \"A\" },\n    CorrenteL3Min: { offset: 125, words: 2, type: \"float\", name: \"Corrente mín. L3\", unit: \"A\" },\n\n    PotenciaAparenteL1Min: { offset: 127, words: 2, type: \"float\", name: \"Potência aparente mín. L1\", unit: \"VA\" },\n    PotenciaAparenteL2Min: { offset: 129, words: 2, type: \"float\", name: \"Potência aparente mín. L2\", unit: \"VA\" },\n    PotenciaAparenteL3Min: { offset: 131, words: 2, type: \"float\", name: \"Potência aparente mín. L3\", unit: \"VA\" },\n\n    PotenciaAtivaL1Min: { offset: 133, words: 2, type: \"float\", name: \"Potência ativa mín. L1\", unit: \"W\" },\n    PotenciaAtivaL2Min: { offset: 135, words: 2, type: \"float\", name: \"Potência ativa mín. L2\", unit: \"W\" },\n    PotenciaAtivaL3Min: { offset: 137, words: 2, type: \"float\", name: \"Potência ativa mín. L3\", unit: \"W\" },\n\n    PotenciaReativaL1Min: { offset: 139, words: 2, type: \"float\", name: \"Potência reativa mín. L1 (Q1)\", unit: \"var\" },\n    PotenciaReativaL2Min: { offset: 141, words: 2, type: \"float\", name: \"Potência reativa mín. L2 (Q1)\", unit: \"var\" },\n    PotenciaReativaL3Min: { offset: 143, words: 2, type: \"float\", name: \"Potência reativa mín. L3 (Q1)\", unit: \"var\" },\n\n    CorrenteNMin: { offset: 145, words: 2, type: \"float\", name: \"Corrente mín. do condutor neutro\", unit: \"A\" },\n    FrequenciaMin: { offset: 147, words: 2, type: \"float\", name: \"Frequência mín.\", unit: \"Hz\" },\n\n    PotenciaAparenteTotalMin: { offset: 155, words: 2, type: \"float\", name: \"Potência aparente total mínima\", unit: \"VA\" },\n    PotenciaAtivaTotalMin: { offset: 157, words: 2, type: \"float\", name: \"Potência ativa total mínima\", unit: \"W\" },\n    PotenciaReativaTotalMin: { offset: 159, words: 2, type: \"float\", name: \"Potência reativa total mínima (Q1)\", unit: \"var\" },\n    FatorPotenciaTotalMin: { offset: 161, words: 2, type: \"float\", name: \"Fator de potência total mínimo\", unit: \"\" },    \n    PotenciaAtivaAccImport: { offset: 501, words: 2, type: \"float\", name: \"Potência Ativa Acumulada Import\", unit: \"w\" },\n    PotenciaReativaAccImport: { offset: 503, words: 2, type: \"float\", name: \"Potência Reativa Acumulada Import\", unit: \"var\" },\n    PotenciaAtivaAccExport: { offset: 505, words: 2, type: \"float\", name: \"Potência Ativa Acumulada Export\", unit: \"W\" }, \n    PotenciaReativaAccExport: { offset: 507, words: 2, type: \"float\", name: \"Potência Reativa Acumulada Export\", unit: \"var\" }, \n    PotenciaAtivaMaxPeriodo: { offset: 509, words: 2, type: \"float\", name: \"Potência Ativa Máxima no Período (15min)\", unit: \"w\" },\n    PotenciaAtivaMinPeriodo: { offset: 511, words: 2, type: \"float\", name: \"Potência Ativa Mínima no Período (15min)\", unit: \"w\" },\n    PotenciaReativaMaxPeriodo: { offset: 513, words: 2, type: \"float\", name: \"Potência Reativa Máxima no Período (15min)\", unit: \"var\" },\n    PotenciaReativaMinPeriodo: { offset: 515, words: 2, type: \"float\", name: \"Potência Reativa Mínima no Período (15min)\", unit: \"var\" },\n    // (restante dos mínimos pode ser preenchido depois se você quiser tudo)\n\n    // --- Energia (contadores) – exemplo: offset 801 (import/export/liquido) ---\n    EnergiaAtivaTotal: {\n        offset: 801, words: 4, type: \"double\",\n        name: \"Energia ativa (imp./exp./líquida)\", unit: \"Wh\"\n    },\n    // Se você estiver lendo 805 também, pode adicionar outro double aqui:\n    // energy_reactive_total: { offset: 805, words: 4, type: \"double\", name: \"Energia reativa (imp./exp./líquida)\", unit: \"varh\" },\n};\n\n// 4) Decodifica só o que está dentro do intervalo [startAddr .. endAddr]\n\nconst decoded = {};\nconst values = {};\n\nfor (const [key, def] of Object.entries(PAC3100_REGS)) {\n    if (def.offset < startAddr || (def.offset + def.words - 1) > endAddr) {\n        continue; // este registrador não veio neste telegrama\n    }\n\n    let v = null;\n    if (def.type === \"float\") {\n        v = readFloat(def.offset);\n    } else if (def.type === \"double\") {\n        v = readDouble(def.offset);\n    }\n\n    if (v === null || Number.isNaN(v)) continue;\n\n    decoded[key] = {\n        offset: def.offset,\n        words: def.words,\n        type: def.type,\n        name: def.name,\n        unit: def.unit,\n        value: v\n    };\n\n    values[key] = v;\n}\n\n// 5) Atualiza estado no msg e no flow (para ter todas as grandezas juntas)\n\nmsg.pac3100 = msg.pac3100 || {};\n\nconst unitid = (msg.modbusRequest && msg.modbusRequest.unitid) ||\n    msg.unitId || 1;\n\nmsg.pac3100.unitid = unitid;\nmsg.pac3100.start = startAddr;\nmsg.pac3100.quantity = qty;\nmsg.pac3100.decoded = decoded;\nmsg.pac3100.values = values;\n\n// Acumula todas as grandezas por unitid em flow context\nlet all = global.get(\"pac3100_allValues\") || {};\nall[unitid] = Object.assign({}, all[unitid] || {}, values);\nglobal.set(\"pac3100_allValues\", all);\n\n// Versão consolidada (tudo que já foi lido deste PAC)\nmsg.pac3100.allValues = all[unitid] || {};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 280,
        "wires": [
            [
                "76e7c6cc1e3a299c"
            ]
        ]
    },
    {
        "id": "71f112d72c703691",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Scheduler PAC3100 (com busy)[ON]",
        "func": "\n\n// Scheduler simples para PAC3100\n// - Varre multimedidores (unitid em PACS)\n// - Varre 4 blocos de registradores por PAC\n// - Usa global.state_pac para lembrar onde parou\n// - Mostra status com contador de requisições (com separador de milhar)\n\n// Quais PACs existem na rede?\nconst PACS = [1, 2, 3, 4, 5, 6, 7];  // unitids disponíveis\n\n// Quais blocos de registradores queremos ler?\nconst BLOCS = [\n    { name: \"fast_1\", adr: 1, qty: 54 },  // offsets 1..54\n    { name: \"fast_2\", adr: 55, qty: 54 },  // offsets 55..108\n    { name: \"fast_3\", adr: 109, qty: 54 },  // offsets 109..162\n    { name: \"demand\", adr: 501, qty: 20 },  // offsets 501..521 \n    { name: \"energy\", adr: 801, qty: 4 }    // energia total\n];\n\n// Estado atual da varredura (lido do globalo)\nlet state = global.get(\"state_pac\") || {\n    pacIndex: 0,   // índice em PACS\n    blocIndex: 0   // índice em BLOCS\n};\n\n// Contador de requisições (total desde que o fluxo subiu)\nlet reqCount = global.get(\"pac_req_count\") || 0;\nreqCount++;\nglobal.set(\"pac_req_count\", reqCount);\n\n// Escolhe o PAC e o bloco atuais\nconst currentPac = PACS[state.pacIndex];\nconst currentBloc = BLOCS[state.blocIndex];\n\n// Formata contador com separador de milhar\nconst reqStr = reqCount.toLocaleString('pt-BR');  // ex: 1.234, 12.345\n\n// Atualiza status do nó (balãozinho cinza)\nnode.status({\n    fill: \"grey\",\n    shape: \"dot\",\n    text: `req #${reqStr} | PAC ${currentPac} | ${currentBloc.name}`\n});\n\n// Avança estado para a PRÓXIMA chamada\nstate.blocIndex++;\nif (state.blocIndex >= BLOCS.length) {\n    state.blocIndex = 0;\n    state.pacIndex++;\n    if (state.pacIndex >= PACS.length) {\n        state.pacIndex = 0;\n    }\n}\nglobal.set(\"state_pac\", state);\n\n// Monta requisição Modbus para o PAC3100\nmsg.payload = {\n    fc: 3,                 // Holding Registers\n    unitid: currentPac,        // PAC atual\n    address: currentBloc.adr,   // endereço inicial do bloco\n    quantity: currentBloc.qty   // quantidade de registradores\n};\n\n// Metadados só pra debug / tratamento depois\nmsg.pac3100 = {\n    unitid: currentPac,\n    block: currentBloc.name,\n    adr: currentBloc.adr,\n    qty: currentBloc.qty\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 361,
        "y": 140,
        "wires": [
            [
                "c8883a0a12e25412"
            ]
        ]
    },
    {
        "id": "18ae503034b9d813",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "f9c2269e4c724bdd"
        ],
        "x": 416,
        "y": 540,
        "wires": []
    },
    {
        "id": "f9c2269e4c724bdd",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "link in 4",
        "links": [
            "18ae503034b9d813"
        ],
        "x": 86,
        "y": 840,
        "wires": [
            [
                "6479cff1625cbc9e"
            ]
        ]
    },
    {
        "id": "f4008b8a32a213ef",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "00",
        "x": 861,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "07b44a72b0bb8b78",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "01",
        "x": 861,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "1cd7d3513c127be9",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "02",
        "x": 861,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "b0f86398cc3b4e53",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "03",
        "x": 861,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "566ec76c880454ae",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "04",
        "x": 861,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "6b45a6cd031b7224",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "05",
        "x": 861,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "b95ebc108b5cd6bc",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "06",
        "x": 861,
        "y": 1080,
        "wires": [
            [
                "a6756d61b077ecb9"
            ]
        ]
    },
    {
        "id": "cde3b8dd2e2ce392",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "",
        "scope": [
            "f4008b8a32a213ef"
        ],
        "uncaught": false,
        "x": 121,
        "y": 880,
        "wires": [
            [
                "c56698e9025ddde1"
            ]
        ]
    },
    {
        "id": "70e6f4407cf7b582",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "",
        "scope": [
            "07b44a72b0bb8b78"
        ],
        "uncaught": false,
        "x": 121,
        "y": 920,
        "wires": [
            [
                "842a98f406c73e24"
            ]
        ]
    },
    {
        "id": "61b749bfcbbe1697",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "",
        "scope": [
            "1cd7d3513c127be9"
        ],
        "uncaught": false,
        "x": 121,
        "y": 960,
        "wires": [
            [
                "951d478a6d914340"
            ]
        ]
    },
    {
        "id": "14d6052370d30a6e",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "",
        "scope": [
            "b0f86398cc3b4e53"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1000,
        "wires": [
            [
                "8123a904778d9ee7"
            ]
        ]
    },
    {
        "id": "d638418eb7c813a3",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "",
        "scope": [
            "566ec76c880454ae"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1040,
        "wires": [
            [
                "37170a1d5a50e158"
            ]
        ]
    },
    {
        "id": "7f3f3c8fbde3fb5c",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "",
        "scope": [
            "6b45a6cd031b7224"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1080,
        "wires": [
            [
                "e680fc6c3c93d506"
            ]
        ]
    },
    {
        "id": "39a15af04fb88333",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "Energy_MM01",
        "func": "// Consumo de energia MM01 a cada 15 min (usa snapshot do PAC3100 em flow)\n\n// 1) Lê snapshot consolidado de todos os PACs\nconst all = global.get(\"pac3100_allValues\") || {};\nconst pac1 = all[1] || all[\"1\"];  // PAC unitid 1 (MM01)\n\nif (!pac1 || !Number.isFinite(pac1.EnergiaAtivaTotal)) {\n    node.warn(\"Sem EnergiaAtivaTotal válida para PAC 1 (SE03_MM01).\");\n    return null;\n}\n\n// Timestamp desta amostragem (15 min)\nconst now = new Date();\n\n// Contador bruto em Wh do PAC3100 (double que veio do decoder)\nconst energiaAtualWh = Number(pac1.EnergiaAtivaTotal);\n\n// 2) Recupera última leitura salva para MM01 (só deste fluxo 15min)\nconst keyPrev = \"mm01_prev_wh_15min\";\nconst prevWh = flow.get(keyPrev);\n\nlet deltaWh = null;\nlet reset = false;\n\nif (Number.isFinite(prevWh)) {\n    deltaWh = energiaAtualWh - prevWh;\n\n    // Se ficou negativo, contador voltou (reset/overflow/troca de medidor)\n    if (deltaWh < 0) {\n        deltaWh = 0;\n        reset = true;\n    }\n}\n\n// Atualiza memória para próxima execução (daqui 15 min)\nflow.set(keyPrev, energiaAtualWh);\n\n// 3) Monta documento para Mongo\nconst doc = {\n    DateTime: now,                            // BSON Date no Mongo\n    IDMaq: \"SE03_MM01\",                       // identifica a máquina\n                             // PAC 1\n\n    // Contador total (Wh)\n    wh_total: Math.round(energiaAtualWh),\n\n    // Consumo no intervalo de 15 min (kWh)\n    kwh_intervalo: deltaWh == null ? null : (deltaWh / 1000),\n\n    // Flag de reset de contador\n    reset_flag: reset,\n\n\n};\n\n// 4) Prepara para o mongodb4\nmsg.payload = [doc];          // insertOne espera array\nmsg.operation = \"insertOne\";  // como no fluxo antigo\n\n// Se quiser coleção diferente, descomente:\n// msg.collection = \"AMG_Consumo\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2620,
        "wires": [
            [
                "e16ab8109a42b3f1"
            ]
        ]
    },
    {
        "id": "e16ab8109a42b3f1",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_Consumo",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "07",
        "x": 810,
        "y": 2620,
        "wires": [
            []
        ]
    },
    {
        "id": "77189bff61803ea2",
        "type": "inject",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 121,
        "y": 580,
        "wires": [
            [
                "6157e2bcfce35637"
            ]
        ]
    },
    {
        "id": "6157e2bcfce35637",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "7f92a7f3018e38b4"
        ],
        "x": 416,
        "y": 580,
        "wires": []
    },
    {
        "id": "7f92a7f3018e38b4",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "link in 5",
        "links": [
            "6157e2bcfce35637"
        ],
        "x": 115,
        "y": 2620,
        "wires": [
            [
                "39a15af04fb88333"
            ]
        ]
    },
    {
        "id": "30676d044517a167",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "Energy_MM02",
        "func": "// Consumo de energia MM01 a cada 15 min (usa snapshot do PAC3100 em flow)\n\n// 1) Lê snapshot consolidado de todos os PACs\nconst all = global.get(\"pac3100_allValues\") || {};\nconst pac2 = all[2] || all[\"2\"];  // PAC unitid 1 (MM01)\n\nif (!pac2 || !Number.isFinite(pac2.EnergiaAtivaTotal)) {\n    node.warn(\"Sem EnergiaAtivaTotal válida para PAC 1 (SE03_MM02).\");\n    return null;\n}\n\n// Timestamp desta amostragem (15 min)\nconst now = new Date();\n\n// Contador bruto em Wh do PAC3100 (double que veio do decoder)\nconst energiaAtualWh = Number(pac2.EnergiaAtivaTotal);\n\n// 2) Recupera última leitura salva para MM01 (só deste fluxo 15min)\nconst keyPrev = \"mm02_prev_wh_15min\";\nconst prevWh = flow.get(keyPrev);\n\nlet deltaWh = null;\nlet reset = false;\n\nif (Number.isFinite(prevWh)) {\n    deltaWh = energiaAtualWh - prevWh;\n\n    // Se ficou negativo, contador voltou (reset/overflow/troca de medidor)\n    if (deltaWh < 0) {\n        deltaWh = 0;\n        reset = true;\n    }\n}\n\n// Atualiza memória para próxima execução (daqui 15 min)\nflow.set(keyPrev, energiaAtualWh);\n\n// 3) Monta documento para Mongo\nconst doc = {\n    DateTime: now,                            // BSON Date no Mongo\n    IDMaq: \"SE03_MM02\",                       // identifica a máquina\n                             // PAC 1\n\n    // Contador total (Wh)\n    wh_total: Math.round(energiaAtualWh),\n\n    // Consumo no intervalo de 15 min (kWh)\n    kwh_intervalo: deltaWh == null ? null : (deltaWh / 1000),\n\n    // Flag de reset de contador\n    reset_flag: reset,\n\n\n};\n\n// 4) Prepara para o mongodb4\nmsg.payload = [doc];          // insertOne espera array\nmsg.operation = \"insertOne\";  // como no fluxo antigo\n\n// Se quiser coleção diferente, descomente:\n// msg.collection = \"AMG_Consumo\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2660,
        "wires": [
            [
                "9c4efd3906ded466"
            ]
        ]
    },
    {
        "id": "9c4efd3906ded466",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_Consumo",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "08",
        "x": 810,
        "y": 2660,
        "wires": [
            []
        ]
    },
    {
        "id": "389c4dde734940c1",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "Energy_MM03",
        "func": "// Consumo de energia MM01 a cada 15 min (usa snapshot do PAC3100 em flow)\n\n// 1) Lê snapshot consolidado de todos os PACs\nconst all = global.get(\"pac3100_allValues\") || {};\nconst pac3 = all[3] || all[\"3\"];  // PAC unitid 1 (MM01)\n\nif (!pac3 || !Number.isFinite(pac3.EnergiaAtivaTotal)) {\n    node.warn(\"Sem EnergiaAtivaTotal válida para PAC 1 (SE03_MM03).\");\n    return null;\n}\n\n// Timestamp desta amostragem (15 min)\nconst now = new Date();\n\n// Contador bruto em Wh do PAC3100 (double que veio do decoder)\nconst energiaAtualWh = Number(pac3.EnergiaAtivaTotal);\n\n// 2) Recupera última leitura salva para MM01 (só deste fluxo 15min)\nconst keyPrev = \"mm03_prev_wh_15min\";\nconst prevWh = flow.get(keyPrev);\n\nlet deltaWh = null;\nlet reset = false;\n\nif (Number.isFinite(prevWh)) {\n    deltaWh = energiaAtualWh - prevWh;\n\n    // Se ficou negativo, contador voltou (reset/overflow/troca de medidor)\n    if (deltaWh < 0) {\n        deltaWh = 0;\n        reset = true;\n    }\n}\n\n// Atualiza memória para próxima execução (daqui 15 min)\nflow.set(keyPrev, energiaAtualWh);\n\n// 3) Monta documento para Mongo\nconst doc = {\n    DateTime: now,                            // BSON Date no Mongo\n    IDMaq: \"SE03_MM03\",                       // identifica a máquina\n                             // PAC 1\n\n    // Contador total (Wh)\n    wh_total: Math.round(energiaAtualWh),\n\n    // Consumo no intervalo de 15 min (kWh)\n    kwh_intervalo: deltaWh == null ? null : (deltaWh / 1000),\n\n    // Flag de reset de contador\n    reset_flag: reset,\n\n\n};\n\n// 4) Prepara para o mongodb4\nmsg.payload = [doc];          // insertOne espera array\nmsg.operation = \"insertOne\";  // como no fluxo antigo\n\n// Se quiser coleção diferente, descomente:\n// msg.collection = \"AMG_Consumo\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2700,
        "wires": [
            [
                "1592fbea31d3e842"
            ]
        ]
    },
    {
        "id": "1592fbea31d3e842",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_Consumo",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "09",
        "x": 810,
        "y": 2700,
        "wires": [
            []
        ]
    },
    {
        "id": "e8e7e53a0a5fa81f",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "Energy_MM04",
        "func": "// Consumo de energia MM01 a cada 15 min (usa snapshot do PAC3100 em flow)\n\n// 1) Lê snapshot consolidado de todos os PACs\nconst all = global.get(\"pac3100_allValues\") || {};\nconst pac4 = all[4] || all[\"4\"];  // PAC unitid 1 (MM01)\n\nif (!pac4 || !Number.isFinite(pac4.EnergiaAtivaTotal)) {\n    node.warn(\"Sem EnergiaAtivaTotal válida para PAC 4 (SE03_MM04).\");\n    return null;\n}\n\n// Timestamp desta amostragem (15 min)\nconst now = new Date();\n\n// Contador bruto em Wh do PAC3100 (double que veio do decoder)\nconst energiaAtualWh = Number(pac4.EnergiaAtivaTotal);\n\n// 2) Recupera última leitura salva para MM01 (só deste fluxo 15min)\nconst keyPrev = \"mm04_prev_wh_15min\";\nconst prevWh = flow.get(keyPrev);\n\nlet deltaWh = null;\nlet reset = false;\n\nif (Number.isFinite(prevWh)) {\n    deltaWh = energiaAtualWh - prevWh;\n\n    // Se ficou negativo, contador voltou (reset/overflow/troca de medidor)\n    if (deltaWh < 0) {\n        deltaWh = 0;\n        reset = true;\n    }\n}\n\n// Atualiza memória para próxima execução (daqui 15 min)\nflow.set(keyPrev, energiaAtualWh);\n\n// 3) Monta documento para Mongo\nconst doc = {\n    DateTime: now,                            // BSON Date no Mongo\n    IDMaq: \"SE03_MM04\",                       // identifica a máquina\n                             // PAC 1\n\n    // Contador total (Wh)\n    wh_total: Math.round(energiaAtualWh),\n\n    // Consumo no intervalo de 15 min (kWh)\n    kwh_intervalo: deltaWh == null ? null : (deltaWh / 1000),\n\n    // Flag de reset de contador\n    reset_flag: reset,\n\n\n};\n\n// 4) Prepara para o mongodb4\nmsg.payload = [doc];          // insertOne espera array\nmsg.operation = \"insertOne\";  // como no fluxo antigo\n\n// Se quiser coleção diferente, descomente:\n// msg.collection = \"AMG_Consumo\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2740,
        "wires": [
            [
                "7c8449dbcd93d94f"
            ]
        ]
    },
    {
        "id": "7c8449dbcd93d94f",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_Consumo",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "10",
        "x": 810,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "db10c0cad5edf9da",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "Energy_MM05",
        "func": "// Consumo de energia MM01 a cada 15 min (usa snapshot do PAC3100 em flow)\n\n// 1) Lê snapshot consolidado de todos os PACs\nconst all = global.get(\"pac3100_allValues\") || {};\nconst pac5 = all[5] || all[\"5\"];  // PAC unitid 1 (MM01)\n\nif (!pac5 || !Number.isFinite(pac5.EnergiaAtivaTotal)) {\n    node.warn(\"Sem EnergiaAtivaTotal válida para PAC 5 (SE03_MM05).\");\n    return null;\n}\n\n// Timestamp desta amostragem (15 min)\nconst now = new Date();\n\n// Contador bruto em Wh do PAC3100 (double que veio do decoder)\nconst energiaAtualWh = Number(pac5.EnergiaAtivaTotal);\n\n// 2) Recupera última leitura salva para MM01 (só deste fluxo 15min)\nconst keyPrev = \"mm05_prev_wh_15min\";\nconst prevWh = flow.get(keyPrev);\n\nlet deltaWh = null;\nlet reset = false;\n\nif (Number.isFinite(prevWh)) {\n    deltaWh = energiaAtualWh - prevWh;\n\n    // Se ficou negativo, contador voltou (reset/overflow/troca de medidor)\n    if (deltaWh < 0) {\n        deltaWh = 0;\n        reset = true;\n    }\n}\n\n// Atualiza memória para próxima execução (daqui 15 min)\nflow.set(keyPrev, energiaAtualWh);\n\n// 3) Monta documento para Mongo\nconst doc = {\n    DateTime: now,                            // BSON Date no Mongo\n    IDMaq: \"SE03_MM05\",                       // identifica a máquina\n                             // PAC 1\n\n    // Contador total (Wh)\n    wh_total: Math.round(energiaAtualWh),\n\n    // Consumo no intervalo de 15 min (kWh)\n    kwh_intervalo: deltaWh == null ? null : (deltaWh / 1000),\n\n    // Flag de reset de contador\n    reset_flag: reset,\n\n\n};\n\n// 4) Prepara para o mongodb4\nmsg.payload = [doc];          // insertOne espera array\nmsg.operation = \"insertOne\";  // como no fluxo antigo\n\n// Se quiser coleção diferente, descomente:\n// msg.collection = \"AMG_Consumo\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2780,
        "wires": [
            [
                "999ad0401e09495b"
            ]
        ]
    },
    {
        "id": "999ad0401e09495b",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_Consumo",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "11",
        "x": 810,
        "y": 2780,
        "wires": [
            []
        ]
    },
    {
        "id": "833755e61bf34d44",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "Energy_MM06",
        "func": "// Consumo de energia MM01 a cada 15 min (usa snapshot do PAC3100 em flow)\n\n// 1) Lê snapshot consolidado de todos os PACs\nconst all = global.get(\"pac3100_allValues\") || {};\nconst pac6 = all[6] || all[\"6\"];  // PAC unitid 1 (MM01)\n\nif (!pac6 || !Number.isFinite(pac6.EnergiaAtivaTotal)) {\n    node.warn(\"Sem EnergiaAtivaTotal válida para PAC 6 (SE03_MM06).\");\n    return null;\n}\n\n// Timestamp desta amostragem (15 min)\nconst now = new Date();\n\n// Contador bruto em Wh do PAC3100 (double que veio do decoder)\nconst energiaAtualWh = Number(pac6.EnergiaAtivaTotal);\n\n// 2) Recupera última leitura salva para MM01 (só deste fluxo 15min)\nconst keyPrev = \"mm06_prev_wh_15min\";\nconst prevWh = flow.get(keyPrev);\n\nlet deltaWh = null;\nlet reset = false;\n\nif (Number.isFinite(prevWh)) {\n    deltaWh = energiaAtualWh - prevWh;\n\n    // Se ficou negativo, contador voltou (reset/overflow/troca de medidor)\n    if (deltaWh < 0) {\n        deltaWh = 0;\n        reset = true;\n    }\n}\n\n// Atualiza memória para próxima execução (daqui 15 min)\nflow.set(keyPrev, energiaAtualWh);\n\n// 3) Monta documento para Mongo\nconst doc = {\n    DateTime: now,                            // BSON Date no Mongo\n    IDMaq: \"SE03_MM06\",                       // identifica a máquina\n                             // PAC 1\n\n    // Contador total (Wh)\n    wh_total: Math.round(energiaAtualWh),\n\n    // Consumo no intervalo de 15 min (kWh)\n    kwh_intervalo: deltaWh == null ? null : (deltaWh / 1000),\n\n    // Flag de reset de contador\n    reset_flag: reset,\n\n\n};\n\n// 4) Prepara para o mongodb4\nmsg.payload = [doc];          // insertOne espera array\nmsg.operation = \"insertOne\";  // como no fluxo antigo\n\n// Se quiser coleção diferente, descomente:\n// msg.collection = \"AMG_Consumo\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2820,
        "wires": [
            [
                "7dd21d40a849e535"
            ]
        ]
    },
    {
        "id": "7dd21d40a849e535",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_Consumo",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "12",
        "x": 810,
        "y": 2820,
        "wires": [
            []
        ]
    },
    {
        "id": "94781b6d825b754e",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "Energy_MM07",
        "func": "// Consumo de energia MM01 a cada 15 min (usa snapshot do PAC3100 em flow)\n\n// 1) Lê snapshot consolidado de todos os PACs\nconst all = global.get(\"pac3100_allValues\") || {};\nconst pac7 = all[7] || all[\"7\"];  // PAC unitid 1 (MM01)\n\nif (!pac7 || !Number.isFinite(pac7.EnergiaAtivaTotal)) {\n    node.warn(\"Sem EnergiaAtivaTotal válida para PAC 7 (SE03_MM07).\");\n    return null;\n}\n\n// Timestamp desta amostragem (15 min)\nconst now = new Date();\n\n// Contador bruto em Wh do PAC3100 (double que veio do decoder)\nconst energiaAtualWh = Number(pac7.EnergiaAtivaTotal);\n\n// 2) Recupera última leitura salva para MM01 (só deste fluxo 15min)\nconst keyPrev = \"mm07_prev_wh_15min\";\nconst prevWh = flow.get(keyPrev);\n\nlet deltaWh = null;\nlet reset = false;\n\nif (Number.isFinite(prevWh)) {\n    deltaWh = energiaAtualWh - prevWh;\n\n    // Se ficou negativo, contador voltou (reset/overflow/troca de medidor)\n    if (deltaWh < 0) {\n        deltaWh = 0;\n        reset = true;\n    }\n}\n\n// Atualiza memória para próxima execução (daqui 15 min)\nflow.set(keyPrev, energiaAtualWh);\n\n// 3) Monta documento para Mongo\nconst doc = {\n    DateTime: now,                            // BSON Date no Mongo\n    IDMaq: \"SE03_MM07\",                       // identifica a máquina\n                             // PAC 1\n\n    // Contador total (Wh)\n    wh_total: Math.round(energiaAtualWh),\n\n    // Consumo no intervalo de 15 min (kWh)\n    kwh_intervalo: deltaWh == null ? null : (deltaWh / 1000),\n\n    // Flag de reset de contador\n    reset_flag: reset,\n\n\n};\n\n// 4) Prepara para o mongodb4\nmsg.payload = [doc];          // insertOne espera array\nmsg.operation = \"insertOne\";  // como no fluxo antigo\n\n// Se quiser coleção diferente, descomente:\n// msg.collection = \"AMG_Consumo\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2860,
        "wires": [
            [
                "11e6fed703a961be"
            ]
        ]
    },
    {
        "id": "11e6fed703a961be",
        "type": "mongodb4",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_Consumo",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "13",
        "x": 810,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "1f7518fef0b2291e",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "",
        "scope": [
            "e16ab8109a42b3f1"
        ],
        "uncaught": false,
        "x": 150,
        "y": 2660,
        "wires": [
            [
                "30676d044517a167"
            ]
        ]
    },
    {
        "id": "e513b3f61345d51f",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "",
        "scope": [
            "9c4efd3906ded466"
        ],
        "uncaught": false,
        "x": 150,
        "y": 2700,
        "wires": [
            [
                "389c4dde734940c1"
            ]
        ]
    },
    {
        "id": "70a9c00d7c244ff4",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "",
        "scope": [
            "1592fbea31d3e842"
        ],
        "uncaught": false,
        "x": 150,
        "y": 2740,
        "wires": [
            [
                "e8e7e53a0a5fa81f"
            ]
        ]
    },
    {
        "id": "b987d18444c1f0aa",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "",
        "scope": [
            "7c8449dbcd93d94f"
        ],
        "uncaught": false,
        "x": 150,
        "y": 2780,
        "wires": [
            [
                "db10c0cad5edf9da"
            ]
        ]
    },
    {
        "id": "1eec55ab1189b668",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "",
        "scope": [
            "999ad0401e09495b"
        ],
        "uncaught": false,
        "x": 150,
        "y": 2820,
        "wires": [
            [
                "833755e61bf34d44"
            ]
        ]
    },
    {
        "id": "da73aaea23a429b4",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "e19b5d6a2ebcbfcc",
        "name": "",
        "scope": [
            "7dd21d40a849e535"
        ],
        "uncaught": false,
        "x": 150,
        "y": 2860,
        "wires": [
            [
                "94781b6d825b754e"
            ]
        ]
    },
    {
        "id": "8bce4495f2f918cb",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM01Max",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n    // Reset valores máximos\n    msgs.push({\n        payload: {\n            value: 0,       // comando = 0\n            fc: 6,          // Write Single Register (0x06)\n            unitid: 1, // PAC a ser resetado\n            address: 60002, // Reset valores máximos\n            quantity: 1\n        }\n    });\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1180,
        "wires": [
            [
                "9bd1d3dff1cb9a36"
            ]
        ]
    },
    {
        "id": "9bd1d3dff1cb9a36",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1180,
        "wires": [
            [
                "feb76e329a0a559f"
            ],
            []
        ]
    },
    {
        "id": "771da888a3a00159",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 811,
        "y": 120,
        "wires": [
            [
                "f4923a7b47cedfed"
            ]
        ]
    },
    {
        "id": "c216011114f81e95",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "AA",
        "mode": "link",
        "links": [
            "4b2a36b2d2087328"
        ],
        "x": 1095,
        "y": 240,
        "wires": []
    },
    {
        "id": "4b2a36b2d2087328",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "link in 6",
        "links": [
            "c216011114f81e95"
        ],
        "x": 136,
        "y": 1180,
        "wires": [
            [
                "8bce4495f2f918cb"
            ]
        ]
    },
    {
        "id": "feb76e329a0a559f",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "000",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "ed86f61597c7587e",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "",
        "scope": [
            "16964d531b6799f7"
        ],
        "uncaught": false,
        "x": 970,
        "y": 200,
        "wires": [
            [
                "92b5700bb1cf6000"
            ]
        ]
    },
    {
        "id": "74c306c8cf9caf48",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM01Min",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n// Reset valores mínimos\nmsgs.push({\n    payload: {\n        value: 0,       // comando = 0\n        fc: 6,          // Write Single Register (0x06)\n        unitid: 1, // PAC a ser resetado\n        address: 60003, // Reset valores mínimos\n        quantity: 1\n    }\n});\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1220,
        "wires": [
            [
                "bd6e2bb1daaa0dc2"
            ]
        ]
    },
    {
        "id": "3861997ef1422027",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "feb76e329a0a559f"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1220,
        "wires": [
            [
                "74c306c8cf9caf48"
            ]
        ]
    },
    {
        "id": "bd6e2bb1daaa0dc2",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1220,
        "wires": [
            [
                "0dc10d1508d72edc"
            ],
            []
        ]
    },
    {
        "id": "0dc10d1508d72edc",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "001",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "336c79125ddf2647",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "002",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "743eabc5599546b9",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1260,
        "wires": [
            [
                "336c79125ddf2647"
            ],
            []
        ]
    },
    {
        "id": "a6fd12923d3a12e3",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM02Max",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n    // Reset valores máximos\n    msgs.push({\n        payload: {\n            value: 0,       // comando = 0\n            fc: 6,          // Write Single Register (0x06)\n            unitid: 2, // PAC a ser resetado\n            address: 60002, // Reset valores máximos\n            quantity: 1\n        }\n    });\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1260,
        "wires": [
            [
                "743eabc5599546b9"
            ]
        ]
    },
    {
        "id": "899b03584b1df00f",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "0dc10d1508d72edc"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1260,
        "wires": [
            [
                "a6fd12923d3a12e3"
            ]
        ]
    },
    {
        "id": "a01b5922e837f5a2",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM02Min",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n// Reset valores mínimos\nmsgs.push({\n    payload: {\n        value: 0,       // comando = 0\n        fc: 6,          // Write Single Register (0x06)\n        unitid: 2, // PAC a ser resetado\n        address: 60003, // Reset valores mínimos\n        quantity: 1\n    }\n});\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1300,
        "wires": [
            [
                "2b3b8f73dbc5b403"
            ]
        ]
    },
    {
        "id": "2b3b8f73dbc5b403",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1300,
        "wires": [
            [
                "41fb79882f149ca6"
            ],
            []
        ]
    },
    {
        "id": "41fb79882f149ca6",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "003",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "038c87d709c657dd",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "336c79125ddf2647"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1300,
        "wires": [
            [
                "a01b5922e837f5a2"
            ]
        ]
    },
    {
        "id": "159a46d0fedfca88",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM03Max",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n    // Reset valores máximos\n    msgs.push({\n        payload: {\n            value: 0,       // comando = 0\n            fc: 6,          // Write Single Register (0x06)\n            unitid: 3, // PAC a ser resetado\n            address: 60002, // Reset valores máximos\n            quantity: 1\n        }\n    });\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1340,
        "wires": [
            [
                "9746b8d4cd4476cc"
            ]
        ]
    },
    {
        "id": "9746b8d4cd4476cc",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1340,
        "wires": [
            [
                "182b3f2851f96e95"
            ],
            []
        ]
    },
    {
        "id": "182b3f2851f96e95",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "004",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "b6736df876d79b79",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "41fb79882f149ca6"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1340,
        "wires": [
            [
                "159a46d0fedfca88"
            ]
        ]
    },
    {
        "id": "14329ef4eafdc817",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM04Min",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n// Reset valores mínimos\nmsgs.push({\n    payload: {\n        value: 0,       // comando = 0\n        fc: 6,          // Write Single Register (0x06)\n        unitid: 4, // PAC a ser resetado\n        address: 60003, // Reset valores mínimos\n        quantity: 1\n    }\n});\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1420,
        "wires": [
            [
                "abd21e758f53b6f9"
            ]
        ]
    },
    {
        "id": "abd21e758f53b6f9",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1420,
        "wires": [
            [
                "0f114eef3f890b59"
            ],
            []
        ]
    },
    {
        "id": "0f114eef3f890b59",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "006",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "c36a0bd2ed2c1f92",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "90a70f6f3f235385"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1420,
        "wires": [
            [
                "14329ef4eafdc817"
            ]
        ]
    },
    {
        "id": "c9a0e36aa6440b5d",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "007",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "e9b90c2207dfb9b1",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1460,
        "wires": [
            [
                "c9a0e36aa6440b5d"
            ],
            []
        ]
    },
    {
        "id": "821e3a3fcf161ccf",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM05Max",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n    // Reset valores máximos\n    msgs.push({\n        payload: {\n            value: 0,       // comando = 0\n            fc: 6,          // Write Single Register (0x06)\n            unitid: 5, // PAC a ser resetado\n            address: 60002, // Reset valores máximos\n            quantity: 1\n        }\n    });\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1460,
        "wires": [
            [
                "e9b90c2207dfb9b1"
            ]
        ]
    },
    {
        "id": "a4d0a743280c6935",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "0f114eef3f890b59"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1460,
        "wires": [
            [
                "821e3a3fcf161ccf"
            ]
        ]
    },
    {
        "id": "692a64c079bc0ef4",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM05Min",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n// Reset valores mínimos\nmsgs.push({\n    payload: {\n        value: 0,       // comando = 0\n        fc: 6,          // Write Single Register (0x06)\n        unitid: 5, // PAC a ser resetado\n        address: 60003, // Reset valores mínimos\n        quantity: 1\n    }\n});\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1500,
        "wires": [
            [
                "7fd3ae625f0277d0"
            ]
        ]
    },
    {
        "id": "7fd3ae625f0277d0",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1500,
        "wires": [
            [
                "d226d7348e6c8c45"
            ],
            []
        ]
    },
    {
        "id": "d226d7348e6c8c45",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "008",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "f5e737f5bdf2f899",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "c9a0e36aa6440b5d"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1500,
        "wires": [
            [
                "692a64c079bc0ef4"
            ]
        ]
    },
    {
        "id": "6ef4618985f09bd7",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM06Max",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n    // Reset valores máximos\n    msgs.push({\n        payload: {\n            value: 0,       // comando = 0\n            fc: 6,          // Write Single Register (0x06)\n            unitid: 6, // PAC a ser resetado\n            address: 60002, // Reset valores máximos\n            quantity: 1\n        }\n    });\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1540,
        "wires": [
            [
                "62b653a50290ba17"
            ]
        ]
    },
    {
        "id": "62b653a50290ba17",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1540,
        "wires": [
            [
                "479e97e1ed41dcbe"
            ],
            []
        ]
    },
    {
        "id": "479e97e1ed41dcbe",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "009",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "9d369d0d78f0f1da",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "d226d7348e6c8c45"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1540,
        "wires": [
            [
                "6ef4618985f09bd7"
            ]
        ]
    },
    {
        "id": "63b624397fdf5ca4",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM06Min",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n// Reset valores mínimos\nmsgs.push({\n    payload: {\n        value: 0,       // comando = 0\n        fc: 6,          // Write Single Register (0x06)\n        unitid: 6, // PAC a ser resetado\n        address: 60003, // Reset valores mínimos\n        quantity: 1\n    }\n});\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1580,
        "wires": [
            [
                "66726584e4e2a16f"
            ]
        ]
    },
    {
        "id": "66726584e4e2a16f",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1580,
        "wires": [
            [
                "14650894e50745e1"
            ],
            []
        ]
    },
    {
        "id": "14650894e50745e1",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "010",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "40d462c60c7403a9",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "479e97e1ed41dcbe"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1580,
        "wires": [
            [
                "63b624397fdf5ca4"
            ]
        ]
    },
    {
        "id": "e9f14d71474564a6",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM07Max",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n    // Reset valores máximos\n    msgs.push({\n        payload: {\n            value: 0,       // comando = 0\n            fc: 6,          // Write Single Register (0x06)\n            unitid: 7, // PAC a ser resetado\n            address: 60002, // Reset valores máximos\n            quantity: 1\n        }\n    });\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1620,
        "wires": [
            [
                "5671954b5ed966d0"
            ]
        ]
    },
    {
        "id": "5671954b5ed966d0",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1620,
        "wires": [
            [
                "4ed43dd1cee249aa"
            ],
            []
        ]
    },
    {
        "id": "4ed43dd1cee249aa",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "011",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "f8dae90c184ce6a2",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "14650894e50745e1"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1620,
        "wires": [
            [
                "e9f14d71474564a6"
            ]
        ]
    },
    {
        "id": "3d21f40f4609999f",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM07Min",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n// Reset valores mínimos\nmsgs.push({\n    payload: {\n        value: 0,       // comando = 0\n        fc: 6,          // Write Single Register (0x06)\n        unitid: 7, // PAC a ser resetado\n        address: 60003, // Reset valores mínimos\n        quantity: 1\n    }\n});\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1660,
        "wires": [
            [
                "345e85b89a98b997"
            ]
        ]
    },
    {
        "id": "345e85b89a98b997",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1660,
        "wires": [
            [
                "95291cf5ad12ac08"
            ],
            []
        ]
    },
    {
        "id": "95291cf5ad12ac08",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "012",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1660,
        "wires": [
            [
                "935ae5494b7d8356"
            ]
        ]
    },
    {
        "id": "bdabe01e5b09266d",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "4ed43dd1cee249aa"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1660,
        "wires": [
            [
                "3d21f40f4609999f"
            ]
        ]
    },
    {
        "id": "0344b4db4472560f",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "S03_MM04Max",
        "func": "// Reset de valores MÁXIMOS e MÍNIMOS medidos do PAC3100\n\"use strict\";\n\n// **NÃO** mexe em pac_busy aqui. Busy fica só pra leitura.\n\nconst msgs = [];\n\n\n    // Reset valores máximos\n    msgs.push({\n        payload: {\n            value: 0,       // comando = 0\n            fc: 6,          // Write Single Register (0x06)\n            unitid: 4, // PAC a ser resetado\n            address: 60002, // Reset valores máximos\n            quantity: 1\n        }\n    });\n\n\n\n// Envia TODAS as mensagens pela ÚNICA saída do nó Function\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 411,
        "y": 1380,
        "wires": [
            [
                "262c6567da758366"
            ]
        ]
    },
    {
        "id": "262c6567da758366",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 681,
        "y": 1380,
        "wires": [
            [
                "90a70f6f3f235385"
            ],
            []
        ]
    },
    {
        "id": "90a70f6f3f235385",
        "type": "delay",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "005",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 861,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "2d8b8607e2640356",
        "type": "complete",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "",
        "scope": [
            "182b3f2851f96e95"
        ],
        "uncaught": false,
        "x": 121,
        "y": 1380,
        "wires": [
            [
                "0344b4db4472560f"
            ]
        ]
    },
    {
        "id": "a6756d61b077ecb9",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "Set Pausa01 ▶",
        "func": "// ─────────────────────────────────────────────────────\n// NÓ MODELO: duplicar e ajustar o pausa_id para cada ponto\n// de disparo (pausa01 … pausa10).\n// ─────────────────────────────────────────────────────\n\n// ① Defina aqui qual pausa este nó representa\nmsg.pausa_id = 'pausa01';   // ← altere para pausa02, pausa03 …\n\n// ② (Opcional) payload extra para identificar a origem\nmsg.pausa_origem = node.name;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1031,
        "y": 1080,
        "wires": [
            [
                "3033b2061c59af5d"
            ]
        ]
    },
    {
        "id": "3033b2061c59af5d",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "44eba1dffb9728df",
        "name": "Pausa P/ Reset Valores v2",
        "func": "// ═══════════════════════════════════════════════════════════════\n// NÓ: Pausa P/ Reset Valores  (v2 – multi-pausa com tratamento)\n// Pré-requisito: msg.pausa_id definido pelo nó 'Set PausaXX'\n// ═══════════════════════════════════════════════════════════════\n\nconst PAUSAS_VALIDAS = [\n    'pausa01','pausa02','pausa03','pausa04','pausa05',\n    'pausa06','pausa07','pausa08','pausa09','pausa10'\n];\n\n// ── 1. Lê pausa_id da mensagem ──────────────────────────────────\nconst pausa_id = msg.pausa_id;\n\nif (!pausa_id) {\n    node.error('pausa_id não definido! Conecte um nó \"Set PausaXX\" antes deste.', msg);\n    node.status({ fill:'red', shape:'ring', text:'ERRO: pausa_id ausente' });\n    return null;\n}\n\nif (!PAUSAS_VALIDAS.includes(pausa_id)) {\n    node.error(`pausa_id inválido: \"${pausa_id}\". Valores aceitos: ${PAUSAS_VALIDAS.join(', ')}`, msg);\n    node.status({ fill:'red', shape:'ring', text:`ERRO: \"${pausa_id}\" inválido` });\n    return null;\n}\n\n// ── 2. Verifica conflito com pausa já ativa ──────────────────────\nconst reset_flag   = flow.get('reset_flag')   || false;\nconst active_pause = flow.get('active_pause') || null;\n\nif (reset_flag && active_pause) {\n    if (active_pause === pausa_id) {\n        // Mesma pausa solicitada duas vezes\n        node.warn(`\"${pausa_id}\" já está ativa. Solicitação ignorada.`, msg);\n        node.status({ fill:'yellow', shape:'ring', text:`AVISO: ${pausa_id} já ativa` });\n    } else {\n        // Pausa diferente solicitada enquanto outra está ativa\n        node.error(\n            `CONFLITO: \"${active_pause}\" está ativa. ` +\n            `Encerre-a antes de iniciar \"${pausa_id}\".`, msg\n        );\n        node.status({ fill:'red', shape:'dot', text:`CONFLITO: ${active_pause} ✕ ${pausa_id}` });\n    }\n    return null;   // ← descarta a mensagem, não altera o contexto\n}\n\n// ── 3. Ativa a pausa ────────────────────────────────────────────\nflow.set('reset_flag',   true);\nflow.set('active_pause', pausa_id);\n\nconst agora       = new Date();\nconst ts_data_hora = agora.toLocaleString('pt-BR');\nconst ts_hora      = agora.toLocaleTimeString('pt-BR', { hour12: false });\n\nmsg.reset_flag   = true;\nmsg.active_pause = pausa_id;\nmsg.payload = {\n    flag:       'reset_flag',\n    value:      true,\n    pausa_id:   pausa_id,\n    texto:      `reset_flag = true | ${pausa_id} ativada`,\n    timestamp:  ts_data_hora\n};\n\nnode.status({ fill:'yellow', shape:'dot', text:`${pausa_id} ativa @ ${ts_hora}` });\n\nreturn msg;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1080,
        "wires": []
    },
    {
        "id": "43c2da9fc26d6b81",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Pausa de Loop - Reset TRUE v2",
        "func": "// ═══════════════════════════════════════════════════════════════\n// NÓ: Pausa de Loop – Reset TRUE  (v2 – 11 saídas)\n//\n// Saída  1 → fluxo normal (nenhuma pausa ativa)\n// Saída  2 → pausa01\n// Saída  3 → pausa02\n//   …\n// Saída 11 → pausa10\n// ═══════════════════════════════════════════════════════════════\n\nconst TOTAL_SAIDAS = 11;  // 1 normal + 10 pausas\n\nconst PAUSA_MAP = {\n    'pausa01':  1,\n    'pausa02':  2,\n    'pausa03':  3,\n    'pausa04':  4,\n    'pausa05':  5,\n    'pausa06':  6,\n    'pausa07':  7,\n    'pausa08':  8,\n    'pausa09':  9,\n    'pausa10': 10\n};\n\n// ── Lê contexto ────────────────────────────────────────────────\nconst reset_flag   = flow.get('reset_flag')   || false;\nconst active_pause = flow.get('active_pause') || null;\n\nmsg.reset_flag   = reset_flag;\nmsg.active_pause = active_pause;\n\n// Prepara array de saídas (todas nulas por padrão)\nconst outputs = new Array(TOTAL_SAIDAS).fill(null);\n\n// ── Caso 1: Nenhuma pausa ativa → Saída 1 (fluxo normal) ───────\nif (!reset_flag || !active_pause) {\n    node.status({ fill:'green', shape:'dot', text:'Normal → saída 1' });\n    outputs[0] = msg;\n    return outputs;\n}\n\n// ── Caso 2: Pausa ativa – roteia para a saída correspondente ────\nconst saida_idx = PAUSA_MAP[active_pause];\n\nif (saida_idx === undefined) {\n    // active_pause tem valor inesperado (contexto corrompido?)\n    node.error(\n        `active_pause desconhecido: \"${active_pause}\". ` +\n        `Verifique o contexto de fluxo (flow.active_pause).`, msg\n    );\n    node.status({ fill:'red', shape:'ring', text:`ERRO: pausa inválida (${active_pause})` });\n    return null;\n}\n\nnode.status({\n    fill:  'yellow',\n    shape: 'dot',\n    text:  `${active_pause} → saída ${saida_idx + 1}`\n});\n\noutputs[saida_idx] = msg;\nreturn outputs;\n",
        "outputs": 11,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 300,
        "wires": [
            [
                "92b5700bb1cf6000"
            ],
            [
                "c216011114f81e95"
            ],
            [
                "f90f4cf1a4497b0c"
            ],
            [
                "f29036046131df80"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "16964d531b6799f7",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "Reset - Encerra Pausa v2",
        "func": "// ═══════════════════════════════════════════════════════════════\n// NÓ: Reset – Encerra Pausa  (v2)\n// Limpa reset_flag E active_pause do contexto de fluxo.\n// Conectar na saída de CADA pausa após ela concluir.\n// ═══════════════════════════════════════════════════════════════\n\nconst active_pause = flow.get('active_pause') || 'nenhuma';\n\nflow.set('reset_flag',   false);\nflow.set('active_pause', null);\n\nconst agora        = new Date();\nconst ts_data_hora = agora.toLocaleString('pt-BR');\nconst ts_hora      = agora.toLocaleTimeString('pt-BR', { hour12: false });\n\nmsg.reset_flag   = false;\nmsg.active_pause = null;\nmsg.payload = {\n    flag:             'reset_flag',\n    value:            false,\n    pausa_encerrada:  active_pause,\n    texto:            `reset_flag = false | ${active_pause} encerrada`,\n    timestamp:        ts_data_hora\n};\n\nnode.status({ fill:'green', shape:'dot', text:`${active_pause} encerrada @ ${ts_hora}` });\n\nreturn msg;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "68e39a8e77f389f8",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "Sincroniza Multimedidores",
        "func": "\"use strict\";\n\n// ====== CONFIG ======\nconst PACS       = [1, 2, 3, 4, 5, 6, 7];\nconst periodMin  = 15;\nconst syncViaBus = 1;\n\n// ====== HELPER ======\nfunction u32ToRegsBE(u32) {\n    return [(u32 >>> 16) & 0xFFFF, u32 & 0xFFFF];\n}\n\n// ====== ESTADO ======\nlet state = global.get(\"state_pac_write\") || { pacIndex: 0 };\n\n// ── Se entrada \"reset\" → volta ao pac1 antes de tudo ──────────\nif (msg.topic === \"reset\") {\n    state.pacIndex = 0;\n    global.set(\"state_pac_write\", state);\n}\n\nlet reqCount = global.get(\"pac_write_req_count\") || 0;\nreqCount++;\nglobal.set(\"pac_write_req_count\", reqCount);\n\nconst currentPac = PACS[state.pacIndex];\nconst isLast     = state.pacIndex === PACS.length - 1;\n\n// ====== STATUS ======\nconst reqStr = reqCount.toLocaleString('pt-BR');\nconst modeLabel = msg.topic === \"reset\" ? \" ↺ reset\" : \"\";\nnode.status({\n    fill:  isLast ? \"blue\" : \"grey\",\n    shape: \"dot\",\n    text:  `req #${reqStr} | PAC ${currentPac}${isLast ? \" ★ último\" : \"\"}${modeLabel}`\n});\n\n// ====== AVANÇA ESTADO ======\nstate.pacIndex++;\nif (state.pacIndex >= PACS.length) {\n    state.pacIndex = 0;\n}\nglobal.set(\"state_pac_write\", state);\n\n// ====== MONTA MENSAGENS DE ESCRITA ======\nconst msgs = [];\n\nmsgs.push({\n    payload: {\n        fc: 16,\n        unitid: currentPac,\n        address: 50021,\n        quantity: 2,\n        value: u32ToRegsBE(periodMin)\n    },\n    topic: `write_50021_unit${currentPac}`\n});\n\nmsgs.push({\n    payload: {\n        fc: 16,\n        unitid: currentPac,\n        address: 50023,\n        quantity: 2,\n        value: u32ToRegsBE(syncViaBus)\n    },\n    topic: `write_50023_unit${currentPac}`\n});\n\nmsgs.push({\n    payload: {\n        fc: 6,\n        unitid: currentPac,\n        address: 60005,\n        quantity: 1,\n        value: periodMin\n    },\n    topic: `write_60005_unit${currentPac}`\n});\n\n// ====== SAÍDAS ======\nlet out2 = null;\n\nif (isLast) {\n    setTimeout(() => {\n        flow.set(\"pac_write_concluido\", true);\n        node.send([null, { payload: true, topic: \"write_concluido\" }]);\n    }, 500);\n} else {\n    flow.set(\"pac_write_concluido\", false);\n}\n\nreturn [msgs, out2];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2080,
        "wires": [
            [
                "8ca4c937566065c9"
            ],
            [
                "4bd947f6733616df"
            ]
        ]
    },
    {
        "id": "4f4a0b15d7cb5720",
        "type": "inject",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 121,
        "y": 620,
        "wires": [
            [
                "b50bb4ed51239516"
            ]
        ]
    },
    {
        "id": "8ebf2b6ef44ab5f8",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "Set Pausa03 ▶",
        "func": "// ─────────────────────────────────────────────────────\n// NÓ MODELO: duplicar e ajustar o pausa_id para cada ponto\n// de disparo (pausa01 … pausa10).\n// ─────────────────────────────────────────────────────\n\n// ① Defina aqui qual pausa este nó representa\nmsg.pausa_id = 'pausa03';   // ← altere para pausa02, pausa03 …\n\n// ② (Opcional) payload extra para identificar a origem\nmsg.pausa_origem = node.name;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 2000,
        "wires": [
            [
                "fa77ec89453091c4"
            ]
        ]
    },
    {
        "id": "fa77ec89453091c4",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "Pausa P/ Reset Valores v2",
        "func": "// ═══════════════════════════════════════════════════════════════\n// NÓ: Pausa P/ Reset Valores  (v2 – multi-pausa com tratamento)\n// Pré-requisito: msg.pausa_id definido pelo nó 'Set PausaXX'\n// ═══════════════════════════════════════════════════════════════\n\nconst PAUSAS_VALIDAS = [\n    'pausa01','pausa02','pausa03','pausa04','pausa05',\n    'pausa06','pausa07','pausa08','pausa09','pausa10'\n];\n\n// ── 1. Lê pausa_id da mensagem ──────────────────────────────────\nconst pausa_id = msg.pausa_id;\n\nif (!pausa_id) {\n    node.error('pausa_id não definido! Conecte um nó \"Set PausaXX\" antes deste.', msg);\n    node.status({ fill:'red', shape:'ring', text:'ERRO: pausa_id ausente' });\n    return null;\n}\n\nif (!PAUSAS_VALIDAS.includes(pausa_id)) {\n    node.error(`pausa_id inválido: \"${pausa_id}\". Valores aceitos: ${PAUSAS_VALIDAS.join(', ')}`, msg);\n    node.status({ fill:'red', shape:'ring', text:`ERRO: \"${pausa_id}\" inválido` });\n    return null;\n}\n\n// ── 2. Verifica conflito com pausa já ativa ──────────────────────\nconst reset_flag   = flow.get('reset_flag')   || false;\nconst active_pause = flow.get('active_pause') || null;\n\nif (reset_flag && active_pause) {\n    if (active_pause === pausa_id) {\n        // Mesma pausa solicitada duas vezes\n        node.warn(`\"${pausa_id}\" já está ativa. Solicitação ignorada.`, msg);\n        node.status({ fill:'yellow', shape:'ring', text:`AVISO: ${pausa_id} já ativa` });\n    } else {\n        // Pausa diferente solicitada enquanto outra está ativa\n        node.error(\n            `CONFLITO: \"${active_pause}\" está ativa. ` +\n            `Encerre-a antes de iniciar \"${pausa_id}\".`, msg\n        );\n        node.status({ fill:'red', shape:'dot', text:`CONFLITO: ${active_pause} ✕ ${pausa_id}` });\n    }\n    return null;   // ← descarta a mensagem, não altera o contexto\n}\n\n// ── 3. Ativa a pausa ────────────────────────────────────────────\nflow.set('reset_flag',   true);\nflow.set('active_pause', pausa_id);\n\nconst agora       = new Date();\nconst ts_data_hora = agora.toLocaleString('pt-BR');\nconst ts_hora      = agora.toLocaleTimeString('pt-BR', { hour12: false });\n\nmsg.reset_flag   = true;\nmsg.active_pause = pausa_id;\nmsg.payload = {\n    flag:       'reset_flag',\n    value:      true,\n    pausa_id:   pausa_id,\n    texto:      `reset_flag = true | ${pausa_id} ativada`,\n    timestamp:  ts_data_hora\n};\n\nnode.status({ fill:'yellow', shape:'dot', text:`${pausa_id} ativa @ ${ts_hora}` });\n\nreturn msg;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f29036046131df80",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "b92925925aea1116"
        ],
        "x": 1095,
        "y": 320,
        "wires": []
    },
    {
        "id": "b92925925aea1116",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "link in 7",
        "links": [
            "f29036046131df80"
        ],
        "x": 65,
        "y": 2060,
        "wires": [
            [
                "3e449e66ed204ff7"
            ]
        ]
    },
    {
        "id": "129511a36e64ddbe",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "Libera Loop Sincronismo",
        "func": "const pac_write_concluido = flow.get(\"pac_write_concluido\") || false;\n\nif (msg.payload === true && pac_write_concluido === false) {\n    return msg;   //  libera\n}\n\nreturn null;      //  bloqueia",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 2120,
        "wires": [
            [
                "68e39a8e77f389f8"
            ]
        ]
    },
    {
        "id": "3e449e66ed204ff7",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "Reposiciona Sincronismo",
        "func": "// ====== Força início no PAC 1 ======\nglobal.set(\"state_pac_write\", { pacIndex: 0 });\n\nmsg.topic = \"reset\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 2060,
        "wires": [
            [
                "68e39a8e77f389f8"
            ]
        ]
    },
    {
        "id": "3c8ba28ce43aa19d",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "Escala Quarto/Hora",
        "func": "const DEBOUNCE_MS = 90 * 1000; // 90 segundos\n\nconst ultimaExecucao = flow.get(\"quarto_hora_ultima_exec\") || 0;\nconst agora = Date.now();\n\nif (agora - ultimaExecucao < DEBOUNCE_MS) {\n    const restante = Math.ceil((DEBOUNCE_MS - (agora - ultimaExecucao)) / 1000);\n    node.status({ fill: \"grey\", shape: \"ring\", text: `bloqueado — faltam ${restante}s` });\n    return null;\n}\n\nconst minutos = new Date().getMinutes();\nconst quartosDeHora = [0, 15, 30, 45];\n\nif (quartosDeHora.includes(minutos)) {\n    flow.set(\"quarto_hora_ultima_exec\", agora);\n    node.status({ fill: \"green\", shape: \"dot\", text: `✓ ${minutos}min → saída acionada` });\n    return msg;\n}\n\nnode.status({ fill: \"grey\", shape: \"ring\", text: `${minutos}min → aguardando quarto de hora` });\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 2000,
        "wires": [
            [
                "8ebf2b6ef44ab5f8"
            ]
        ]
    },
    {
        "id": "b50bb4ed51239516",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "e3e38e99c72629eb"
        ],
        "x": 416,
        "y": 620,
        "wires": []
    },
    {
        "id": "e3e38e99c72629eb",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "link in 2",
        "links": [
            "b50bb4ed51239516"
        ],
        "x": 65,
        "y": 2000,
        "wires": [
            [
                "3c8ba28ce43aa19d"
            ]
        ]
    },
    {
        "id": "8453268458ce2c3b",
        "type": "inject",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.650",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 121,
        "y": 660,
        "wires": [
            [
                "a5a2785916b1dbc9"
            ]
        ]
    },
    {
        "id": "a5a2785916b1dbc9",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "2ee857f133377866",
            "66c797b5e3425261"
        ],
        "x": 416,
        "y": 660,
        "wires": []
    },
    {
        "id": "935ae5494b7d8356",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "729a66a87346ee1a",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "09cbabc980168ffe"
        ],
        "x": 986,
        "y": 1660,
        "wires": []
    },
    {
        "id": "09cbabc980168ffe",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "link in 9",
        "links": [
            "4bd947f6733616df",
            "935ae5494b7d8356",
            "67f4d0699d722484"
        ],
        "x": 625,
        "y": 420,
        "wires": [
            [
                "16964d531b6799f7"
            ]
        ]
    },
    {
        "id": "4bd947f6733616df",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "09cbabc980168ffe"
        ],
        "x": 875,
        "y": 2140,
        "wires": []
    },
    {
        "id": "ad10bc2b17254bb7",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "Le Sincronismo Multimedidores",
        "func": "\"use strict\";\n\n// ====== CONFIG ======\nconst PACS = [1, 2, 3, 4, 5, 6, 7];\n\n// ====== ESTADO ======\nlet state = global.get(\"state_pac_read_setup\") || { pacIndex: 0 };\n\nif (msg.topic === \"reset\") {\n    state.pacIndex = 0;\n    global.set(\"state_pac_read_setup\", state);\n}\n\nlet reqCount = global.get(\"pac_read_setup_req_count\") || 0;\nreqCount++;\nglobal.set(\"pac_read_setup_req_count\", reqCount);\n\nconst currentPac = PACS[state.pacIndex];\nconst isLast     = state.pacIndex === PACS.length - 1;\n\n// ====== STATUS ======\nconst reqStr = reqCount.toLocaleString('pt-BR');\nconst modeLabel = msg.topic === \"reset\" ? \" ↺ reset\" : \"\";\nnode.status({\n    fill:  isLast ? \"blue\" : \"grey\",\n    shape: \"dot\",\n    text:  `req #${reqStr} | PAC ${currentPac}${isLast ? \" ★ último\" : \"\"}${modeLabel}`\n});\n\n// ====== AVANÇA ESTADO ======\nstate.pacIndex++;\nif (state.pacIndex >= PACS.length) {\n    state.pacIndex = 0;\n}\nglobal.set(\"state_pac_read_setup\", state);\n\n// ====== MONTA MENSAGEM DE LEITURA ======\n// 50021 (2 regs) + 50023 (2 regs) em uma única requisição FC3\n// 60005 é write-only, não pode ser lido\nconst msgs = [];\n\nmsgs.push({\n    payload: {\n        fc: 3,\n        unitid: currentPac,\n        address: 50021,\n        quantity: 4\n    },\n    topic: `read_50021_50023_unit${currentPac}`,\n    pac_setup: {\n        unitid: currentPac\n    }\n});\n\n// ====== SAÍDAS ======\nlet out2 = null;\n\nif (isLast) {\n    setTimeout(() => {\n        flow.set(\"pac_read_setup_concluido\", true);\n        node.send([null, { payload: true, topic: \"read_setup_concluido\" }]);\n    }, 500);\n} else {\n    flow.set(\"pac_read_setup_concluido\", false);\n}\n\nreturn [msgs, out2];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1860,
        "wires": [
            [
                "107f84c57038c3fc"
            ],
            [
                "67f4d0699d722484"
            ]
        ]
    },
    {
        "id": "768beda8aced84b2",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "Reposiciona Sincronismo",
        "func": "// ====== Força início no PAC 1 ======\nglobal.set(\"state_pac_read_setup\", { pacIndex: 0 });\n\nmsg.topic = \"reset\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1840,
        "wires": [
            [
                "ad10bc2b17254bb7"
            ]
        ]
    },
    {
        "id": "4b57b389f5e737e5",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "Libera Loop Sincronismo",
        "func": "const pac_read_setup_concluido = flow.get(\"pac_read_setup_concluido\") || false;\n\nif (msg.payload === true && pac_read_setup_concluido === false) {\n    return msg;   // libera\n}\n\nreturn null;      //  bloqueia",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1900,
        "wires": [
            [
                "ad10bc2b17254bb7"
            ]
        ]
    },
    {
        "id": "eaebfcde82552287",
        "type": "inject",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "80d34264007ccf42"
            ]
        ]
    },
    {
        "id": "80d34264007ccf42",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "8c80cf9b9d418bd5",
        "name": "Gatilho Manual",
        "mode": "link",
        "links": [
            "cf5778d65febe403"
        ],
        "x": 415,
        "y": 700,
        "wires": []
    },
    {
        "id": "38f773a5867513b5",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "link in 10",
        "links": [
            "f90f4cf1a4497b0c"
        ],
        "x": 65,
        "y": 1840,
        "wires": [
            [
                "768beda8aced84b2"
            ]
        ]
    },
    {
        "id": "2ee857f133377866",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "link in 11",
        "links": [
            "a5a2785916b1dbc9"
        ],
        "x": 65,
        "y": 1900,
        "wires": [
            [
                "4b57b389f5e737e5"
            ]
        ]
    },
    {
        "id": "f90f4cf1a4497b0c",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "f890b2a13d7c7afc",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "38f773a5867513b5"
        ],
        "x": 1095,
        "y": 280,
        "wires": []
    },
    {
        "id": "cf5778d65febe403",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "link in 12",
        "links": [
            "80d34264007ccf42"
        ],
        "x": 65,
        "y": 1780,
        "wires": [
            [
                "5babdcc9bc053c78"
            ]
        ]
    },
    {
        "id": "5babdcc9bc053c78",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "Set Pausa02 ▶",
        "func": "// ─────────────────────────────────────────────────────\n// NÓ MODELO: duplicar e ajustar o pausa_id para cada ponto\n// de disparo (pausa01 … pausa10).\n// ─────────────────────────────────────────────────────\n\n// ① Defina aqui qual pausa este nó representa\nmsg.pausa_id = 'pausa02';   // ← altere para pausa02, pausa03 …\n\n// ② (Opcional) payload extra para identificar a origem\nmsg.pausa_origem = node.name;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1780,
        "wires": [
            [
                "d387a7f381aba54c"
            ]
        ]
    },
    {
        "id": "d387a7f381aba54c",
        "type": "function",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "Pausa P/ Reset Valores v2",
        "func": "// ═══════════════════════════════════════════════════════════════\n// NÓ: Pausa P/ Reset Valores  (v2 – multi-pausa com tratamento)\n// Pré-requisito: msg.pausa_id definido pelo nó 'Set PausaXX'\n// ═══════════════════════════════════════════════════════════════\n\nconst PAUSAS_VALIDAS = [\n    'pausa01','pausa02','pausa03','pausa04','pausa05',\n    'pausa06','pausa07','pausa08','pausa09','pausa10'\n];\n\n// ── 1. Lê pausa_id da mensagem ──────────────────────────────────\nconst pausa_id = msg.pausa_id;\n\nif (!pausa_id) {\n    node.error('pausa_id não definido! Conecte um nó \"Set PausaXX\" antes deste.', msg);\n    node.status({ fill:'red', shape:'ring', text:'ERRO: pausa_id ausente' });\n    return null;\n}\n\nif (!PAUSAS_VALIDAS.includes(pausa_id)) {\n    node.error(`pausa_id inválido: \"${pausa_id}\". Valores aceitos: ${PAUSAS_VALIDAS.join(', ')}`, msg);\n    node.status({ fill:'red', shape:'ring', text:`ERRO: \"${pausa_id}\" inválido` });\n    return null;\n}\n\n// ── 2. Verifica conflito com pausa já ativa ──────────────────────\nconst reset_flag   = flow.get('reset_flag')   || false;\nconst active_pause = flow.get('active_pause') || null;\n\nif (reset_flag && active_pause) {\n    if (active_pause === pausa_id) {\n        // Mesma pausa solicitada duas vezes\n        node.warn(`\"${pausa_id}\" já está ativa. Solicitação ignorada.`, msg);\n        node.status({ fill:'yellow', shape:'ring', text:`AVISO: ${pausa_id} já ativa` });\n    } else {\n        // Pausa diferente solicitada enquanto outra está ativa\n        node.error(\n            `CONFLITO: \"${active_pause}\" está ativa. ` +\n            `Encerre-a antes de iniciar \"${pausa_id}\".`, msg\n        );\n        node.status({ fill:'red', shape:'dot', text:`CONFLITO: ${active_pause} ✕ ${pausa_id}` });\n    }\n    return null;   // ← descarta a mensagem, não altera o contexto\n}\n\n// ── 3. Ativa a pausa ────────────────────────────────────────────\nflow.set('reset_flag',   true);\nflow.set('active_pause', pausa_id);\n\nconst agora       = new Date();\nconst ts_data_hora = agora.toLocaleString('pt-BR');\nconst ts_hora      = agora.toLocaleTimeString('pt-BR', { hour12: false });\n\nmsg.reset_flag   = true;\nmsg.active_pause = pausa_id;\nmsg.payload = {\n    flag:       'reset_flag',\n    value:      true,\n    pausa_id:   pausa_id,\n    texto:      `reset_flag = true | ${pausa_id} ativada`,\n    timestamp:  ts_data_hora\n};\n\nnode.status({ fill:'yellow', shape:'dot', text:`${pausa_id} ativa @ ${ts_hora}` });\n\nreturn msg;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1780,
        "wires": []
    },
    {
        "id": "8ca4c937566065c9",
        "type": "modbus-flex-write",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "50fc5c2a64d40a1e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 2080,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "107f84c57038c3fc",
        "type": "modbus-flex-getter",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "PAC3100 Flex",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1860,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "67f4d0699d722484",
        "type": "link out",
        "z": "d1bf4eba69c8e4a1",
        "g": "abe60f6b1d88892c",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "09cbabc980168ffe"
        ],
        "x": 875,
        "y": 1900,
        "wires": []
    },
    {
        "id": "66c797b5e3425261",
        "type": "link in",
        "z": "d1bf4eba69c8e4a1",
        "g": "92833ee5c723c6a4",
        "name": "link in 8",
        "links": [
            "a5a2785916b1dbc9"
        ],
        "x": 65,
        "y": 2120,
        "wires": [
            [
                "129511a36e64ddbe"
            ]
        ]
    },
    {
        "id": "878ef1e3c8079b3f",
        "type": "inject",
        "z": "5d3490b53bdd7579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "c47b31ce30b6ec41"
            ]
        ]
    },
    {
        "id": "f17ca651c0482266",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "Filtro MM01",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"FatorPotenciaTotal\",\n    \"PotenciaAtivaMaxPeriodo\",\n    \"PotenciaReativaMaxPeriodo\", \n    \"PotenciaAtivaAccImport\", \n    \"PotenciaReativaAccImport\", \n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM01\";\n}\n\n//  Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "3454615a4d662ce7"
            ]
        ]
    },
    {
        "id": "c47b31ce30b6ec41",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "AllData_MM01",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (1) ou string (\"1\")\nconst pac1 = all[1] || all[\"1\"];\n\nif (!pac1) {\n    // Ainda não tem nada do PAC 1\n    msg.payload = {\n        info: \"Sem dados para PAC 1 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 1\n    msg.payload = pac1;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "f17ca651c0482266"
            ]
        ]
    },
    {
        "id": "3454615a4d662ce7",
        "type": "mongodb4",
        "z": "5d3490b53bdd7579",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyTelemetry",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "00",
        "x": 690,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "27201e55a678496f",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "function 18",
        "func": "const agora = Date.now();\nconst JanelaUtil = new Date(agora - (1440*30) * 60 * 1000);\n\nmsg.payload = [\n  {\n    DateTime: { $lt: JanelaUtil }\n  }\n];\n\nmsg.operation = \"deleteMany\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 20,
        "wires": [
            [
                "f9f4e9506c08052f"
            ]
        ]
    },
    {
        "id": "016de9af584feee5",
        "type": "inject",
        "z": "5d3490b53bdd7579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 20,
        "wires": [
            [
                "27201e55a678496f"
            ]
        ]
    },
    {
        "id": "f9f4e9506c08052f",
        "type": "mongodb4",
        "z": "5d3490b53bdd7579",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyTelemetry",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "00",
        "x": 490,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "3a02cd6e41eb5578",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "AllData_MM02",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (2) ou string (\"2\")\nconst pac2 = all[2] || all[\"2\"];\n\nif (!pac2) {\n    // Ainda não tem nada do PAC 2\n    msg.payload = {\n        info: \"Sem dados para PAC 2 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 2\n    msg.payload = pac2;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "a03061ef4a307abb"
            ]
        ]
    },
    {
        "id": "a03061ef4a307abb",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "Filtro MM02",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"FatorPotenciaTotal\",\n    \"PotenciaAtivaMaxPeriodo\",\n    \"PotenciaReativaMaxPeriodo\", \n    \"PotenciaAtivaAccImport\", \n    \"PotenciaReativaAccImport\", \n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM02\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "a4a29995028ca38e"
            ]
        ]
    },
    {
        "id": "a4a29995028ca38e",
        "type": "mongodb4",
        "z": "5d3490b53bdd7579",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyTelemetry",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "01",
        "x": 690,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b497a49cf4f52ea2",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "AllData_MM03",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (3) ou string (\"3\")\nconst pac3 = all[3] || all[\"3\"];\n\nif (!pac3) {\n    // Ainda não tem nada do PAC 3\n    msg.payload = {\n        info: \"Sem dados para PAC 3 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 3\n    msg.payload = pac3;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "4c7b776d0e4c948e"
            ]
        ]
    },
    {
        "id": "4c7b776d0e4c948e",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "Filtro MM03",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"FatorPotenciaTotal\",\n    \"PotenciaAtivaMaxPeriodo\",\n    \"PotenciaReativaMaxPeriodo\", \n    \"PotenciaAtivaAccImport\", \n    \"PotenciaReativaAccImport\", \n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM03\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "32a486ccd2860a6f"
            ]
        ]
    },
    {
        "id": "32a486ccd2860a6f",
        "type": "mongodb4",
        "z": "5d3490b53bdd7579",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyTelemetry",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "02",
        "x": 690,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2bc0bcb001ade0f9",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "AllData_MM04",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (4) ou string (\"4\")\nconst pac4 = all[4] || all[\"4\"];\n\nif (!pac4) {\n    // Ainda não tem nada do PAC 4\n    msg.payload = {\n        info: \"Sem dados para PAC 4 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 4\n    msg.payload = pac4;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "f2c5e851f2537652"
            ]
        ]
    },
    {
        "id": "f2c5e851f2537652",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "Filtro MM04",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"FatorPotenciaTotal\",\n    \"PotenciaAtivaMaxPeriodo\",\n    \"PotenciaReativaMaxPeriodo\", \n    \"PotenciaAtivaAccImport\", \n    \"PotenciaReativaAccImport\", \n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM04\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "e658aedd84056162"
            ]
        ]
    },
    {
        "id": "e658aedd84056162",
        "type": "mongodb4",
        "z": "5d3490b53bdd7579",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyTelemetry",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "03",
        "x": 690,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "70611d31c96c0b2b",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "AllData_MM05",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (5) ou string (\"5\")\nconst pac5 = all[5] || all[\"5\"];\n\nif (!pac5) {\n    // Ainda não tem nada do PAC 5\n    msg.payload = {\n        info: \"Sem dados para PAC 5 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 5\n    msg.payload = pac5;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "63dca85a00321f79"
            ]
        ]
    },
    {
        "id": "63dca85a00321f79",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "Filtro MM05",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"FatorPotenciaTotal\",\n    \"PotenciaAtivaMaxPeriodo\",\n    \"PotenciaReativaMaxPeriodo\", \n    \"PotenciaAtivaAccImport\", \n    \"PotenciaReativaAccImport\", \n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM05\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "51f1e937114703b1"
            ]
        ]
    },
    {
        "id": "51f1e937114703b1",
        "type": "mongodb4",
        "z": "5d3490b53bdd7579",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyTelemetry",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "04",
        "x": 690,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e1b20159c6ba7ba1",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "AllData_MM06",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (6) ou string (\"6\")\nconst pac6 = all[6] || all[\"6\"];\n\nif (!pac6) {\n    // Ainda não tem nada do PAC 6\n    msg.payload = {\n        info: \"Sem dados para PAC 6 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 6\n    msg.payload = pac6;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 400,
        "wires": [
            [
                "c5e13d32291a1b78"
            ]
        ]
    },
    {
        "id": "c5e13d32291a1b78",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "Filtro MM06",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"FatorPotenciaTotal\",\n    \"PotenciaAtivaMaxPeriodo\",\n    \"PotenciaReativaMaxPeriodo\", \n    \"PotenciaAtivaAccImport\", \n    \"PotenciaReativaAccImport\", \n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM06\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 400,
        "wires": [
            [
                "8a64da36d5745353"
            ]
        ]
    },
    {
        "id": "8a64da36d5745353",
        "type": "mongodb4",
        "z": "5d3490b53bdd7579",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyTelemetry",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "05",
        "x": 690,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1c264478b6344c1b",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "AllData_MM07",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (7) ou string (\"7\")\nconst pac7 = all[7] || all[\"7\"];\n\nif (!pac7) {\n    // Ainda não tem nada do PAC 7\n    msg.payload = {\n        info: \"Sem dados para PAC 7 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 7\n    msg.payload = pac7;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "5fd986f9097f0129"
            ]
        ]
    },
    {
        "id": "5fd986f9097f0129",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "Filtro MM07",
        "func": "// Filtrar campos do PAC e gerar documento para MongoDB\n\n// 🔹 Mapeamento unitid -> equipamento\nconst EQUIP_MAP = {\n    1: \"SE03_MM01\",\n    2: \"SE03_MM02\",\n    3: \"SE03_MM03\",\n    4: \"SE03_MM04\",\n    5: \"SE03_MM05\",\n    6: \"SE03_MM06\",\n    7: \"SE03_MM07\",\n};\n\n// 🔹 Campos que você quer salvar no Mongo\nconst CAMPOS = [\n    \"FatorPotenciaTotal\",\n    \"PotenciaAtivaMaxPeriodo\",\n    \"PotenciaReativaMaxPeriodo\", \n    \"PotenciaAtivaAccImport\", \n    \"PotenciaReativaAccImport\", \n    // adiciona aqui o que mais precisar\n];\n\n// Objeto de origem: vem do function anterior (\"Get PACx allValues\")\nconst src = msg.payload || {};\nconst filtered = {};\n\n// 1) Timestamp\nfiltered.DateTime = new Date();    // Date nativo (Mongo grava como ISODate)\n\n// 2) Copia apenas os campos que interessam\nfor (const campo of CAMPOS) {\n    if (Object.prototype.hasOwnProperty.call(src, campo)) {\n        filtered[campo] = src[campo];\n    }\n}\n\n// 3) unitid (pode vir no msg ou dentro do próprio payload)\nconst unitid = msg.unitid !== undefined ? msg.unitid : src.unitid;\n\nif (unitid !== undefined) {\n    filtered.unitid = unitid;\n    filtered.IDMaq = EQUIP_MAP[unitid] || `UNIT_${unitid}`;\n} else {\n    // fallback, se por algum motivo não vier unitid\n    filtered.IDMaq = \"SE03_MM07\";\n}\n\n// 🔹 Garante que a mensagem para o Mongo tenha APENAS o documento no payload\n// (sem topic, sem contadores, sem desvios etc.)\nreturn {\n    payload: [filtered],\n    operation: \"insertOne\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 460,
        "wires": [
            [
                "ee8445dad8d53d71"
            ]
        ]
    },
    {
        "id": "ee8445dad8d53d71",
        "type": "mongodb4",
        "z": "5d3490b53bdd7579",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyTelemetry",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "07",
        "x": 690,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b950ca8049508ec2",
        "type": "complete",
        "z": "5d3490b53bdd7579",
        "name": "",
        "scope": [
            "3454615a4d662ce7"
        ],
        "uncaught": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "3a02cd6e41eb5578"
            ]
        ]
    },
    {
        "id": "4abd5c9cfabf461e",
        "type": "complete",
        "z": "5d3490b53bdd7579",
        "name": "",
        "scope": [
            "a4a29995028ca38e"
        ],
        "uncaught": false,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "b497a49cf4f52ea2"
            ]
        ]
    },
    {
        "id": "56e7494d50dc619a",
        "type": "complete",
        "z": "5d3490b53bdd7579",
        "name": "",
        "scope": [
            "32a486ccd2860a6f"
        ],
        "uncaught": false,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "2bc0bcb001ade0f9"
            ]
        ]
    },
    {
        "id": "2a815f2a7705ec7d",
        "type": "complete",
        "z": "5d3490b53bdd7579",
        "name": "",
        "scope": [
            "e658aedd84056162"
        ],
        "uncaught": false,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "70611d31c96c0b2b"
            ]
        ]
    },
    {
        "id": "37bdfc880c150c9e",
        "type": "complete",
        "z": "5d3490b53bdd7579",
        "name": "",
        "scope": [
            "51f1e937114703b1"
        ],
        "uncaught": false,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "e1b20159c6ba7ba1"
            ]
        ]
    },
    {
        "id": "cf46c71ab43c27c6",
        "type": "complete",
        "z": "5d3490b53bdd7579",
        "name": "",
        "scope": [
            "8a64da36d5745353"
        ],
        "uncaught": false,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "1c264478b6344c1b"
            ]
        ]
    },
    {
        "id": "c6e62f781494bf3d",
        "type": "comment",
        "z": "5d3490b53bdd7579",
        "name": "",
        "info": "PotenciaAtivaMinPeriodo\nPotenciaAtivaAccExport\nPotenciaAtivaAccImport\n",
        "x": 1200,
        "y": 260,
        "wires": []
    },
    {
        "id": "2bbe842d5af65696",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "AllData_MM07",
        "func": "// Lê o snapshot consolidado\nconst all = global.get('pac3100_allValues') || {};\n\n// Pode estar como chave numérica (7) ou string (\"7\")\nconst pac7 = all[1] || all[\"1\"];\n\nif (!pac7) {\n    // Ainda não tem nada do PAC 7\n    msg.payload = {\n        info: \"Sem dados para PAC 7 ainda\",\n        pacs_disponiveis: Object.keys(all)\n    };\n} else {\n    // Manda só os valores do PAC 7\n    msg.payload = pac7;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "e71003eb5eadacef"
            ]
        ]
    },
    {
        "id": "e71003eb5eadacef",
        "type": "function",
        "z": "5d3490b53bdd7579",
        "name": "Filtro MM07",
        "func": "const src = msg.payload || {};\n\nnode.send([\n    { topic: \"MM01_Import\",   payload: parseFloat(src.PotenciaAtivaAccImport  || 0) },\n    { topic: \"MM01_Export\",   payload: parseFloat(src.PotenciaAtivaAccExport  || 0) },\n    { topic: \"MM01_MaxPer\",   payload: parseFloat(src.PotenciaAtivaMaxPeriodo || 0) }\n]);\n\nreturn null;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 540,
        "wires": [
            [
                "dff9c2c8eaac02d0"
            ],
            [
                "dff9c2c8eaac02d0"
            ],
            [
                "dff9c2c8eaac02d0"
            ]
        ]
    },
    {
        "id": "01cc7381fda022ac",
        "type": "inject",
        "z": "5d3490b53bdd7579",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "2bbe842d5af65696"
            ]
        ]
    },
    {
        "id": "dff9c2c8eaac02d0",
        "type": "ui-chart",
        "z": "5d3490b53bdd7579",
        "group": "ef28c17f046038e6",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "HH:mm:ss",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 910,
        "y": 540,
        "wires": [
            []
        ]
    }
]