node-red/flows.json
[
    {
        "id": "7fcce0d567df70a1",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30ab3121914b7e6f",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Tensão L1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 510,
        "y": 460,
        "wires": [
            [
                "63cd26cd6ab3ded0"
            ],
            []
        ]
    },
    {
        "id": "63cd26cd6ab3ded0",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 2",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n // Create a Buffer object from the raw byte array\n // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n const buf = Buffer.from(msg.responseBuffer.buffer);\n\n // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n const floatValue = buf.readFloatBE(0);\n\n // Round to 2 decimal places\n msg.payload = parseFloat(floatValue.toFixed(2));\n\n // Optional: Log the result for debugging\n // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n // Handle cases where the buffer is missing or too short\n node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n // Set payload to null or keep it as is, depending on desired error handling\n msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "8a8af14e1ee72c23"
            ]
        ]
    },
    {
        "id": "1e9ceac81e75e247",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Tensão L2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "17028704c14c13c5"
            ],
            []
        ]
    },
    {
        "id": "f01a18b4e49e354c",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Tensão L3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "5",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "e3a97a4ebe869da4"
            ],
            []
        ]
    },
    {
        "id": "17028704c14c13c5",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 3",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n // Create a Buffer object from the raw byte array\n // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n const buf = Buffer.from(msg.responseBuffer.buffer);\n\n // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n const floatValue = buf.readFloatBE(0);\n\n // Round to 2 decimal places\n msg.payload = parseFloat(floatValue.toFixed(2));\n\n // Optional: Log the result for debugging\n // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n // Handle cases where the buffer is missing or too short\n node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n // Set payload to null or keep it as is, depending on desired error handling\n msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 500,
        "wires": [
            [
                "8a8af14e1ee72c23"
            ]
        ]
    },
    {
        "id": "e3a97a4ebe869da4",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 4",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n // Create a Buffer object from the raw byte array\n // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n const buf = Buffer.from(msg.responseBuffer.buffer);\n\n // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n const floatValue = buf.readFloatBE(0);\n\n // Round to 2 decimal places\n msg.payload = parseFloat(floatValue.toFixed(2));\n\n // Optional: Log the result for debugging\n // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n // Handle cases where the buffer is missing or too short\n node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n // Set payload to null or keep it as is, depending on desired error handling\n msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 540,
        "wires": [
            [
                "8a8af14e1ee72c23",
                "efbc890f4eb77505"
            ]
        ]
    },
    {
        "id": "384e2f93cf48c233",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 5",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet SE03_MM01_TensaoL1 = flow.get('SE03_MM01_TensaoL1') || [];\nSE03_MM01_TensaoL1.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('SE03_MM01_TensaoL1', SE03_MM01_TensaoL1);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "e3d116815126c862",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 6",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet SE03_MM01_TensaoL2 = flow.get('SE03_MM01_TensaoL2') || [];\nSE03_MM01_TensaoL2.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('SE03_MM01_TensaoL2', SE03_MM01_TensaoL2);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 200,
        "wires": []
    },
    {
        "id": "6c0fb03f6cafaaf5",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 7",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet SE03_MM01_TensaoL3 = flow.get('SE03_MM01_TensaoL3') || [];\nSE03_MM01_TensaoL3.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('SE03_MM01_TensaoL3', SE03_MM01_TensaoL3);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "332714174817472b",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Corrente L1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "13",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "ae03965f893c1479"
            ],
            []
        ]
    },
    {
        "id": "ae03965f893c1479",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 9",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n // Create a Buffer object from the raw byte array\n // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n const buf = Buffer.from(msg.responseBuffer.buffer);\n\n // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n const floatValue = buf.readFloatBE(0);\n\n // Round to 2 decimal places\n msg.payload = parseFloat(floatValue.toFixed(2));\n\n // Optional: Log the result for debugging\n // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n // Handle cases where the buffer is missing or too short\n node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n // Set payload to null or keep it as is, depending on desired error handling\n msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 340,
        "wires": [
            [
                "8a8af14e1ee72c23",
                "ce35f7063ef5d82d"
            ]
        ]
    },
    {
        "id": "3afe3d7ee6455476",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Corrente L2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "e7ec2421b5d2accc"
            ],
            []
        ]
    },
    {
        "id": "e8ef915c88a66d19",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Corrente L3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "17",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "e759b76ca5eafbc9"
            ],
            []
        ]
    },
    {
        "id": "e7ec2421b5d2accc",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 10",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n // Create a Buffer object from the raw byte array\n // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n const buf = Buffer.from(msg.responseBuffer.buffer);\n\n // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n const floatValue = buf.readFloatBE(0);\n\n // Round to 2 decimal places\n msg.payload = parseFloat(floatValue.toFixed(2));\n\n // Optional: Log the result for debugging\n // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n // Handle cases where the buffer is missing or too short\n node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n // Set payload to null or keep it as is, depending on desired error handling\n msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 380,
        "wires": [
            [
                "8a8af14e1ee72c23"
            ]
        ]
    },
    {
        "id": "e759b76ca5eafbc9",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 11",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n // Create a Buffer object from the raw byte array\n // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n const buf = Buffer.from(msg.responseBuffer.buffer);\n\n // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n const floatValue = buf.readFloatBE(0);\n\n // Round to 2 decimal places\n msg.payload = parseFloat(floatValue.toFixed(2));\n\n // Optional: Log the result for debugging\n // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n // Handle cases where the buffer is missing or too short\n node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n // Set payload to null or keep it as is, depending on desired error handling\n msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "8a8af14e1ee72c23"
            ]
        ]
    },
    {
        "id": "4c3daa9d2d4fc7c7",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 12",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet SE03_MM01_CorrenteL1 = flow.get('SE03_MM01_CorrenteL1') || [];\nSE03_MM01_CorrenteL1.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('SE03_MM01_CorrenteL1', SE03_MM01_CorrenteL1);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 40,
        "wires": []
    },
    {
        "id": "19a8111d041264a6",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 13",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet SE03_MM01_CorrenteL2 = flow.get('SE03_MM01_CorrenteL2') || [];\nSE03_MM01_CorrenteL2.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('SE03_MM01_CorrenteL2', SE03_MM01_CorrenteL2);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 80,
        "wires": []
    },
    {
        "id": "08264296c5ff1170",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 14",
        "func": "// Guarda cada valor em um array separado no contexto de fluxo\nlet SE03_MM01_CorrenteL3 = flow.get('SE03_MM01_CorrenteL3') || [];\nSE03_MM01_CorrenteL3.push(msg.payload); // msg.payload aqui é só o valor do OEE\nflow.set('SE03_MM01_CorrenteL3', SE03_MM01_CorrenteL3);\nreturn null; // Não envia nada adiante por enquanto",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 120,
        "wires": []
    },
    {
        "id": "8a6e1650bd8d9c05",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Energia Ativa (Wh) - offset 801 (4 regs, double)",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "801",
        "quantity": "4",
        "server": "970194d4f1403ed2",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 620,
        "y": 640,
        "wires": [
            [
                "55fa6ab99ba8f5eb",
                "72319647c67bc6da"
            ],
            []
        ]
    },
    {
        "id": "1f440534a662cec4",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Energia Reativa (varh) - offset 805 (4 regs, double)",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "805",
        "quantity": "4",
        "server": "970194d4f1403ed2",
        "useIOFile": false,
        "ioFile": "",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "9030e14a9ce05c5a"
            ],
            []
        ]
    },
    {
        "id": "a932f6feb249d34e",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Len. período demanda (s) - 517",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "517",
        "quantity": "2",
        "server": "970194d4f1403ed2",
        "useIOFile": false,
        "ioFile": "",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "b1b5e4a9d7afe8ea"
            ],
            []
        ]
    },
    {
        "id": "1bfe09295fc17b4d",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Tempo desde início (s) - 519",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "519",
        "quantity": "2",
        "server": "970194d4f1403ed2",
        "useIOFile": false,
        "ioFile": "",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "x": 560,
        "y": 760,
        "wires": [
            [
                "d8636185e177d7b8"
            ],
            []
        ]
    },
    {
        "id": "55fa6ab99ba8f5eb",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "Decode Double BE → Wh / kWh",
        "func": "const b = msg.responseBuffer && msg.responseBuffer.buffer;\nif (!b || b.length < 8) { node.error('Sem 8 bytes no responseBuffer'); return null; }\nconst buf = Buffer.from(b);\nconst wh = buf.readDoubleBE(0); // energia ativa em Wh\nmsg.payload = {\n ts: new Date().toISOString(),\n metric: 'energy_active_wh',\n wh: wh,\n kwh: wh/1000\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 990,
        "y": 640,
        "wires": [
            [
                "790f86ae2ccec052",
                "8a8af14e1ee72c23",
                "b6b6d3cb8f38d7b4",
                "3579decf32eb1eaf"
            ]
        ]
    },
    {
        "id": "9030e14a9ce05c5a",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "Decode Double BE → varh / kvarh",
        "func": "const b = msg.responseBuffer && msg.responseBuffer.buffer;\nif (!b || b.length < 8) { node.error('Sem 8 bytes no responseBuffer'); return null; }\nconst buf = Buffer.from(b);\nconst varh = buf.readDoubleBE(0); // energia reativa em varh\nmsg.payload = {\n ts: new Date().toISOString(),\n metric: 'energy_reactive_varh',\n varh: varh,\n kvarh: varh/1000\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "6e3a0f809a06ac85",
                "8a8af14e1ee72c23",
                "b6b6d3cb8f38d7b4"
            ]
        ]
    },
    {
        "id": "b1b5e4a9d7afe8ea",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "Decode U32 BE → seconds (len)",
        "func": "const d = msg.responseBuffer && msg.responseBuffer.data;\nif (!d || d.length < 2) { node.error('Sem 2 regs para U32'); return null; }\n// regs são 16-bit: [Hi, Lo] → U32\nconst hi = d[0] >>> 0;\nconst lo = d[1] >>> 0;\nconst u32 = (hi << 16) + lo;\nmsg.payload = { ts: new Date().toISOString(), metric: 'demand_length_s', seconds: u32 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 720,
        "wires": [
            [
                "4d67c7f204093849",
                "8a8af14e1ee72c23",
                "b6b6d3cb8f38d7b4"
            ]
        ]
    },
    {
        "id": "d8636185e177d7b8",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "Decode U32 BE → seconds (elapsed)",
        "func": "const d = msg.responseBuffer && msg.responseBuffer.data;\nif (!d || d.length < 2) { node.error('Sem 2 regs para U32'); return null; }\nconst hi = d[0] >>> 0;\nconst lo = d[1] >>> 0;\nconst u32 = (hi << 16) + lo;\nmsg.payload = { ts: new Date().toISOString(), metric: 'demand_elapsed_s', seconds: u32 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 760,
        "wires": [
            [
                "69086ce6da5dac54",
                "8a8af14e1ee72c23",
                "b6b6d3cb8f38d7b4"
            ]
        ]
    },
    {
        "id": "790f86ae2ccec052",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 620,
        "wires": []
    },
    {
        "id": "6e3a0f809a06ac85",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 700,
        "wires": []
    },
    {
        "id": "4d67c7f204093849",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 740,
        "wires": []
    },
    {
        "id": "69086ce6da5dac54",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 780,
        "wires": []
    },
    {
        "id": "41497a55e1d6f782",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "d8636185e177d7b8"
        ],
        "uncaught": false,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "49e56a180e24b49c"
            ]
        ]
    },
    {
        "id": "49e56a180e24b49c",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "332714174817472b",
                "fba33797bdcafb99"
            ]
        ]
    },
    {
        "id": "4d872db7acf5e26e",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "3afe3d7ee6455476"
            ]
        ]
    },
    {
        "id": "a21fb5156ceda409",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "4c3daa9d2d4fc7c7"
        ],
        "uncaught": false,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "4d872db7acf5e26e"
            ]
        ]
    },
    {
        "id": "a231081ed2cbcc3a",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "e8ef915c88a66d19"
            ]
        ]
    },
    {
        "id": "a5e31704eca440c0",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "19a8111d041264a6"
        ],
        "uncaught": false,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "a231081ed2cbcc3a"
            ]
        ]
    },
    {
        "id": "1b2105d73e1f9fc5",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "30ab3121914b7e6f"
            ]
        ]
    },
    {
        "id": "bb55bc6194f633c8",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "08264296c5ff1170"
        ],
        "uncaught": false,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "1b2105d73e1f9fc5"
            ]
        ]
    },
    {
        "id": "301299723c283ec1",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "1e9ceac81e75e247"
            ]
        ]
    },
    {
        "id": "7ef8e730b0a9fe0a",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "384e2f93cf48c233"
        ],
        "uncaught": false,
        "x": 110,
        "y": 500,
        "wires": [
            [
                "301299723c283ec1"
            ]
        ]
    },
    {
        "id": "e02d44e26c708469",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "f01a18b4e49e354c"
            ]
        ]
    },
    {
        "id": "a8e757b0820bdc68",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "e3d116815126c862"
        ],
        "uncaught": false,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "e02d44e26c708469"
            ]
        ]
    },
    {
        "id": "9b9df05f17434df6",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "03720b837d1f0f61"
            ]
        ]
    },
    {
        "id": "715c5b49137f2b90",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "6c0fb03f6cafaaf5"
        ],
        "uncaught": false,
        "x": 110,
        "y": 580,
        "wires": [
            [
                "9b9df05f17434df6"
            ]
        ]
    },
    {
        "id": "8a412f5ef993bf4c",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 680,
        "wires": [
            [
                "1f440534a662cec4"
            ]
        ]
    },
    {
        "id": "16dbd4706f2b6997",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "55fa6ab99ba8f5eb"
        ],
        "uncaught": false,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "8a412f5ef993bf4c"
            ]
        ]
    },
    {
        "id": "d1bd5e2cde1e5d6e",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "a932f6feb249d34e"
            ]
        ]
    },
    {
        "id": "9636d5eb3f40c8c8",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "9030e14a9ce05c5a"
        ],
        "uncaught": false,
        "x": 110,
        "y": 720,
        "wires": [
            [
                "d1bd5e2cde1e5d6e"
            ]
        ]
    },
    {
        "id": "35a9a3f7a07bbb25",
        "type": "delay",
        "z": "7fcce0d567df70a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 760,
        "wires": [
            [
                "1bfe09295fc17b4d"
            ]
        ]
    },
    {
        "id": "9caf1831b31df619",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "b1b5e4a9d7afe8ea"
        ],
        "uncaught": false,
        "x": 110,
        "y": 760,
        "wires": [
            [
                "35a9a3f7a07bbb25"
            ]
        ]
    },
    {
        "id": "128fb506d1412d40",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "HB — Último dado coletado",
        "func": "// Marca timestamp SOMENTE quando o dado coletado é válido\n// Aceita payload number (corrente/tensão) ou objeto com campos de energia/demanda\nlet ok = false;\nconst v = msg && msg.payload;\nif (typeof v === 'number' && Number.isFinite(v)) ok = true;\nelse if (v && typeof v === 'object') {\n // seus decoders de energia/demanda mandam objetos com estes campos\n if ('metric' in v || 'wh' in v || 'kwh' in v || 'varh' in v || 'seconds' in v) ok = true;\n}\nif (ok) {\n flow.set('last_modbus_sample_ts', Date.now());\n flow.set('last_modbus_sample', v); // opcional, útil pra diagnóstico\n}\nreturn null; // não interfere no fluxo principal",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 80,
        "wires": [
            [
                "10b802554a4f3bd7"
            ]
        ]
    },
    {
        "id": "803eeafa7244d6c3",
        "type": "inject",
        "z": "7fcce0d567df70a1",
        "name": "Watchdog 1 s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "c9702fccbb1e959a"
            ]
        ]
    },
    {
        "id": "c9702fccbb1e959a",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "Se >8 s sem dado ⇒ SHOT",
        "func": "const THRESH = 8000; // 8 s\nconst COOLDOWN = 5000; // evita tiros em sequência\n\nconst now = Date.now();\nconst last = flow.get('last_modbus_sample_ts') || 0;\nconst lastKick = flow.get('last_modbus_kick_ts') || 0;\nconst idle = now - last;\n\nnode.status({\n  fill: idle > THRESH ? 'red' : 'green',\n  shape: 'dot',\n  text: `idle ${Math.round(idle / 1000)}s`\n});\n\nif (idle > THRESH && (now - lastKick) > COOLDOWN) {\n  flow.set('last_modbus_kick_ts', now);\n  // dispara o início da cadeia (seu delay de 200 ms leva até Corrente L1)\n  return { payload: 'watchdog-kick' };\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 20,
        "wires": [
            [
                "49e56a180e24b49c"
            ]
        ]
    },
    {
        "id": "806c6914780296b4",
        "type": "link in",
        "z": "7fcce0d567df70a1",
        "name": "link in 1",
        "links": [
            "8a8af14e1ee72c23"
        ],
        "x": 75,
        "y": 80,
        "wires": [
            [
                "128fb506d1412d40",
                "e7323ffa9585d28d"
            ]
        ]
    },
    {
        "id": "8a8af14e1ee72c23",
        "type": "link out",
        "z": "7fcce0d567df70a1",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "806c6914780296b4"
        ],
        "x": 1325,
        "y": 500,
        "wires": []
    },
    {
        "id": "b6b6d3cb8f38d7b4",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "HB — Última coleta de CONSUMO",
        "func": "const v = msg && msg.payload;\nif (v && typeof v === 'object' && (\n v.metric === 'energy_active_wh' ||\n v.metric === 'energy_reactive_varh' ||\n v.metric === 'demand_length_s' ||\n v.metric === 'demand_elapsed_s'\n)) {\n // marcou uma coleta de consumo concluída\n flow.set('last_consumo_ts', Date.now());\n\n // libera a trava (coleta concluiu)\n flow.set('consumo_inflight_until', 0);\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "03720b837d1f0f61",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "Gate Consumo (≥15min?)",
        "func": "// --- Parâmetros ---\nconst PERIOD_MS = flow.get('consumo_period_ms') ?? (15 * 60 * 1000); // 15 min\nconst LOCK_MS = flow.get('consumo_lock_ms') ?? 60000;            // trava por até 60s\n\n// --- Estado ---\nconst now = Date.now();\nconst lastOK = flow.get('last_consumo_ts') || 0;          // última coleta OK\nconst lockUntil = flow.get('consumo_inflight_until') || 0;   // trava ativa até quando\nconst locked = now < lockUntil;\n\n// --- Decisão ---\nconst due = (now - lastOK >= PERIOD_MS) && !locked;\n\n// --- Status no editor ---\nlet txt;\nif (locked) {\n    const secs = Math.max(0, Math.floor((lockUntil - now) / 1000));\n    txt = `aguardando coleta atual (${secs}s)`;\n} else if (due) {\n    txt = 'coletar consumo';\n} else {\n    const mins = Math.max(0, Math.floor((PERIOD_MS - (now - lastOK)) / 60000));\n    txt = `pular (${mins}m)`;\n}\nnode.status({ fill: due ? 'green' : (locked ? 'blue' : 'yellow'), shape: 'dot', text: txt });\n\n// --- Saídas ---\nif (due) {\n    // ativa trava para evitar 2 coletas em paralelo\n    flow.set('consumo_inflight_until', now + LOCK_MS);\n    return [{ ...msg }, null];   // SAÍDA 1 → “Energia Ativa 801”\n}\n\nreturn [null, { payload: 'skip-consumo' }]; // SAÍDA 2 → bypass para Corrente L1\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 580,
        "wires": [
            [
                "8a6e1650bd8d9c05",
                "c228c6e3d07cc233"
            ],
            [
                "bc96986f84663f1d"
            ]
        ]
    },
    {
        "id": "bc96986f84663f1d",
        "type": "link out",
        "z": "7fcce0d567df70a1",
        "name": "bypass → Corrente L1",
        "mode": "link",
        "links": [
            "6c4b917dd4463d55"
        ],
        "x": 775,
        "y": 580,
        "wires": []
    },
    {
        "id": "6c4b917dd4463d55",
        "type": "link in",
        "z": "7fcce0d567df70a1",
        "name": "bypass → Corrente L1 (IN)",
        "links": [
            "bc96986f84663f1d"
        ],
        "x": 155,
        "y": 300,
        "wires": [
            [
                "49e56a180e24b49c"
            ]
        ]
    },
    {
        "id": "10b802554a4f3bd7",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "8f28e09bb97be6ba",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 8",
        "func": "let SE03_MM01_TensaoL1 = flow.get('SE03_MM01_TensaoL1') || [];\nlet SE03_MM01_TensaoL2 = flow.get('SE03_MM01_TensaoL2') || [];\nlet SE03_MM01_TensaoL3 = flow.get('SE03_MM01_TensaoL3') || [];\n\n\nfunction media(arr) {\n if(arr.length === 0) return null;\n return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n if (arr.length === 0) return null;\n let m = media(arr);\n let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n DateTime: agora,\n IDMaq: \"SE03_MM01\",\n TensaoL1: media(SE03_MM01_TensaoL1),\n TensaoL2: media(SE03_MM01_TensaoL2),\n TensaoL3: media(SE03_MM01_TensaoL3),\n \n};\n\n// Campos SÓ para debug/monitoramento\nmsg.SE03_MM01_TensaoL1Count = SE03_MM01_TensaoL1.length;\nmsg.SE03_MM01_TensaoL2Count = SE03_MM01_TensaoL2.length;\nmsg.SE03_MM01_TensaoL3Count = SE03_MM01_TensaoL3.length;\n\n\nmsg.SE03_MM01_TensaoL1Desvio = desvioPadrao(SE03_MM01_TensaoL1);\nmsg.SE03_MM01_TensaoL2Desvio = desvioPadrao(SE03_MM01_TensaoL2);\nmsg.SE03_MM01_TensaoL3Desvio = desvioPadrao(SE03_MM01_TensaoL3);\n\n\n// Limpa arrays\nflow.set('SE03_MM01_TensaoL1', []);\nflow.set('SE03_MM01_TensaoL2', []);\nflow.set('SE03_MM01_TensaoL3', []);\n\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "9662790d7040aca2"
            ]
        ]
    },
    {
        "id": "9ed17340809e28a8",
        "type": "inject",
        "z": "7fcce0d567df70a1",
        "name": "Varredura 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110.89582824707031,
        "y": 1017.9027709960938,
        "wires": [
            [
                "8f28e09bb97be6ba",
                "3b3152d88996b8e1"
            ]
        ]
    },
    {
        "id": "88c9a1c45cc3d818",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1020,
        "wires": []
    },
    {
        "id": "9662790d7040aca2",
        "type": "mongodb4",
        "z": "7fcce0d567df70a1",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "88c9a1c45cc3d818"
            ]
        ]
    },
    {
        "id": "3b3152d88996b8e1",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 15",
        "func": "let SE03_MM01_CorrenteL1 = flow.get('SE03_MM01_CorrenteL1') || [];\nlet SE03_MM01_CorrenteL2 = flow.get('SE03_MM01_CorrenteL2') || [];\nlet SE03_MM01_CorrenteL3 = flow.get('SE03_MM01_CorrenteL3') || [];\n\n\nfunction media(arr) {\n if(arr.length === 0) return null;\n return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction desvioPadrao(arr) {\n if (arr.length === 0) return null;\n let m = media(arr);\n let variancia = arr.reduce((acum, val) => acum + Math.pow(val - m, 2), 0) / arr.length;\n return Math.sqrt(variancia);\n}\n\nlet agora = new Date();\n\nmsg.payload = {\n DateTime: agora,\n IDMaq: \"SE03_MM01\",\n CorrenteL1: media(SE03_MM01_CorrenteL1),\n CorrenteL2: media(SE03_MM01_CorrenteL2),\n CorrenteL3: media(SE03_MM01_CorrenteL3),\n \n};\n\n// Campos SÓ para debug/monitoramento\nmsg.SE03_MM01_CorrenteL1Count = SE03_MM01_CorrenteL1.length;\nmsg.SE03_MM01_CorrenteL2Count = SE03_MM01_CorrenteL2.length;\nmsg.SE03_MM01_CorrenteL3Count = SE03_MM01_CorrenteL3.length;\n\n\nmsg.SE03_MM01_CorrenteL1Desvio = desvioPadrao(SE03_MM01_CorrenteL1);\nmsg.SE03_MM01_CorrenteL2Desvio = desvioPadrao(SE03_MM01_CorrenteL2);\nmsg.SE03_MM01_CorrenteL3Desvio = desvioPadrao(SE03_MM01_CorrenteL3);\n\n\n// Limpa arrays\nflow.set('SE03_MM01_CorrenteL1', []);\nflow.set('SE03_MM01_CorrenteL2', []);\nflow.set('SE03_MM01_CorrenteL3', []);\n\n\nmsg.operation = \"insertOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 940,
        "wires": [
            [
                "b510bec12462f6f3"
            ]
        ]
    },
    {
        "id": "b0a2f1a12e304496",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 940,
        "wires": []
    },
    {
        "id": "b510bec12462f6f3",
        "type": "mongodb4",
        "z": "7fcce0d567df70a1",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_EnergyData",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 940,
        "wires": [
            [
                "b0a2f1a12e304496"
            ]
        ]
    },
    {
        "id": "d54ac7f2bc8c8c69",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "ae03965f893c1479"
        ],
        "uncaught": false,
        "x": 890,
        "y": 40,
        "wires": [
            [
                "4c3daa9d2d4fc7c7"
            ]
        ]
    },
    {
        "id": "759231ac819b8379",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "e7ec2421b5d2accc"
        ],
        "uncaught": false,
        "x": 890,
        "y": 80,
        "wires": [
            [
                "19a8111d041264a6"
            ]
        ]
    },
    {
        "id": "32e34af6fd633c62",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "e759b76ca5eafbc9"
        ],
        "uncaught": false,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "08264296c5ff1170"
            ]
        ]
    },
    {
        "id": "d58dbddfdf03d9fc",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "63cd26cd6ab3ded0"
        ],
        "uncaught": false,
        "x": 890,
        "y": 160,
        "wires": [
            [
                "384e2f93cf48c233"
            ]
        ]
    },
    {
        "id": "3d72ecb36c62ea9c",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "17028704c14c13c5"
        ],
        "uncaught": false,
        "x": 890,
        "y": 200,
        "wires": [
            [
                "e3d116815126c862"
            ]
        ]
    },
    {
        "id": "c25c784e24d15019",
        "type": "complete",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "e3a97a4ebe869da4"
        ],
        "uncaught": false,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "6c0fb03f6cafaaf5"
            ]
        ]
    },
    {
        "id": "de90af801b97a051",
        "type": "catch",
        "z": "7fcce0d567df70a1",
        "name": "",
        "scope": [
            "8a6e1650bd8d9c05",
            "1f440534a662cec4",
            "a932f6feb249d34e",
            "1bfe09295fc17b4d"
        ],
        "uncaught": false,
        "x": 100,
        "y": 820,
        "wires": [
            [
                "cc82425a8fa15707"
            ]
        ]
    },
    {
        "id": "cc82425a8fa15707",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "consumo_error_unlock",
        "func": "// Em erro na coleta de consumo, libere a trava para permitir nova tentativa no próximo ciclo\nflow.set('consumo_inflight_until', 0);\n\n// Gera timestamp legível\nconst now = new Date();\nconst timeStr = now.toLocaleString();\n\n// Mostra status com data e hora\nnode.status({\n    fill: 'red',\n    shape: 'ring',\n    text: `erro consumo → libera trava @ ${timeStr}`\n});\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ce35f7063ef5d82d",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "fba33797bdcafb99",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "3579decf32eb1eaf",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 1",
        "func": "// Espera msg.payload = { ts, metric, wh, kwh } vindo do \"Decode Double BE → Wh / kWh\"\n\nconst p = msg.payload || {};\nconst ts = p.ts || new Date().toISOString();\n\n// 1) Captura leitura atual (prioriza Wh; se não tiver, usa kWh e converte p/ Wh)\nlet atualWh = Number.isFinite(p.wh) ? Number(p.wh)\n    : (Number.isFinite(p.kwh) ? Number(p.kwh) * 1000 : NaN);\n\nif (!Number.isFinite(atualWh)) {\n    node.error(\"Leitura inválida do decoder (esperado payload.wh ou payload.kwh numéricos).\", msg);\n    return null;\n}\n\n// 2) Recupera última leitura\nconst prev = flow.get(\"prev_wh_total\");\nlet deltaWh = null;\nlet reset = false;\n\nif (Number.isFinite(prev)) {\n    deltaWh = atualWh - prev;\n    if (deltaWh < 0) {          // reset/overflow detectado\n        deltaWh = 0;\n        reset = true;\n    }\n}\n\n// 3) Atualiza memória para próxima varredura\nflow.set(\"prev_wh_total\", atualWh);\n\n// 4) Monta payload final p/ banco\nmsg.payload = {\n    DateTime: ts,                                // mantém timestamp do decoder\n    wh_total: Math.round(atualWh),         // se quiser manter fração, remova o round\n    kwh_intervalo: deltaWh == null ? null : (deltaWh / 1000),\n    reset_flag: reset\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 840,
        "wires": [
            [
                "1c01b92697359ec5"
            ]
        ]
    },
    {
        "id": "b1cf43179d26476a",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e7323ffa9585d28d",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 120,
        "wires": []
    },
    {
        "id": "efbc890f4eb77505",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 560,
        "wires": []
    },
    {
        "id": "c228c6e3d07cc233",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "72319647c67bc6da",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 820,
        "wires": []
    },
    {
        "id": "1c01b92697359ec5",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 16",
        "func": "// Espera msg.payload vindo da function 1 neste formato:\n// {\n//   DateTime: \"2025-12-05T18:17:59.169Z\",\n//   wh_total: 64876281,\n//   kwh_intervalo: 3.5168...,\n//   reset_flag: false\n//   ... (outros campos podem existir, mas são ignorados aqui)\n// }\n\nconst p = msg.payload || {};\n\n// Validações simples\nif (!p.DateTime || !Number.isFinite(p.wh_total)) {\n    node.error(\"Payload de consumo inválido (esperado DateTime + wh_total).\", msg);\n    return null;\n}\n\n// 1) Documento que será gravado no Mongo\nconst doc = {\n    // Grava como Date real (Mongo registra como BSON Date)\n    //  Se preferir guardar string ISO, troque por: DateTime: p.DateTime\n    DateTime: new Date(p.DateTime),\n\n    IDMaq: \"SE03_MM01\",               // ajuste para o ID da máquina que você quiser\n    wh_total: Math.round(p.wh_total), // arredondar ou não, você escolhe\n    kwh_intervalo: p.kwh_intervalo,   // pode ser null na primeira leitura, ok\n    reset_flag: !!p.reset_flag,       // garante booleano\n\n    // Campos extras se quiser:\n    // fonte: \"PAC3100\",\n    // observacao: \"consumo intervalo 15min\"\n};\n\n// 2) mongodb4 espera um array de argumentos → [doc]\nmsg.payload = [doc];\n\n// 3) Define operação\nmsg.operation = \"insertOne\";\n\n// 4) (Opcional) define coleção por mensagem\n//    Comente essa linha se preferir setar a coleção direto no nó mongodb4\nmsg.collection = \"AMG_Consumo\";   // ou \"AMG_EnergyData\", como você preferir\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 840,
        "wires": [
            [
                "90ec8b0336e80225"
            ]
        ]
    },
    {
        "id": "90ec8b0336e80225",
        "type": "mongodb4",
        "z": "7fcce0d567df70a1",
        "clientNode": "fc161e80a8dc4243",
        "mode": "collection",
        "collection": "AMG_Consumo",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1530,
        "y": 920,
        "wires": [
            [
                "b1cf43179d26476a"
            ]
        ]
    },
    {
        "id": "bd6690fb980c1de7",
        "type": "modbus-getter",
        "z": "7fcce0d567df70a1",
        "name": "Corrente L1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "53",
        "quantity": "2",
        "server": "50fc5c2a64d40a1e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "681311c6a44e4879"
            ],
            []
        ]
    },
    {
        "id": "681311c6a44e4879",
        "type": "function",
        "z": "7fcce0d567df70a1",
        "name": "function 17",
        "func": "// Node-RED Function Node Code\n// Expects msg.responseBuffer.buffer to contain the raw bytes from Modbus\n\n// Example input based on your provided message:\n// msg.payload = [17139, 655];\n// msg.responseBuffer = { data: [ 17139, 655 ], buffer: [ 66, 243, 2, 143 ] };\n\n// Check if the necessary buffer exists\nif (msg.responseBuffer && msg.responseBuffer.buffer && msg.responseBuffer.buffer.length >= 4) {\n // Create a Buffer object from the raw byte array\n // The PAC3100 seems to send the bytes in Big-Endian order already [MSB_reg1, LSB_reg1, MSB_reg2, LSB_reg2]\n const buf = Buffer.from(msg.responseBuffer.buffer);\n\n // Read the buffer as a 32-bit Big-Endian float starting at offset 0\n const floatValue = buf.readFloatBE(0);\n\n // Round to 2 decimal places\n msg.payload = parseFloat(floatValue.toFixed(2));\n\n // Optional: Log the result for debugging\n // node.log(\"Converted value: \" + msg.payload);\n\n} else {\n // Handle cases where the buffer is missing or too short\n node.error(\"Input message does not contain a valid responseBuffer.buffer\", msg);\n // Set payload to null or keep it as is, depending on desired error handling\n msg.payload = null;\n}\n\n// Pass the message object along the flow\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1160,
        "wires": [
            [
                "7ddff2860a733dc1"
            ]
        ]
    },
    {
        "id": "7ddff2860a733dc1",
        "type": "debug",
        "z": "7fcce0d567df70a1",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1160,
        "wires": []
    },
    {
        "id": "50fc5c2a64d40a1e",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.10",
        "tcpPort": "8899",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 500,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "970194d4f1403ed2",
        "type": "modbus-client",
        "name": "PAC3100_RS485_via_TCP",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.10",
        "tcpPort": "8899",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "19200",
        "serialDatabits": "8",
        "serialStopbits": "2",
        "serialParity": "even",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 2000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 1000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "fc161e80a8dc4243",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "host.docker.internal",
        "port": "27017",
        "dbName": "Cluster-EasyTek",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "25c987d53afcf33c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.43.0",
            "node-red-contrib-mongodb4": "3.1.1"
        }
    }
]